{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Cheque Return List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_cheque_return.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword4">Company Name</label>
                    <select NAME="txtkeyword4" ID="txtkeyword4" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword4}
                      
                  
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword5">Branch Name</label>
                    <select NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                  
                  
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Customer Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword2">Cheque No.</label>
                    <input type="text" class="form-control" name="txtkeyword2" id="txtkeyword2"
                                               value="{$reqkeyword2}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New" class="btn btn-success"
                                               onClick="location.href='lgl_cheque_return.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_cheque_return.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Company Name</th>
                <th>Branch Name</th>
                <th class="min-tablet">Customer Name</th>
                <th class="min-tablet">Cheque No.</th>
                <th class="min-tablet">Cheque Date</th>
                <th class="min-desktop" colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$cheque_return item="row"}
            <tr>
              <td>{$row.cnt}</td>
              <td>{$row.company_name}</td>
              <td>{$row.branch_name}</td>
              <td>{$row.customer_name}</td>
              <td>{$row.cheque_no}</td>
              <td>{$row.cheque_date}</td>
              <td ><p data-placement="top" data-toggle="tooltip" title="Edit">
                  <button class="btn btn-primary btn-xs" data-title="Edit" onClick="location.href='lgl_cheque_return.php?action=2&cheque_return_id={$row.cheque_return_id|escape}'"> <span class="glyphicon glyphicon-pencil"></span></button>
                </p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button class="btn btn-danger btn-xs" data-title="Delete" onClick="location.href='lgl_cheque_return.php?action=4&cheque_return_id={$row.cheque_return_id|escape}'" > <span class="glyphicon glyphicon-trash"></span></button>
                </p></td>
            </tr>
            {foreachelse}
            <tr>
              <td colspan="5">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<!--Fullscreen jQuery [ OPTIONAL ]-->
<script src="plugins/screenfull/screenfull.js"></script>
<!--DataTables Sample [ SAMPLE ]-->
<script src="js/demo/tables-datatables.js"></script>

{/literal}
{include file="layout/footer.htm"} 