{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Cheque Return Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_cheque_return.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcheque_return_id" value='{$row.cheque_return_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  onChange="javascript:fnchange_branch();">
                      <option value="">Select</option>
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                      
                    
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="divcustomer_name" class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                                                {html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$row.customer_id}
                      
                    
                    </select>
                  </div>
                </div>
                <div id="divcheque_no" class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque No.</label>
                    <select NAME="txtcheque_no" ID="txtcheque_no" class="form-control " onChange="javascript:fnchange_cheque_no();">
                      <option value="">Select</option>
                      
                                                {html_options values=$cheque_no_arr.cheque_no output=$cheque_no_arr.cheque_no selected=$row.cheque_no}
					
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="divcheque_date" class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque Date</label>
                    <input  id="txtcheque_date" name="txtcheque_date" type="text" class="form-control" value="{$row.cheque_date}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque Return Date</label>
                    <input NAME="txtcheque_return_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.cheque_return_date}"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque Return Reason</label>
                    <textarea id="txtcheque_return_reason"  name="txtcheque_return_reason" rows="3" class="form-control" placeholder="">{$row.cheque_return_reason}</textarea>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_cheque_return.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
	
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_custmoer() {
	
	if(document.getElementById("txtcustomer_id").value != ""){
	var	customer_id = document.getElementById("txtcustomer_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				cheque_no		 = xmlDoc.getElementsByTagName("cheque_no")[0].childNodes[0].nodeValue;
				document.getElementById("divcheque_no").innerHTML = cheque_no;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_cheque_no=1&customer_id="+customer_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_cheque_no() {
	
	if(document.getElementById("txtcheque_no").value != ""){
	var	cheque_no = document.getElementById("txtcheque_no").value;
	//alert(customer_id);
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
			 document.getElementById("txtcheque_date").value=xmlHttp.responseText;
				
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_cheque_date=1&cheque_no="+cheque_no;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
				
				
/*				complainant_name		 = xmlDoc.getElementsByTagName("complainant_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcomplainant_name").innerHTML = complainant_name;
				
				advocate_name		 = xmlDoc.getElementsByTagName("advocate_name")[0].childNodes[0].nodeValue;
				document.getElementById("divadvocate_name").innerHTML = advocate_name;

				agent_name		 = xmlDoc.getElementsByTagName("agent_name")[0].childNodes[0].nodeValue;
				document.getElementById("divagent_name").innerHTML = agent_name;
				
				court_name		 = xmlDoc.getElementsByTagName("court_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcourt_name").innerHTML = court_name;

				status_name		 = xmlDoc.getElementsByTagName("status_name")[0].childNodes[0].nodeValue;
				document.getElementById("divstatus_name").innerHTML = status_name;


				def_adv_name		 = xmlDoc.getElementsByTagName("def_adv_name")[0].childNodes[0].nodeValue;
				document.getElementById("divdef_adv_name").innerHTML = def_adv_name;
*/
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
    function fnSubmit() {
        if (document.frm_new.txtcompany_id.value == "") {
            alert("Please select Company Name");
            return false;
        }
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_cheque_return.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}