{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit User</strong></h3>
          </div>
          <form name="frm_new" action="lgl_user.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtuser_id" value='{$row.user_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " onChange="javascript:fnchange_branch();">
                      <option value="">Select</option>
                      
                      
                      
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                      
                    
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6" style="padding:0;">
                  <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6 form-group" >
                    <label class="control-label">Full Name</label>
                  </div>
                  <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6 form-group" >
                    <select NAME="txtmr_mrs" ID="txtmr_mrs" class="form-control " >
                      <option value="">Select</option>
                      <option value="1"{if $row.mr_mrs=='1'}selected="selected"{/if}>Mr.</option>
                      <option value="0"{if $row.mr_mrs=='0'}selected="selected"{/if}>Ms.</option>
                    </select>
                  </div>
                  <div class="col-sm-6 col-lg-9 col-xs-12 col-md-6 form-group">
                    <input name="txtuser_name" type="text" class="form-control" value="{$row.user_name}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Resident Adddress</label>
                    <textarea id="txtuser_address"  name="txtuser_address" rows="3" class="form-control" placeholder="">{$row.user_address}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Office Address</label>
                    <textarea id="txtoffice_address"  name="txtoffice_address" rows="3" class="form-control" placeholder="">{$row.office_address}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">City</label>
                    <input name="txtcity" type="text" class="form-control" value="{$row.city}">
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Zip Code</label>
                    <input name="txtzip_code" type="text" class="form-control" value="{$row.zip_code}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">State</label>
                    <input name="txtstate" type="text" class="form-control" value="{$row.state}">
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Country</label>
                    <input name="txtcountry" type="text" class="form-control" value="{$row.country}" >
                  </div>
                </div>
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Phone No.</label>
                    <input name="txttelephone_no" type="text" class="form-control" value="{$row.telephone_no}" >
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cell Phone No.</label>
                    <input name="txtmobile_phone_no" type="text" class="form-control" value="{$row.mobile_phone_no}" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Additional Information</label>
                    <textarea id="txtadd_info"  name="txtadd_info" rows="3" class="form-control" placeholder="">{$row.add_info}</textarea>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_user.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtuser_name.value == "") {
            alert("Please enter user Name");
            return false;
        }
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_user.php?action=5";
        document.frm_new.submit();
    }
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
	
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}