{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>User List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_user.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword2">Company Name</label>
                    <select NAME="txtkeyword2" ID="txtkeyword2" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword2}
                      
                  
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword5">Branch Name</label>
                    <select NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                  
                  
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">User Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Search"/>
                  <input type="button" value="Add New User" class="btn btn-success"
                                               onClick="location.href='lgl_user.php?action=1'">
                  <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_user.php'">
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Company Name</th>
                  <th>Branch Name</th>
                  <th class="min-desktop">User Name</th>
                  <th class="min-desktop">City</th>
                  <th class="min-desktop">Mobile No.</th>
                  <th class="min-desktop" align="center">Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$userdet item="row"}
              <tr>
                <td>{$row.cnt}</td>
                <td>{$row.company_name}</td>
                <td>{$row.branch_name}</td>
                <td>{$row.user_name}</td>
                <td>{$row.city}</td>
                <td>{$row.mobile_phone_no}</td>
                <td ><a href="lgl_user.php?action=2&user_id={$row.user_id|escape}"><span class="label label-success">Edit</span></a> <a href="lgl_user.php?action=4&user_id={$row.user_id|escape}"><span class="label label-danger">Delete</span></a></td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="7">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
                <tr >
                  <td colspan="7" >{$strPaging}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content--> 
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
{/literal}
{include file="layout/footer.htm"} 