{include file="layout/header_lgl.htm"}
<script src="includes/echitlegal_customer.js"></script>
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Payment Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_payment.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtpayment_id" value='{$row.payment_id}'>
            <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " disabled="disabled" onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " disabled="disabled"  >
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                      
                    
                    
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="divcustomer_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
					<input type="hidden" name="txtcustomer_id" id="txtcustomer_id" value="{$row.customer_id}">
                    <input type="text" name="txtSearchMemberName" id="txtSearchMemberName" readonly="readonly" class="form-control " value="{$customer_name}" >
                    
                    <!--<select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$row.customer_id}
                      
                    
                    
                    </select>-->
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input NAME="txtamount" class="form-control" value="{$row.amount}" />
                  </div>
                </div>
              </div>  
			  <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Payment Date</label>
                    <input NAME="txtpay_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" value="{$row.pay_date}"data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Payment By</label>
						<select name="txtpay_by" id="txtpay_by" class="form-control selectpicker" onChange="javascript:fnPaymentTypeChange();">
                              <option VALUE="">Select</option>
                              <option VALUE="1" {if $row.pay_by==1} selected {/if}>Cash</option>
                              <option VALUE="2" {if $row.pay_by==2} selected {/if}>Cheque</option>
                              <option VALUE="3" {if $row.pay_by==3} selected {/if}>Card/NEFT</option>
						</select>                
                </div>
              </div>
              </div>                          
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque No</label>
                    <input NAME="txtpay_cheque_no" id="txtpay_cheque_no" class="form-control" value="{$row.pay_cheque_no}"{if $row.pay_by!=2}disabled='disabled'{/if}/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque Date</label>
                    <input NAME="txtpay_cheque_date" id="txtpay_cheque_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.pay_cheque_date}" {if $row.pay_by!=2}disabled='disabled'{/if} />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Bank</label>
                    <select NAME="txtpay_cheque_bank" ID="txtpay_cheque_bank" class="form-control" {if $row.pay_by==1}disabled='disabled'{/if}>
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$bank_arr.BankID output=$bank_arr.Bankname selected=$row.pay_cheque_bank}
                      
                    
                    
                    
                    </select>
                  </div>
                </div>
              </div>
             </div>
            {/foreach}
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_payment.php'">Back</button>
            </div>
            
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
	//var	onchange 	= "fnchange_branch();"
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id+"&onchange="+onchange;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 


function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
				
				Bankname		 = xmlDoc.getElementsByTagName("Bankname")[0].childNodes[0].nodeValue;
				document.getElementById("divBankname_str").innerHTML = Bankname;

				DepositedBank		 = xmlDoc.getElementsByTagName("DepositedBank")[0].childNodes[0].nodeValue;
				document.getElementById("Deposited_Bankname_str").innerHTML = DepositedBank;

			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

	function fnPaymentTypeChange(){
		var ctrl_payment = document.getElementById("txtpay_by");
		var payment_type = ctrl_payment.options[ctrl_payment.selectedIndex].text;
		if ((payment_type == "Cheque")){   
			document.getElementById("txtpay_cheque_no").disabled=false;
			document.getElementById("txtpay_cheque_date").disabled=false;
			//document.getElementById("txtbankname").disabled=false; 
			document.getElementById("txtpay_cheque_bank").disabled=false; 
		}else if (payment_type == "Card/NEFT"){   
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=false;  
			document.getElementById("txtpay_cheque_bank").disabled=false; 
			
		}else{
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=true;  
			document.getElementById("txtpay_cheque_bank").disabled=true; 
	}
	}
    function fnSubmit() {
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_payment.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}