{include file="layout/header_lgl.htm"}
<script src="includes/echitlegal_customer.js"></script>
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Payment Entry</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_payment.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword4">Company Name</label>
                    <select NAME="txtkeyword4" ID="txtkeyword4" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                      
                      
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword4}
                      
                  
                    
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword5">Branch Name</label>
                    <select NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                      
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                  
                  
                    
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divcustomer_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Customer Name</label>
                    <input type="text" NAME="txtkeyword" ID="txtkeyword" class="form-control" value="{$reqkeyword}"/>
                  </div>
                </div>
				<div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>                
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New" class="btn btn-success"
                                               onClick="location.href='lgl_payment.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_payment.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Company Name</th>
                  <th>Branch Name</th>
                  <th>Customer Name</th>
                  <th>Amount</th>
                  <th>Payment By</th>
                  <th>Payment Date</th>
                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$payment item="row"}
              <tr>
                <td>{$row.cnt}</td>
                <td>{$row.company_name}</td>
                <td>{$row.branch_name}</td>
                <td>{$row.customer_name}</td>
                <td>{$row.amount}</td>
                <td>{if $row.pay_by==1}Cash {elseif $row.pay_by==2}Cheque {else}Card/NEFT {/if} </td>
                <td>{$row.pay_date}</td>
<td >
                  <a href="lgl_payment.php?action=2&payment_id={$row.payment_id|escape}"><span class="label label-success">Edit</span></a>
                  <a href="lgl_payment.php?action=4&payment_id={$row.payment_id|escape}"><span class="label label-danger">Delete</span></a> 
                </td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="8">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
              <tr >
                <td colspan="8" >{$strPaging}</td>
              </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	if(document.getElementById("txtkeyword4").value != ""){
	var	company_id = document.getElementById("txtkeyword4").value;
	ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?branch=1&company_id="+company_id;
//alert(url_1);	
xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/datatables/media/js/jquery.dataTables.js"></script> 
<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script> 
<script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--DataTables Sample [ SAMPLE ]--> 
<script src="js/demo/tables-datatables.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 