{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Branch List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_branch.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword3">Company Name</label>
                    <select NAME="txtkeyword3" ID="txtkeyword3" class="form-control " >
                      <option value="">Select</option>
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword3}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Branch Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
				<div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>

                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New branch" class="btn btn-success"
                                               onClick="location.href='lgl_branch.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_branch.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            
            <table class="table table-bordered">
            <thead>
              <tr>
                <th >Sr.No</th>
                <th >Company</th>
				<th >Branch</th>
                <th width="450">Address</th>
                <th >Branch Manager</th>
                <th >Contact No.</th>
                <th >Action</th>
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$branch item="row"}
            <tr>
              <td>{$row.cnt}</td>
			  <td>{$row.company_det}</td>
              <td>{$row.branch_name}</td>
              <td>{$row.branch_address}</td>
              <td>{$row.branch_mgr_name}</td>
              <td>{$row.branch_contact_no}</td>
   			  <td>
                  <a href="lgl_branch.php?action=2&branch_id={$row.branch_id|escape}"><span class="label label-success">Edit</span></a>
                  <a href="lgl_branch.php?action=4&branch_id={$row.branch_id|escape}"><span class="label label-danger">Delete</span></a> 
               </td>              
            </tr>
            {foreachelse}
            <tr>
              <td colspan="7">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
              <tfoot>
              <tr >
                <td colspan="7" >{$strPaging}</td>
              </tr>
            </tfoot>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 