{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Branch</strong></h3>
          </div>
          <form name="frm_new" action="lgl_branch.php" enctype="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtbranch_id" value='{$row.branch_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " value="{$row.company_id}">
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                                            
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Name</label>
                    <input name="txtbranch_name" type="text" class="form-control" value="{$row.branch_name}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Address</label>
					<textarea id="txtbranch_address"  name="txtbranch_address" rows="3" class="form-control" placeholder="">{$row.branch_address}</textarea>                    
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Registrar's Name</label>
                    <input name="txtchit_registrar_name" type="text" class="form-control" value="{$row.chit_registrar_name}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Manager Name</label>
                    <input name="txtbranch_mgr_name" type="text" class="form-control" value="{$row.branch_mgr_name}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input name="txtbranch_contact_no" type="text" class="form-control" value="{$row.branch_contact_no}">
                  </div>
                </div>
              </div>
              
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="submit" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_branch.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<!--===================================================--> 
<!--END CONTENT CONTAINER--> 
{literal} 
<script language="javascript">
		function fnSubmit(){
        if (document.frm_new.txtbranch_name.value == "") {
            alert("Please enter Branch Name");
            return false;
        }
        if (document.frm_new.txtbranch_address.value == "") {
            alert("Please enter Branch Address");
            return false;
        }
        if (document.frm_new.txtbranch_contact_no.value == "") {
            alert("Please enter Contact No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_branch.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 

{/literal}

{include file="layout/footer.htm"}