{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add New Branch</strong></h3>
          </div>
          <form name="frm_new" action="lgl_branch.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " >
                      <option value="">Select</option>
                      
                    
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=""}
                                            
                    
                  
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Name</label>
                    <input name="txtbranch_name" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Address</label>
					<textarea id="txtbranch_address"  name="txtbranch_address" rows="3" class="form-control" placeholder=""></textarea>                    
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Registrar's Name</label>
                    <input name="txtchit_registrar_name" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Manager Name</label>
                    <input name="txtbranch_mgr_name" type="text" class="form-control" >
                  </div>
                </div>
             <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input name="txtbranch_contact_no" type="text" class="form-control" >
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_branch.php'">Back</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtbranch_name.value == "") {
            alert("Please enter branch Name");
            return false;
        }
        if (document.frm_new.txtbranch_address.value == "") {
            alert("Please enter branch Address");
            return false;
        }
        if (document.frm_new.txtbranch_contact_no.value == "") {
            alert("Please enter Contact No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_branch.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}