{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Internal Note Entry</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_upload_documents.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Customer Name</label>
                    <select NAME="txtkeyword" ID="txtkeyword" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$custmor_arr.customer_id output=$custmor_arr.customer_name selected=$reqkeyword}
                  
                  
                    
                    
                    </select>
                  </div>
                </div>
                
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New" class="btn btn-success"
                                               onClick="location.href='lgl_upload_documents.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_upload_documents.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Customer Name</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$upload_documents item="row"}
            <tr>
              <td>{$row.cnt}</td>
              <td>{$row.customer_name}</td>
			  <td ><p data-placement="top" data-toggle="tooltip" title="Edit">
                  <button class="btn btn-primary btn-xs" data-title="Edit" onClick="location.href='lgl_upload_documents.php?action=2&upload_documents_id={$row.upload_documents_id|escape}'"> <span class="glyphicon glyphicon-pencil"></span></button>
                </p></td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button class="btn btn-danger btn-xs" data-title="Delete" onClick="location.href='lgl_upload_documents.php?action=4&upload_documents_id={$row.upload_documents_id|escape}'" > <span class="glyphicon glyphicon-trash"></span></button>
                </p></td>
            </tr>
            {foreachelse}
            <tr>
              <td colspan="5">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
            
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 


<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 

<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<!--Fullscreen jQuery [ OPTIONAL ]-->
<script src="plugins/screenfull/screenfull.js"></script>
<!--DataTables Sample [ SAMPLE ]-->
<script src="js/demo/tables-datatables.js"></script>

{/literal}
{include file="layout/footer.htm"} 