{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-4 col-md-offset-4">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit upload_documents Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_upload_documents.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtupload_documents_id" value='{$row.upload_documents_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                      
                      
                                                {html_options values=$custmor_arr.customer_id output=$custmor_arr.customer_name selected=$row.customer_id}
                      
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_0">
                  <div class="form-group">
                    <label class="control-label">Document</label>{$row.document}
					<img src='doc/{$row.document}' height="60" width="60">	 			  
				    <input name="document" type="hidden" class="NormalFontBlack" size="20" value="{$row.document}">
	 			    <input name="userfile1" type="file" class="TextBox" size="35" />
                   </div>
                </div>
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_upload_documents.php'">Back</button>
            </div>
            
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
	function fnupload_documentsTypeChange(){
		var ctrl_upload_documents = document.getElementById("txtpay_by");
		var upload_documents_type = ctrl_upload_documents.options[ctrl_upload_documents.selectedIndex].text;
		if ((upload_documents_type == "Cheque")){   
			document.getElementById("txtpay_cheque_no").disabled=false;
			document.getElementById("txtpay_cheque_date").disabled=false;
			//document.getElementById("txtbankname").disabled=false; 
			document.getElementById("txtpay_cheque_bank").disabled=false; 
		}else if (upload_documents_type == "Card/NEFT"){   
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=false;  
			document.getElementById("txtpay_cheque_bank").disabled=false; 
			
		}else{
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=true;  
			document.getElementById("txtpay_cheque_bank").disabled=true; 
	}
	}
    function fnSubmit() {
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_upload_documents.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}