{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-4 col-md-offset-4">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add Internal Note Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_upload_documents.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                      
                      
                                                {html_options values=$custmor_arr.customer_id output=$custmor_arr.customer_name selected=""}
                      
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_0">
                  <div class="form-group">
                    <label class="control-label">Document</label>
                    {assign var=doc_type value=$arr_own_proof[0]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                    <input name="userfile_0" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                    {/if} </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_upload_documents.php'">Back</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
	function fnSubmit() {
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_upload_documents.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}
{include file="layout/footer.htm"}