{foreach from=$data item="row"}
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">




    <tbody>



<tr>



<td height="250" align="center"><br></td>



</tr>



  <tr>



    <td align="center"><strong>
      <u>
        IN  THE COURT OF HONOURABLE {$row.court_name} AT  {$row.court_address}
      </u></strong></td>



  </tr>



  <tr>



    <td align="right">Cri. Case No.         /2018</td>



  </tr>



  <tr>



    <td align="right">&nbsp;</td>



  </tr>



  <tr>



    <td align="center">&nbsp;</td>



  </tr>



  <tr>



  </tr>



<tr>



    <td align="left"><strong>{$row.company_name}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.................................................Complainant</td>



  </tr>



  <tr>
    <td height="10" align="LEFT">&nbsp;</td>
  </tr>
  <tr>



    <td height="10" align="LEFT"><strong>V/S</strong></td>



  </tr>



  <tr>
    <td height="10" align="LEFT">&nbsp;</td>
  </tr>
  <tr>
    <td align="left"><strong>{$row.customer_name}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.................................................Accused.</td>
  </tr>



  <tr>
    <td height="10" align="LEFT">&nbsp;</td>
  </tr>
  <tr>
    <td height="10" align="LEFT">&nbsp;</td>
  </tr>
  <tr>
    
    
    
    <td height="10" align="center"><strong><u>VERIFICATION AFFIDAVIT</u></strong></td>
    
    
    
  </tr>



  <tr>
    <td height="10" align="LEFT">&nbsp;</td>
  </tr>
  <tr>



    <td height="10" align="LEFT">I Mr.{$row.complainant_name}, Age: {$row.complainant_age} yrs, Occ-{$row.occupation}, Office Address: {$row.off_address}, the authorized representative of {$row.company_name}, do hereby state and declare on solemn affirmation my verification affidavit as hereunder:</td>



  </tr>



  <tr>



    <td height="10">1)  That I have been appointed and authorized by the complainant company to file and act on their behalf. </td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



    <td height="10">2)  That the complainant is a Private Limited company, engaged in “Chit Business” and is registered and incorporated under the Companies Act, 1956 and also registered under Chit Funds Act,1982 (40 of 1982). </td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>
    
    
    
    <td height="10">3)  The said accused approached the company to became its member in a “chit group” and thereby entered into a “Chit agreement” with the complainant company on {$row.agreement_date} and has agreed to subscribe with a monthly subscription of {$row.monthly_sub}/- (Rupees {$row.textmonthly_sub} Only) payable every month regularly from {$row.start_month} {$row.start_year} to {$row.end_month} {$row.end_year}, consisted {$row.chit_period} monthly installments, for a “chit amount” of {$row.chit_value}/- (Rupees {$row.textChitValue} Only). The Accused has enrolled in the Chit Group No. {$row.chit_group_no}, Ticket No. {$row.ticket_no} vide Chit Registration No. {$row.chit_reg_no} dated {$row.commencinf_from}.</td>
    
    
    
  </tr>



  </tbody>



</table>



<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">



    <tbody>



<tr>



<td height="150" align="center"><br></td>




 </tr>



  <tr>



    <td height="10">4)  The said accused has participated in  the monthly auction/draw for the Chit amount for the purpose of determining  priority disbursement of prize chit value on {$row.auction_date} and offered to forego a  &ldquo;discount&rdquo; of {$row.auction_amount}/- (Rupees {$row.textauction_amount} Only) from the  chit amount. The accused has received the &ldquo;Prize amount&rdquo; from the complainant&rsquo;s  company through Cheque No {$row.cust_cheque_no} dated {$row.cust_cheque_date} drawn on {$row.cust_drawn_on},  PIMPRI BRANCH, PUNE-18, for the sum of {$row.payment_amount}/- (Rupees {$row.textpayment_amount} Only) and the accused acknowledge the receipt of the total Chit Value  of {$row.chit_value}/- (Rupees {$row.textChitValue} Only) from the complainant Company by  executing various documents.</p></td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



    <td height="10">5)  That as per the terms and conditions of the &ldquo;Chit agreement&rdquo; the accused is bound to  pay the monthly installments of {$row.monthly_sub}/- every month regularly on or before  the due date of every month for a period of {$row.chit_period} months, but the accused has paid  only {$row.installments_cCleared} monthly installments and there is an outstanding amount of {$row.pending_amount}/- (Rupees {$row.textpending_amount} Only) towards prized chit and the  accused became defaulter in paying the monthly installments in the said Chit  group</a>.</td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



    <td height="10">6)  That the accused, thereby in discharge of the legally enforceable liability to pay  the monthly subscription, issued the Cheque No ``{$row.cheque_no}`` dated: {$row.cheque_date} for  the sum of {$row.ch_amount}/- (Rupees {$row.textch_amount} Only) drawn  on {$row.drawn_on} Branch in the name of the  Complainant Company. The Complainant company deposited the said cheque in its  Bank namely &ldquo;{$row.ch_deposited_at}, but the said cheque  was returned unpaid by its banker on {$row.cheque_return_date} with the remark &ldquo;{$row.cheque_return_reason}&rdquo; and memo about the same has been received by the Complainant  Company on {$row.cheque_return_date} and putting the accused signature therein in discharge of  the legally enforceable liability.</td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



    <td height="10">7)  That the Complainant sent the  legal demand notice dated {$row.send_on} through Advocate by Registered A.D. at the known  address of the accused on {$row.ack_received_on}. That the ``ACKNOWLEDGEMENT CARD`` has  come back to the advocate on 07.01.2017. That the accused is very well aware  about the legal liability to pay the amount covered by the cheque. </td>



  </tr>
  </tbody>



</table>



<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">



    <tbody>



<tr>



<td height="150" align="center"><br></td>




 </tr>




  <tr>



    <td height="10">8)  That the issuance of Cheque by the accused without having sufficient funds in the  bank is an act which has been done deliberately, mischievously and malafidely  with an intention to cheat the complainant company. The accused was aware of  the said act that on presentation, the cheque would never be honored because of  insufficiency of funds in his account.</td>



  </tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



    <td height="10">9)  The accused has failed to make payment of {$row.ch_amount}/- (Rupees {$row.textch_amount} Only) within 15 days from the receipt of statutory notice</p></td>



</tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>



  <td height="10">10)  The complainant submits that he had presented the Cheque within the time limit  prescribed by the Negotiable instrument Act 1981 and the dishonored Cheque was  issued by the accused without maintaining sufficient funds in the account.  Further the accused have failed to make the payment of the sum covered under  the dishonored Cheque within 15 days from the date of receipt of the notice of  demands. Therefore, the accused have committed the offence under section 138 of  the Negotiable Instrument Act 1881.</td>



</tr>



  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>
  <td height="10">11)  That the cause of action for the present complaint arose when the accused failed to make the payment of the above said amount of money to the complainant within 15 days from the receipt of the statutory notice dated {$row.received_on}.</td>
</tr>
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <tr>
  <td height="10">It is therefore prayed by the Complainant that</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">a) The present complaint may kindly be registered by the Hon&rsquo;ble court and action may  be initiated against the accused under sec 138 of the N.I. Act.</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">b) The accused be summoned, tried and punished in accordance with the law for the  offence committed by him.</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">c) That double the cheque amount may kindly be awarded.</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">d) Necessary compensation may please be awarded to the complainant.</td>
</tr>
  </tbody>



</table>



<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">



    <tbody>



<tr>



<td height="150" align="center"><br></td>




 </tr>

<tr>
  <td height="10" align="center"><strong>VERIFICATION</strong></td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">Verified the contents stated in Paragraph No. 1 to 12 of the above affidavit are true and correct to the best of my knowledge, belief and information. And solemnly affirmed and signed before me on this the …….day of ….,2018…...&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complainant: {$row.complainant_name}</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">&nbsp;</td>
</tr>
<tr>
  <td height="10">Dated:{$date}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advocate: {$row.advocate_name}</td>
</tr>
</tbody>
</table>



{/foreach}