{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add New Draft</strong></h3>
          </div>
          <form name="frm_new" action="lgl_report_draft.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              
              <div class="row">
			  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6"></div>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Reoprt Name</label>
                    <select NAME="txtreport_name" ID="txtreport_name" class="form-control " >
                      <option value="">Select</option>
                      <option value="1">Documents</option>
                      <option value="2">Legal Notice</option>
                      <option value="3">138 Notice</option>
                      <option value="4">Complaint</option>
                      <option value="5">Verification Affidavit</option>
                      <option value="6">Chief Affidavit</option>
                      <option value="7">Summons</option>
                      <option value="8">Case Summary</option>
                      <option value="9">Recovery Certificate</option>
					</select>
                    
                  </div>
                </div>
			  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6"></div>
                <div class="col-xs-12 col-md-9 col-lg-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <!-- Multiple Select Choosen -->
                                        <!--===================================================-->
                                        <form class="form-horizontal form-bordered">
                                            
                                            <!--Summernote-->
                                            <!--===================================================-->
                                            <div id="demo-summernote">
<!--                    							<textarea id="txtreport_draft"  name="txtreport_draft" rows="1" class="form-control" placeholder=""></textarea>
-->                                            </div>
                                            <div class="pad-top text-center"> 
                                                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
              <div class="panel-footer text-center">
                
                <button class="btn btn-info" type="button" onClick="location.href='lgl_report_draft.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
        <script src="js/jquery-2.1.1.min.js"></script>
        <!--jQuery UI [ REQUIRED ]-->
        <script src="js/jquery-ui.min.js"></script>
        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="js/bootstrap.min.js"></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/fast-click/fastclick.min.js"></script>
        <!--Jquery Nano Scroller js [ REQUIRED ]-->
        <script src="js/smartadmin/plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <!--Metismenu js [ REQUIRED ]-->
        <script src="js/smartadmin/plugins/metismenu/metismenu.min.js"></script>
        <!--Jasmine Admin [ RECOMMENDED ]-->
        <script src="js/scripts.js"></script>
        <!--Switchery [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/switchery/switchery.min.js"></script>
        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <!--Chosen [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/chosen/chosen.jquery.min.js"></script>
        <!--Bootstrap Tags Input [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/tag-it/tag-it.min.js"></script>
        <!--Summernote [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/summernote/summernote.min.js"></script>
        <!--Fullscreen jQuery [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/screenfull/screenfull.js"></script>
        <!--Demo script [ DEMONSTRATION ]-->
        <script src="js/demo/mail-compose.js"></script>

<script language="javascript">


	
/*function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				complainant_name		 = xmlDoc.getElementsByTagName("complainant_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcomplainant_name").innerHTML = complainant_name;
				
				advocate_name		 = xmlDoc.getElementsByTagName("advocate_name")[0].childNodes[0].nodeValue;
				document.getElementById("divadvocate_name").innerHTML = advocate_name;

				agent_name		 = xmlDoc.getElementsByTagName("agent_name")[0].childNodes[0].nodeValue;
				document.getElementById("divagent_name").innerHTML = agent_name;
				
				court_name		 = xmlDoc.getElementsByTagName("court_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcourt_name").innerHTML = court_name;

				Bankname		 = xmlDoc.getElementsByTagName("Bankname")[0].childNodes[0].nodeValue;
				document.getElementById("divBankname_str").innerHTML = Bankname;

				def_adv_name		 = xmlDoc.getElementsByTagName("def_adv_name")[0].childNodes[0].nodeValue;
				document.getElementById("divdef_adv_name").innerHTML = def_adv_name;


			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
*/    function fnSubmit() {
        if (document.frm_new.txtreport_name.value == "") {
            alert("Please select report Name");
            return false;
        }
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_report_draft.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}