{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-4 col-md-offset-4" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add New Report Draft</strong></h3>
          </div>
          <form name="frm_new" action="lgl_report_draft.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Report Name</label>
                    <input type="text" id="txtreport_name" name="txtreport_name" class="form-control"/>
                  </div>
                </div>
              </div>
			  <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Categoty Name</label>
                    <select NAME="txtcategory_id" ID="txtcategory_id" class="form-control " >
                      <option value="">Select</option>
                      
                                                {html_options values=$category_arr.category_id output=$category_arr.category_name selected=""}
                    
                    </select>
                  
                  </div>
                </div>
              </div>              
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_report_draft.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtreport_name.value == "") {
            alert("Please enter Report Name");
            return false;
        }

		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_report_draft.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}