{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Report Draft List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_report_draft.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Report Name</label>
                    <input type="text" NAME="txtkeyword" ID="txtkeyword" class="form-control" value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Report Category</label>
                    <select NAME="txtkeyword1" ID="txtkeyword1" class="form-control "  >
                      <option value="">Select</option>
                      
                      
                      
                      
								{html_options values=$category_arr.category_id output=$category_arr.category_name selected=$reqkeyword1}
                  
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Search"/>
                  <input type="button" value="Add New Report Draft" class="btn btn-success"
                                               onClick="location.href='lgl_report_draft.php?action=1'">
                  <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_report_draft.php'">
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Report Category</th>
                  <th>Report Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$report_draft item="row"}
              <tr>
                <td width="1%">{$row.cnt}</td>
                <td width="5%">{$row.category_name}</td>
                <td width="10%">{$row.report_name}</td>
                <td width="3%"><a href="lgl_report_draft.php?action=2&report_draft_id={$row.report_draft_id|escape}"><span class="label label-success">Edit</span></a> <a href="lgl_report_draft.php?action=4&report_draft_id={$row.report_draft_id|escape}"><span class="label label-danger">Delete</span></a></td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="4">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
                <tr >
                  <td colspan="4" >{$strPaging}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content--> 
{literal} 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
	
    function fnSubmit() {
        if (document.frmBetList1.txtreport_name.value == "") {
            alert("Please select report Name");
            return false;
        }
		document.frmBetList1.method = "post";
        document.frmBetList1.action = "lgl_report_draft.php?action=3";
        document.frmBetList1.submit();
    }
    
	function fnreportchange() {
		document.frmBetList1.method = "post";
        document.frmBetList1.action = "lgl_report_draft.php";
        document.frmBetList1.submit();
    }
	
</script> 
{/literal}
{include file="layout/footer.htm"}