{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add New Draft</strong></h3>
          </div>
          <form name="frm_new" action="lgl_report_draft.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              
              <div class="row">
			  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6"></div>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Reoprt Name</label>
                    <select NAME="txtreport_name" ID="txtreport_name" class="form-control " >
                      <option value="">Select</option>
							{html_options values=$report_arr.report_draft_id output=$report_arr.report_name selected=""}
					</select>
                    
                  </div>
                </div>
			  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6"></div>
                <div class="col-xs-12 col-md-9 col-lg-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <!-- Multiple Select Choosen -->
                                        <!--===================================================-->
                                        <form class="form-horizontal form-bordered">
                                            <!--===================================================-->
			<br/>
			<textarea id="txtreport_draft" name="txtreport_draft" ></textarea>
			
			<br/>
                                            <div class="pad-top text-center"> 
                                                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Save</button>
												<button class="btn btn-info" type="button" onClick="location.href='lgl_report_draft.php'">Back</button>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
              
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
         </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script src="js/smartadmin/plugins/summernote/summernote.min.js"></script>
<script language="javascript">
$(document).ready(function() {
	$('#txtreport_draft').summernote({
		height: "300px",
		styleWithSpan: false
	});
});

    function fnSubmit() {
		
		$('textarea[name="txtreport_draft"]').html($('#txtreport_draft').code());

        if (document.frm_new.txtreport_name.value == "") {
            alert("Please select report Name");
            return false;
        }
	    document.frm_new.method = "post";
        document.frm_new.action = "lgl_report_draft.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 

{/literal}

{include file="layout/footer.htm"}