{include file="layout/header.htm"}
<div id="page-content">
  <form name="frm_new" id="frm_new" action="lgl_customer.php?action=fullinfo&customer_id={$customer_id}" method="post" ENCTYPE="multipart/form-data">
    <input type="hidden" name="txtCustomerID" id="txtCustomerID" value="{$CustomerID}">
    {foreach from=$data item="row"}
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="panel">
          <div class="panel-footer">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6" align="center">
                  <div class="form-group" >
                    <input type="button" value="Edit" class="btn btn-success" onClick="window.open('lgl_customer.php?action=2&customer_id={$customer_id}', '_blank')">
                  </div>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Company Name</p>
                  <h4>{$row.company_name}</h4>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Branch Name</p>
                  <h4>{$row.branch_name}</h4>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Customer Name</p>
                  <h4> {$row.customer_name} </h4>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Group No</p>
                  <h4> {$row.chit_group_no} </h4>
                </div>
              </li>
              <li>
                <div class="section">
                  <p class="text-muted">Ticket No</p>
                  <h4> {$row.ticket_no} </h4>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Case No</p>
                  <h4> {$row.case_no} </h4>
                </div>
              </li>
              <li>
                <div class="section">
                  <p class="text-muted">Case Status</p>
                  <h4> {$row.status_name} </h4>
                </div>
              </li>
            </ul>
            <hr style="margin: 0px;">
            <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <p class="text-muted">Case Category</p>
                  <h4> {$row.category_name} </h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel">
              <div class="panel-body pad-no"> 
                <!--Default Tabs (Left Aligned)--> 
                <!--===================================================-->
                <div class="tab-base"> 
                  <!--Nav Tabs-->
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#demo-lft-tab-1">Internal Note</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-2">Legal Notice</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-3">Guarantor</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-4">Cheque Return</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-5">Payment</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-6">Status Change</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-10">Case Entry</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-7">138</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-8">Arbitration</a></li>
                    <li><a data-toggle="tab" href="#demo-lft-tab-9">Legal</a></li>
                  </ul>
                  <!--Tabs Content-->
                  
                  <div class="tab-content">
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_internal_note.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Note Date</th>
                              <th>Note BY</th>
                              <th>Note</th>
                              <th>Next Hearing Date</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$internal_notedata item="internal_noterow"}
                          <tr>
                            <td>{$internal_noterow.note_date}</td>
                            <td>{$internal_noterow.note_by}</td>
                            <td>{$internal_noterow.note}</td>
                            <td>{$internal_noterow.nxt_hearing_date}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_internal_note.php?action=2&internal_note_id={$internal_noterow.internal_note_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="5"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-2" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_legal_notice.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table id="demo-foo-pagination" class="table table-bordered" >
                          <thead>
                            <tr>
                              <th >Name</th>
                              <th >Legal Notice Date</th>
                              <th>Send On</th>
                              <th>Received On</th>
                              <th>Ack/Received On</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$legalnoticedata item="legalnoticerow"}
                          <tr>
                            <td>{$row.customer_name}</td>
                            <td>{$legalnoticerow.legal_notice_date}</td>
                            <td>{$legalnoticerow.send_on}</td>
                            <td>{$legalnoticerow.received_on}</td>
                            <td>{$legalnoticerow.ack_received_on}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_legal_notice.php?action=2&legal_notice_id={$legalnoticerow.legal_notice_id|escape}', '_blank')"></button></td>
						  </tr>	                            
                            {foreach from=$legalnoticerow.guarantor_details item="row_guarantor"}
                          <tr>
                            <td>{$row_guarantor.guarantor_name}</td>
                            <td>{$row_guarantor.legal_notice_date}</td>
                            <td>{$row_guarantor.send_on}</td>
                            <td>{$row_guarantor.received_on}</td>
                            <td>{$row_guarantor.ack_received_on}</td>
                            <td></td>
                          </tr>
                          {/foreach}
                           
                          
                          {foreachelse}
                          <tr>
                            <td colspan="5"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-3" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_guarantor.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th width="300">Guarantor Name</th>
                              <th width="100">DOB</th>
                              <th width="500">Guarantor Address</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$guarantordata item="guarantorrow"}
                          <tr>
                            <td>{$guarantorrow.guarantor_name}</td>
                            <td>{$guarantorrow.guarantor_dob}</td>
                            <td>{$guarantorrow.guarantor_address}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_guarantor.php?action=2&guarantor_id={$guarantorrow.guarantor_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="4"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-4" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_cheque_return.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Cheque No</th>
                              <th>Cheque Date</th>
                              <th>Drawn On</th>
                              <th>Drawn On Branch</th>
                              <th class="min-tablet">Amount</th>
                              <th data-hide="phone">Received On</th>
                              <th data-hide="phone">Deposited On</th>
                              <th data-hide="phone">Deposited At</th>
                              <th data-hide="phone,tablet" class="min-tablet">Cheque Return Date</th>
                              <th data-hide="phone,tablet" class="min-tablet">Cheque Return Reason</th>
                              <th data-hide="phone" class="min-tablet">Complainant Bank</th>
                              <th data-hide="phone">Complainant Bank Branch</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$cheque_returndata item="cheque_returnrow"}
                          <tr>
                            <td>{$cheque_returnrow.cheque_no}</td>
                            <td>{$cheque_returnrow.cheque_date}</td>
                            <td>{$cheque_returnrow.drawn_onBankname}</td>
                            <td>{$cheque_returnrow.drawn_on_branch}</td>
                            <td>{$cheque_returnrow.ch_amount}</td>
                            <td>{$cheque_returnrow.ch_received_date}</td>
                            <td>{$cheque_returnrow.ch_deposited_on}</td>
                            <td>{$cheque_returnrow.ch_deposited_atBankname}</td>
                            <td>{$cheque_returnrow.cheque_return_date}</td>
                            <td>{$cheque_returnrow.cheque_return_reason}</td>
                            <td>{$cheque_returnrow.comp_bank}</td>
                            <td>{$cheque_returnrow.comp_bank_branch}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_cheque_return.php?action=2&cheque_return_id={$cheque_returnrow.cheque_return_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="13"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-5" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_payment.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Payment Amount</th>
                              <th>Payment BY</th>
                              <th>Payment Date</th>
                              <th>Payment Cheque No</th>
                              <th>Payment Cheque Date</th>
                              <th>Payment Cheque Bank</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$paymentdata item="paymentrow"}
                          <tr>
                            <td>{$paymentrow.amount}</td>
                            <td>{if $paymentrow.pay_by==1}Cash {elseif $paymentrow.pay_by==2}Cheque {else}Card/NEFT {/if}</td>
                            <td>{$paymentrow.pay_date}</td>
                            <td>{$paymentrow.pay_cheque_no}</td>
                            <td>{$paymentrow.pay_cheque_date}</td>
                            <td>{$paymentrow.pay_cheque_bankBankname}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_payment.php?action=2&payment_id={$paymentrow.payment_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="7"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-6" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_status_change.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Status</th>
                              <th>Status Date</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$status_changedata item="status_changerow"}
                          <tr>
                            <td>{$status_changerow.status_name}</td>
                            <td>{$status_changerow.status_date}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_status_change.php?action=2&status_change_id={$status_changerow.status_change_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="3"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-10" class="tab-pane fade in">
                      <div class="table-responsive">
                        <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                          <div class="form-group">
                            <input type="button" value="Add New" class="btn btn-success" onClick="window.open('lgl_case_entry.php?action=1&customer_id={$customer_id}', '_blank')">
                          </div>
                        </div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Case No</th>
                              <th>Case Date</th>
                              <th>Case Category</th>
                              <th>Court</th>
                              <th>Judge</th>
                              <th>Advocate</th>
                              <th>Opp Advocate</th>
                              <th>Complainant</th>
                              <th class="min-desktop">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$case_entrydata item="case_entryrow"}
                          <tr>
                            <td>{$case_entryrow.case_no}</td>
                            <td>{$case_entryrow.case_date}</td>
                            <td>{$case_entryrow.case_category}</td>
                            <td>{$case_entryrow.court}</td>
                            <td>{$case_entryrow.judge}</td>
                            <td>{$case_entryrow.advocate}</td>
                            <td>{$case_entryrow.opp_advocate}</td>
                            <td>{$case_entryrow.complainant}</td>
                            <td><button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_case_entry.php?action=2&case_id={$case_entryrow.case_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="9"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-7" class="tab-pane fade in">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-vcenter toggle-circle">
                          <thead>
                            <tr>
                              <th>Report Name</th>
                              <th>Report Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$customer_138_reportdata item="customer_138_reportrow"}
                          <tr>
                            <td>{$customer_138_reportrow.report_name}</td>
                            <td>{$customer_138_reportrow.report_date}</td>
                            <td> {if $customer_138_reportrow.draft_report_draft_id==$customer_138_reportrow.report_draft_id}
                              <button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_customer_report.php?action=2&Report_draft_id={$customer_138_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {else}
                              <button class="btn btn-primary fa fa-plus" data-title="Add" onClick="window.open('lgl_customer_report.php?action=1&Report_draft_id={$customer_138_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {/if}
                              <button class="btn btn-danger fa fa-print" data-title="Print" onClick="window.open('lgl_customer_report.php?action=9&Report_draft_id={$customer_138_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="3"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-8" class="tab-pane fade in">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-vcenter toggle-circle">
                          <thead>
                            <tr>
                              <th>Report Name</th>
                              <th>Report Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$customer_arb_reportdata item="customer_arb_reportrow"}
                          <tr>
                            <td>{$customer_arb_reportrow.report_name}</td>
                            <td>{$customer_arb_reportrow.report_date}</td>
                            <td> {if $customer_arb_reportrow.draft_report_draft_id==$customer_arb_reportrow.report_draft_id}
                              <button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_customer_report.php?action=2&Report_draft_id={$customer_arb_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {else}
                              <button class="btn btn-primary fa fa-plus" data-title="Add" onClick="window.open('lgl_customer_report.php?action=1&Report_draft_id={$customer_arb_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {/if}
                              <button class="btn btn-danger fa fa-print" data-title="Print" onClick="window.open('lgl_customer_report.php?action=9&Report_draft_id={$customer_arb_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="3"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                    <div id="demo-lft-tab-9" class="tab-pane fade in">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover table-vcenter toggle-circle">
                          <thead>
                            <tr>
                              <th>Report Name</th>
                              <th>Report Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          {foreach from=$customer_lgl_reportdata item="customer_lgl_reportrow"}
                          <tr>
                            <td>{$customer_lgl_reportrow.report_name}</td>
                            <td>{$customer_lgl_reportrow.report_date}</td>
                            <td> {if $customer_arb_reportrow.draft_report_draft_id==$customer_arb_reportrow.report_draft_id}
                              <button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_customer_report.php?action=2&Report_draft_id={$customer_lgl_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {else}
                              <button class="btn btn-primary fa fa-plus" data-title="Add" onClick="window.open('lgl_customer_report.php?action=1&Report_draft_id={$customer_lgl_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                              {/if}
                              <button class="btn btn-danger fa fa-print" data-title="Print" onClick="window.open('lgl_customer_report.php?action=9&Report_draft_id={$customer_lgl_reportrow.draft_report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}', '_blank')"></button></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="13"> No Record Found</td>
                          </tr>
                          {/foreach}
                            </tbody>
                          
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/foreach}
  </form>
</div>
{literal} 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	if(document.getElementById("txtkeyword4").value != ""){
		var	company_id = document.getElementById("txtkeyword4").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?branch=1&company_id="+company_id;
		//alert(url_1);	
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/datatables/media/js/jquery.dataTables.js"></script> 
<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script> 
<script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--DataTables Sample [ SAMPLE ]--> 
<script src="js/demo/tables-datatables.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 