{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Customer</strong></h3>
          </div>
          <form name="frm_new" action="lgl_customer.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcustomer_id" value='{$row.customer_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <h3 class="panel-title" align="center"><strong>Personal Details</strong></h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
								{html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  >
                      <option value="">Select</option>
                      
								{html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
					
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer Name</label>
		    <textarea id="txtcustomer_name"  name="txtcustomer_name" rows="1" class="form-control" placeholder="">{$row.customer_name}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Occupation</label>
                    <input name="txtdesignation" type="text" class="form-control" value="{$row.designation}" >
                  </div>
                </div>
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Age</label>
                    <input name="txtcustmor_age" type="text" class="form-control" value="{$row.custmor_age}" >
                  </div>
                </div>
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Pan Card No</label>
                    <input name="txtcustmor_pan_card_no" type="text" class="form-control" value="{$row.custmor_pan_card_no}" >
                  </div>
                </div> 
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea id="txtaddress"  name="txtaddress" rows="1" class="form-control" placeholder="">{$row.address}</textarea>
                  </div>
                </div>
                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Court</label>
                    <select NAME="txtcourt" ID="txtcourt" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$court_arr.court_id output=$court_arr.court_name selected=$row.court}
                    </select>
                  </div>
                </div>     
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Judge</label>
                    <input name="txtjudge" type="text" class="form-control" value="{$row.judge}" >
                  </div>
                </div>
                <div id="divadvocate_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Advocate</label>
                    <select NAME="txtadvocate" ID="txtadvocate" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$advocate_arr.advocate_id output=$advocate_arr.advocate_name selected=$row.advocate}
                    </select>
                  </div>
                </div>
                <div id="divdef_adv_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Opp. Advocate</label>
                    <select NAME="txtopp_advocate" ID="txtopp_advocate" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$def_adv_arr.def_adv_id output=$def_adv_arr.def_adv_name selected=$row.opp_advocate}
                    </select>
                  </div>
                </div>
                <div id="divcomplainant_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Complainant</label>
                    <select NAME="txtcomplainant" ID="txtcomplainant" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$complainant_arr.complainant_id output=$complainant_arr.complainant_name selected=$row.complainant}
                    </select>
                  </div>
                </div>
                <div id="divagent_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Collection Agent</label>
                    <select NAME="txtcollection_agent" ID="txtcollection_agent" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$agent_arr.agent_id output=$agent_arr.agent_name selected=$row.collection_agent}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <h3 class="panel-title" align="center"><strong>Chit Details</strong></h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Group No.</label>
                    <input name="txtchit_group_no" type="text" class="form-control" value="{$row.chit_group_no}" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Ticket No.</label>
                    <input name="txtticket_no" type="text" class="form-control" value="{$row.ticket_no}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Value </label>
                    <input name="txtchit_value" type="text" class="form-control" value="{$row.chit_value}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Period</label>
                    <input name="txtchit_period" type="text" class="form-control" value="{$row.chit_period}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Registration number</label>
                    <input name="txtchit_reg_no" type="text" class="form-control" value="{$row.chit_reg_no}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Monthly Subscription</label>
                    <input name="txtmonthly_sub" type="text" class="form-control" value="{$row.monthly_sub}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Commencing from</label>
                    <input NAME="txtcommencinf_from" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.commencinf_from}" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Terminating On</label>
                    <input NAME="txtterminating_on" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.terminating_on}" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Auction Amount</label>
                    <input name="txtauction_amount" type="text" class="form-control" value="{$row.auction_amount}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Auction Date</label>
                    <input NAME="txtauction_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.auction_date}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Payment Amount</label>
                    <input name="txtpayment_amount" type="text" class="form-control" value="{$row.payment_amount}" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Deduction amount</label>
                    <input name="txtdeduction_amount" type="text" class="form-control" value="{$row.deduction_amount}" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Agreement Date</label>
                    <input NAME="txtagreement_date" type="date" id="demo-msk-date" placeholder="dd/mm/yy" data-mask="99/99/9999" class="form-control" value="{$row.agreement_date}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Installments Cleared</label>
                    <input name="txtinstallments_cCleared" type="text" class="form-control" value="{$row.installments_cCleared}" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Pending Amount</label>
                    <input name="txtpending_amount" type="text" class="form-control"  value="{$row.pending_amount}" >
                  </div>
                </div>
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Future Liability</label>
                    <input name="txtfuture_liability" type="text" class="form-control"value="{$row.future_liability}" >
                  </div>
                </div>                             
                
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <h3 class="panel-title" align="center"><strong>Cheque Details</strong></h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque No.</label>
                    <input name="txtcust_cheque_no" type="text" class="form-control" value="{$row.cust_cheque_no}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Cheque Date</label>
                    <input NAME="txtcust_cheque_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.cust_cheque_date}"/>
                  </div>
                </div>
                <div id="divBankname_str" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Drawn On</label>
                    <select NAME="txtcust_drawn_on" ID="txtcust_drawn_on" class="form-control " >
                      <option value="">Select</option>
								{html_options values=$bank_arr.BankID output=$bank_arr.Bankname selected=$row.cust_drawn_on}
                    </select>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_customer.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">


	
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				complainant_name		 = xmlDoc.getElementsByTagName("complainant_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcomplainant_name").innerHTML = complainant_name;
				
				advocate_name		 = xmlDoc.getElementsByTagName("advocate_name")[0].childNodes[0].nodeValue;
				document.getElementById("divadvocate_name").innerHTML = advocate_name;

				agent_name		 = xmlDoc.getElementsByTagName("agent_name")[0].childNodes[0].nodeValue;
				document.getElementById("divagent_name").innerHTML = agent_name;
				
				court_name		 = xmlDoc.getElementsByTagName("court_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcourt_name").innerHTML = court_name;

				Bankname		 = xmlDoc.getElementsByTagName("Bankname")[0].childNodes[0].nodeValue;
				document.getElementById("divBankname_str").innerHTML = Bankname;


				def_adv_name		 = xmlDoc.getElementsByTagName("def_adv_name")[0].childNodes[0].nodeValue;
				document.getElementById("divdef_adv_name").innerHTML = def_adv_name;


			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
    function fnSubmit() {
        if (document.frm_new.txtcustomer_name.value == "") {
            alert("Please enter customer Name");
            return false;
        }
        if (document.frm_new.txtchit_group_no.value == "") {
            alert("Please enter Chit Group No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_customer.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}