{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-12 eq-box-sm">
                <div class="panel panel-bordered-mint">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <!--<button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                            <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>-->
                            <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                            <!--<button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>-->
                        </div>
                        <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Branch List</h3>
                    </div>
                    <!--Horizontal Form-->
                    <!--===================================================-->
                    <form class="" name="frm_new" method="post" action="branchlist.php?action=1">
                        {foreach from=$Editdata item="editdatarow"}
                        <div class="panel-body">
                            <input type="hidden" name="txtbranch_id" value="{$editdatarow.branch_id}">
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label for="txtbranch_code">Abbrivation :</label>
                                        <input type="text" placeholder="abbrivation" id="txtbranch_code"
                                               name="txtbranch_code" class="form-control"
                                               value="{$editdatarow.branch_code}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="txtbranch_name">Branch Name :</label>
                                        <input type="text" placeholder="branch_name" id="txtbranch_name"
                                               name="txtbranch_name" class="form-control"
                                               value="{$editdatarow.branch_name}">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtbranch_address">Address :</label>
                                        <textarea placeholder="address" id="txtbranch_address"
                                                  name="txtbranch_address" class="form-control">{$editdatarow.branch_address}</textarea>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="txtarea">Area :</label>
                                        <input type="text" placeholder="area" id="txtarea" name="txtarea"
                                               class="form-control" value="{$editdatarow.area}">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="txtphone_no">Phone no :</label>
                                        <input type="text" placeholder="phone_no" id="txtphone_no" name="txtphone_no"
                                               class="form-control" value="{$editdatarow.phone_no}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        <div class="panel-footer text-left">
                            <button class="btn btn-primary" branch_name="submit" onClick="javascript: fnSubmit();">Submit</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                </div>
                <hr style="margin: 0; padding:10px;">
                <div class="panel panel-success panel-bordered-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Branch List </h3>
                    </div>
                    <div class="panel-body">
                        <form name="frm_new" action="branchlist.php" method="post">
                            <div class="search-box">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <label class="control-label" for="txtkeyword">Branch Name</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker">
                                                <option value="">Select</option>
                                                {html_options values=$branch_arr.branch_name output=$branch_arr.branch_name selected=$reqkeyword}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="control-label" for="txtkeyword1">Branch Address</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Search"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="lookup-table" class="table table-striped table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="min-tablet">Sr.no</th>
                            <th>branch name</th>
                            <th>address</th>
                            <th>abbrivation</th>
                            <th>area</th>
                            <th>phone no</th>
                            <th>block consolidation</th>
                            <th class="min-desktop">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {foreach from=$Branch item="row"}
                        <tr>
                            <td>{$row.cnt}</td>
                            <td>{$row.branch_name}</td>
                            <td>{$row.branch_address}</td>
                            <td>{$row.branch_code}</td>
                            <td>{$row.area}</td>
                            <td>{$row.phone_no}</td>
                            <td>{$row.block_consolidation}
                                <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="block_consolidation" checked disabled>
                                </div>
                            </td>
                            <td class="min-desktop">
                                <div class="input-group">
                                <a class="btn btn-primary fa fa-edit" href="branchlist.php?branch_id={ $row.branch_id }"></a>
                                <a class="btn btn-danger  fa fa-trash" href="branchlist.php?action=4&branch_id={$row.branch_id|escape}"></a>
                                </div>
                            </td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="5">No Record Found</td>
                        </tr>
                        {/foreach}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{literal}
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>
<script language="javascript">
    function fnSubmit() {
        document.frm_new.method = "post";
        document.frm_new.action = "branchlist.php?action=1";
        document.frm_new.submit();
    }
</script>
<script src="plugins/dropzone/dropzone.min.js"></script>
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script>
{/literal}

{include file="layout/footer.htm"}