{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Customer Report List</strong></h3>
          </div>
          <div class="panel-body">
          <form name="frmBetList1" action="lgl_customer_report.php" method="post">
            <div class="search-box">
              <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="txtkeyword">Customer Name</label>
                  <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
              <div class="form-group">
                <input type="submit" class="btn btn-success" value="Search"/>
                <input type="button" value="Add New Report" class="btn btn-success"
                                               onClick="location.href='lgl_customer_report.php?action=1'">
                <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_customer_report.php'">
              </div>
            </div>
            
          </form>
        </div>
          <div style="overflow:auto">
<table width="1052" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="136">Sr.No</th>
              <th width="316"class="min-tablet">Customer Name</th>
              <th width="230"class="min-tablet">Report Name</th>
              <th align="center" colspan="2"class="min-tablet">Action</th>
            </tr>
          </thead>
          <tbody>
          
          {foreach from=$customer_report item="row"}
          <tr>
            <td>{$row.cnt}</td>
            <td>{$row.customer_name}</td>
            <td>{$row.report_draft_id}</td>
            <td width="27"><p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs" data-title="Edit" onClick="location.href='lgl_customer_report.php?action=2&customer_report_id={$row.customer_report_id|escape}'"> <span class="glyphicon glyphicon-pencil"></span></button>
              </p></td>
            <td width="83"><p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" onClick="location.href='lgl_customer_report.php?action=4&customer_report_id={$row.customer_report_id|escape}'" > <span class="glyphicon glyphicon-trash"></span></button>
              </p></td>
          </tr>
          {foreachelse}
          <tr>
            <td colspan="5">No Record Found</td>
          </tr>
          {/foreach}
            </tbody>
          
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content-->
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 

{/literal}
{include file="layout/footer.htm"} 