{include file="layout/header_lgl.htm"}
<script src="includes/echitlegal_customer.js"></script>
<div id="page-content" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Customer Report List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_customer_report.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                    
							{html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqcompany_id}
                  
                  
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch Name</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " >
                      <option value="">Select</option>
                      
                      
                    
							{html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqmain_branch_id}
                  
                  
                    
                    </select>
                  </div>
                </div>
                <div id="divcustomer_name" class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer Name</label>
					<input type="hidden" name="txtcustomer_id" id="txtcustomer_id"  value="{$reqcustomer_id}">
                    <input type="text" name="txtSearchMemberName" id="txtSearchMemberName" class="form-control " value="{$customer_name}">
                    
                    <!--<select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
							{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$reqcustomer_id}
                  
                  
                    
                    </select>-->
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Report Category</label>
                    <select NAME="txtcategory_id" ID="txtcategory_id" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
								{html_options values=$category_arr.category_id output=$category_arr.category_name selected=$reqcategory_id}
                  
                  
                    
                    </select>
                  </div>
                </div>
				<div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>

                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div  class="col-sm-6 col-lg-12 col-xs-12 col-md-6" >
            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="50">Sr.No</th>
                  <th class="min-tablet" width="200" >Report Name</th>
                  <th class="min-tablet" width="200" >Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$customer_data item="customer_row"}
              <input type="hidden" name="txtreport_draft_id" value='{$row.report_draft_id}'>
              <tr>
                <td>{$customer_row.cnt}</td>
                <td>{$customer_row.report_name}</td>
                <td> {if $customer_row.draft_report_draft_id==$customer_row.report_draft_id}
                      <a href="lgl_customer_report.php?action=2&Report_draft_id={$customer_row.draft_report_draft_id|escape}&reqcustomer_id={$customer_row.customer_id|escape}&reqmain_branch_id={$reqmain_branch_id|escape}&reqcompany_id={$reqcompany_id|escape}"><span class="label label-success">Edit</span></a>
                      <a href="lgl_customer_report.php?action=9&Report_draft_id={$customer_row.draft_report_draft_id|escape}&reqcustomer_id={$customer_row.customer_id|escape}" target="_blank"><span class="label label-dark">Print</span></a>
                      <a href="lgl_customer_report.php?action=4&customer_report_id={$customer_row.customer_report_id|escape}&reqcustomer_id={$customer_row.customer_id|escape}&reqmain_branch_id={$reqmain_branch_id|escape}&reqcompany_id={$reqcompany_id|escape}"><span class="label label-danger">Delete</span></a> 
                  {else}
                      <a href="lgl_customer_report.php?action=1&Report_draft_id={$customer_row.draft_report_draft_id|escape}&reqcustomer_id={$customer_row.customer_id|escape}&reqmain_branch_id={$reqmain_branch_id|escape}&reqcompany_id={$reqcompany_id|escape}"><span class="label label-danger">Add</span></a>
                  {/if}</td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="3">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
              <tr >
                <td colspan="3" >{$strPaging}</td>
              </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<div class="row"> </div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
	//var	onchange 	= "fnchange_branch();"
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id+"&onchange="+onchange;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?category=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

/*function fnchange_custmoer() {
	//alert("HI");
	var	reqcustomer_id = document.getElementById("txtcustomer_id").value;
	var	reqmain_branch_id = document.getElementById("txtmain_branch_id").value;
	var	reqcompany_id = document.getElementById("txtcompany_id").value;
		if (document.frmBetList1.txtcompany_id.value == "") {
            alert("Please select company Name");
            return false;
        }
		if (document.frmBetList1.txtmain_branch_id.value == "") {
            alert("Please select branch Name");
            return false;
        }
        if (document.frmBetList1.txtcustomer_id.value == "") {
            alert("Please select customer Name");
            return false;
        }
	    document.frmBetList1.method = "post";
        document.frmBetList1.action = "lgl_customer_report.php?reqcustomer_id="+reqcustomer_id+"&reqmain_branch_id="+reqmain_branch_id+"&reqcompany_id="+reqcompany_id;
        document.frmBetList1.submit();
} 
*/
function fnSubmit() {
	//alert("HI");
	var	reqcategory_id = document.getElementById("txtcategory_id").value;
	var	reqcustomer_id = document.getElementById("txtcustomer_id").value;
	var	reqmain_branch_id = document.getElementById("txtmain_branch_id").value;
	var	reqcompany_id = document.getElementById("txtcompany_id").value;
		
		
		
		if (document.frmBetList1.txtcompany_id.value == "") {
            alert("Please select company Name");
            return false;
        }
		if (document.frmBetList1.txtmain_branch_id.value == "") {
            alert("Please select branch Name");
            return false;
        }
        if (document.frmBetList1.txtcustomer_id.value == "") {
            alert("Please select customer Name");
            return false;
        }
		
	    document.frmBetList1.method = "post";
        document.frmBetList1.action = "lgl_customer_report.php?reqcustomer_id="+reqcustomer_id+"&reqmain_branch_id="+reqmain_branch_id+"&reqcompany_id="+reqcompany_id+"&reqcategory_id="+reqcategory_id;
        
		document.frmBetList1.submit();
} 

    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
{/literal}
{include file="layout/footer.htm"} 