{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Customer Report List</strong></h3>
          </div>
          <div class="panel-body">
          <form name="frmBetList1" action="lgl_customer_report.php" method="post">
            <div class="search-box">
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                    
							{html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqcompany_id}
                
                  
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  onChange="javascript:fnchange_branch();">
                      <option value="">Select</option>
                      
                      
                    
							{html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqmain_branch_id}
                
                  
                    
                    </select>
                  </div>
                </div>
                <div id="divcustomer_name"  class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                      
							{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$reqcustomer_id}
                    
                    
                    
                    </select>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content-->
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script src="js/smartadmin/plugins/summernote/summernote.min.js"></script> 
<script language="javascript">

function fnchange_custmoer() {
	//alert("HI");
	var	customer_id = document.getElementById("txtcustomer_id").value;
	var	reqmain_branch_id = document.getElementById("txtmain_branch_id").value;
	var	reqcompany_id = document.getElementById("txtcompany_id").value;
		if (document.frmBetList1.txtcompany_id.value == "") {
            alert("Please select company Name");
            return false;
        }
		if (document.frmBetList1.txtmain_branch_id.value == "") {
            alert("Please select branch Name");
            return false;
        }
        if (document.frmBetList1.txtcustomer_id.value == "") {
            alert("Please select customer Name");
            return false;
        }

	    document.frmBetList1.method = "post";
        document.frmBetList1.action = "lgl_customer_report.php?customer_id="+customer_id+"&reqmain_branch_id="+reqmain_branch_id+"&reqcompany_id="+reqcompany_id;
        document.frmBetList1.submit();
} 
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch_name=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
{/literal}
{include file="layout/footer.htm"} 