{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-12 " >
  <div class="row">
    <div class="eq-height">
      
        <div class="panel">
         <!-- <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Report</strong></h3>
          </div>-->
        <div class="panel-body">
        <form NAME="frm_search" ACTION="lgl_customer_report.php"  method="post" >
        {foreach from=$data item="row"}
            <input type="hidden" NAME="txtcustomer_report_id" ID="txtcustomer_report_id" value='{$row.customer_report_id}'>
            <input type="hidden" NAME="txtcustomer_id" ID="txtcustomer_id" value='{$row.customer_id}'>
             <input type="hidden" NAME="txtcompany_id" ID="txtcompany_id" value='{$reqcompany_id}'>
             <input type="hidden" NAME="txtmain_branch_id" ID="txtmain_branch_id" value='{$reqmain_branch_id}'>
	         <input type="hidden" NAME="txtreport_draft_id" ID="txtreport_draft_id" value='{$row.report_draft_id}'>
	         <label class="control-label">Report Date</label>
			 <input NAME="txtreport_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" value="{$row.report_date}" />

        <!--<div class="search-box">
          <div class="row" align=" center">
				<div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Reoprt Name</label>
                    <select NAME="txtreport_draft_id" ID="txtreport_draft_id" class="form-control " onChange=reload();>
                      <option value="">Select</option>
							{html_options values=$report_arr.report_draft_id output=$report_arr.report_name selected=$row.report_draft_id}
					</select>
                    
                  </div>
                </div>            
		  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
              <div class="form-group">
                <label class="control-label">Customer</label>
                <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                  <option value="">Select</option>
							{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$row.customer_id}
                </select>
              </div>
            </div>
          </div>
        </div>-->
        
        
			<textarea id="txtreport_draft" name="txtreport_draft" >{$row.report_draft}</textarea>
       {/foreach}
			  
             <!--<input type="button" name="btn1" value=" Save & Print " onClick="javascript : fnsaveprint()">-->
			 <input type="button" name="btn2" value=" Save " onClick="javascript: fnSave();">
        
            <input type="button" name="btn" value=" Cancel " onclick="javascript: fnCancel();" />
        </form>
      </div>
    </div>
  
	</div>
<!--===================================================--> 
<!--End page content-->
</div>
</div>

<!--<div class="row">
</div>  
-->
{literal} 
<script src="js/smartadmin/plugins/summernote/summernote.min.js"></script> 
<script language="javascript">
$(document).ready(function() {
	$('#txtreport_draft').summernote({
		height: "350px",
		styleWithSpan: false
	});
});
function fnsaveprint(){
	$('textarea[name="txtreport_draft"]').html($('#txtreport_draft').code());
	
	if (document.frm_search.txtreport_draft_id.value == "") {
		alert("Please select report name");
		return false;
	}
	
	document.frm_search.method = "post";
	document.frm_search.action = "lgl_customer_report.php?action=7";
	document.frm_search.target ='_blank';
	document.frm_search.submit();
}
function fnSave() {
		$('textarea[name="txtreport_draft"]').html($('#txtreport_draft').code());

	if (document.frm_search.txtreport_draft_id.value == "") {
		alert("Please select report name");
		return false;
	}
	
	document.frm_search.method = "post";
	document.frm_search.action = "lgl_customer_report.php?action=5";
	document.frm_search.submit();
}
function fnCancel() {
	customer_id  	= document.getElementById("txtcustomer_id").value;
	company_id  	= document.getElementById("txtcompany_id").value;  	
	main_branch_id  = document.getElementById("txtmain_branch_id").value; 

	window.open("lgl_customer_report.php?reqcustomer_id="+customer_id+"&reqmain_branch_id="+main_branch_id+"&reqcompany_id="+company_id,"_self")
}


function fnprinterFrdly(page){
	var txtcustomer_id="";
	var txtcompany_id="";
	var txtmain_branch_id="";

	if (document.getElementById("txtcustomer_id")){ 
	
		txtcustomer_id  = document.getElementById("txtcustomer_id").value;  }
		
	if (document.getElementById("txtcompany_id")){ 
	
		txtcompany_id  = document.getElementById("txtcompany_id").value;  }
	
	if (document.getElementById("txtmain_branch_id")){ 
	
		txtmain_branch_id  = document.getElementById("txtmain_branch_id").value;  }
	
	if ((txtcustomer_id == '') ){ 
		alert("Please select customer"); 
		return false;
	}
	
	var divelement=document.getElementsByTagName("div");
	 var Sel_Rec="";
	 var cnt=0;
			for (var i = 1; i<=divelement.length;i++)
			{
				if(divelement[i]){
				var id=divelement[i].getAttribute("id");
				if(id!=null){
					if(document.getElementById(id).style.display=="block"){	cnt++;
								if (cnt > 1){ Sel_Rec=Sel_Rec+'%'+id;}else{Sel_Rec=Sel_Rec+id;}							
					}
				
				}
			}	
		}
	fnOpenWindow2(page+'&txtcompany_id='+txtcompany_id+"&txtmain_branch_id="+txtmain_branch_id+"&txtcustomer_id="+txtcustomer_id);
}
function fnchange_custmoer(){
	//alert("HI");
	var Report_draft_id	= document.getElementById("txtreport_draft_id").value;
	
	if ((Report_draft_id == '') ){ 
		alert("Please select Report Name"); 
		return false;
	}
		url_1 = "lgl_reports.php?Report_draft_id="+Report_draft_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);

	    document.frm_search.method = "post";
        document.frm_search.action = 'lgl_customer_report.php?action=1';
//		document.frm_search
        document.frm_search.submit();

		//document.frm_search('lgl_reports.php?Report_draft_id='+Report_draft_id);
	//fnOpenWindow2(page+'&Report_draft_id='+Report_draft_id);
}

function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch_name=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 


</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"} 