{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-body">
            <form NAME="frm_search" ACTION="lgl_customer_report.php"  method="post" >
            <div class="search-box">
              <div class="row" align=" center">
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Reoprt Name</label>
                    <select NAME="txtreport_draft_id" ID="txtreport_draft_id" class="form-control " >
                      <option value="">Select</option>
                      
							{html_options values=$report_arr.report_draft_id output=$report_arr.report_name selected=$Report_draft_id}
					
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();" disabled="disabled">
                      <option value="">Select</option>
                      
							{html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqcompany_id}
                
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  onChange="javascript:fnchange_branch();" disabled="disabled">
                      <option value="">Select</option>
                      
							{html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqmain_branch_id}
                
                    </select>
                  </div>
                </div>
                <div id="divcustomer_name" class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
					<input type="hidden" name="txtcustomer_id" id="txtcustomer_id"  value="{$reqcustomer_id}">
                    <input type="text" name="txtSearchMemberName" id="txtSearchMemberName" class="form-control " value="{$customer_name}" readonly="readonly">
                    
<!--                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
							{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$reqcustomer_id}
                
                    </select>
-->                  </div>
                </div>
				<div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Report Date</label>
					<input NAME="txtreport_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$reqdate}"/>
                  </div>
                </div>                
              </div>
            </div>
            <form class="form-horizontal form-bordered">
              <!--===================================================--> 
              <br/>
              <textarea id="txtreport_draft" name="txtreport_draft" > {eval var=$draft}</textarea>
            </form>
            <input type="button" name="btn2" value=" Save " onClick="javascript: fnSave();">
            </form>
  </div>
      </div>
    </div>
    <!--===================================================--> 
    <!--End page content--> 
  </div>
</div>
<div class="row"> </div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script src="js/smartadmin/plugins/summernote/summernote.min.js"></script> 
<script language="javascript">
$(document).ready(function() {
	$('#txtreport_draft').summernote({
		height: "300px",
		styleWithSpan: false
	});
});
function fnsaveprint(){
	$('textarea[name="txtreport_draft"]').html($('#txtreport_draft').code());
	
	if (document.frm_search.txtreport_draft_id.value == "") {
		alert("Please select report name");
		return false;
	}
	
	document.frm_search.method = "post";
	document.frm_search.action = "lgl_customer_report.php?action=6";
	document.frm_search.submit();
}
function fnSave() {
		$('textarea[name="txtreport_draft"]').html($('#txtreport_draft').code());
	
	if (document.frm_search.txtreport_draft_id.value == "") {
		alert("Please select report name");
		return false;
	}
	
	document.frm_search.method = "post";
	document.frm_search.action = "lgl_customer_report.php?action=3";
	document.frm_search.submit();
}


function fnchange_custmoer(){
	var Report_draft_id	= document.getElementById("txtreport_draft_id").value;
	var reqcompany_id	= document.getElementById("txtcompany_id").value;
	var reqmain_branch_id	= document.getElementById("txtmain_branch_id").value;
	var reqcustomer_id	= document.getElementById("txtcustomer_id").value;
	
	if ((Report_draft_id == '') ){ 
		alert("Please select Report Name"); 
		return false;
	}

	if ((reqcustomer_id != '') ){ 
		document.frm_search.method = "post";
		document.frm_search.action = 'lgl_customer_report.php?action=1&Report_draft_id='+Report_draft_id+'&reqcustomer_id='+reqcustomer_id+'&reqcompany_id='+reqcompany_id+'&reqmain_branch_id='+reqmain_branch_id;
		document.frm_search.submit();
	}
}

function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch_name=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 


</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"} 