{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Voucher List</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="voucher.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <input type="hidden" name="txtlang" value="{$editdatarow.lang}">
              <input type="hidden" name="txtacc_transaction_main_id" value="{$editdatarow.acc_transaction_main_id}">
              <input type="hidden" name="txtvalue2" value="{$editdatarow.value2}">
              <input type="hidden" name="txtvalue3" value="{$editdatarow.value3}">
              <input type="hidden" name="txtmain_branch_id" value="{$editdatarow.main_branch_id}">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtpaymentBy1">paymentBy1:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="paymentBy1" id="txtpaymentBy1" name="txtpaymentBy1" class="form-control" value="{$editdatarow.paymentBy1}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtvoucher_type">voucher_type :</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="voucher_type" id="txtvoucher_type" name="txtvoucher_type" class="form-control" value="{$editdatarow.voucher_type}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtaccount">account:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="account" id="txtaccount" name="txtaccount" class="form-control" value="{$editdatarow.account}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtref">ref:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="ref" id="txtref" name="txtref" class="form-control" value="{$editdatarow.ref}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtnote">note:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="note" id="txtnote" name="txtnote" class="form-control" value="{$editdatarow.note}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txttrans_date">trans_date:</label>
                <div class="col-sm-9">
                  <input NAME="txttrans_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.trans_date}" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtpaymentBy">paymentBy:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="paymentBy" id="txtpaymentBy" name="txtpaymentBy" class="form-control" value="{$editdatarow.paymentBy}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtchequeNo">chequeNo:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="chequeNo" id="txtchequeNo" name="txtchequeNo" class="form-control" value="{$editdatarow.chequeNo}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtchequeDate">chequeDate:</label>
                <div class="col-sm-9">
                  <input NAME="txtchequeDate" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.chequeDate}" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtBankName">BankName:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="BankName" id="txtBankName" name="txtBankName" class="form-control" value="{$editdatarow.BankName}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtCreatedDate">CreatedDate:</label>
                <div class="col-sm-9">
                  <input NAME="txtCreatedDate" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.CreatedDate}" />
                </div>
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" acc_transaction_main_id="submit" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" acc_transaction_main_id="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
      </div>
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Voucher List </h3>
          </div>
          <div class="panel-body" >
            <form name="frm_new" action="voucher.php"  method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Voucher Name</label>
                    <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker" >
                      <option value="">Select</option>
                      
                    
                    {html_options values=$voucher_arr.voucher_name output=$voucher_arr.voucher_name selected=$reqkeyword}
                 
                
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1">voucher Type</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                  </div>
                </div>
              </div>
              <table id="lookup-table" class="table table-striped table-bordered"  >
                <thead>
                  <tr>
                    <th class="min-desktop">Sr.no</th>
                    <th class="min-desktop">paymentBy1</th>
                    <th class="min-desktop">voucher_type</th>
                    <th>account</th>
                    <th>ref</th>
                    <th>note</th>
                    <th>trans_date</th>
                    <th>paymentBy</th>
                    <th>chequeNo</th>
                    <th>chequeDate</th>
                    <th>BankName</th>
                    <th>CreatedDate</th>
                    <th class="min-desktop">Action</th>
                  </tr>
                </thead>
                <tbody>
                
                {foreach from=$voucher item="row"}
                <tr>
                  <td>{$row.cnt}</td>
                  <td>{$row.paymentBy1}</td>
                  <td>{$row.voucher_type}</td>
                  <td>{$row.account}</td>
                  <td>{$row.ref}</td>
                  <td>{$row.note}</td>
                  <td>{$row.trans_date}</td>
                  <td>{$row.paymentBy}</td>
                  <td>{$row.chequeNo}</td>
                  <td>{$row.chequeDate}</td>
                  <td>{$row.BankName}</td>
                  <td>{$row.CreatedDate}</td>
                  <td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="voucher.php?acc_voucher_id={ $row.acc_voucher_id }" ></a> <a class="btn btn-danger fa fa-trash" href="voucher.php?action=4&acc_voucher_id={$row.acc_voucher_id|escape}"></a></td>
                </tr>
                {foreachelse}
                <tr>
                  <td colspan="5">No Record Found </td>
                </tr>
                {/foreach}
                  </tbody>
                
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "voucher.php?action=1";
			document.frm_new.submit();
		}
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
<script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 
{/literal}

{include file="layout/footer.htm"}