{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel"> 
          
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="company.php" enctype="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcompany_id" value='{$row.company_id}'>
            
            <div class="panel-body">
              <div class="row">

                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Company Name</label>
                            <input name="txtcompany_name" type="text" class="form-control" value="{$row.company_name}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Company Address</label>
                            <input name="txtcompany_address" type="text" class="form-control" value="{$row.company_address}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label">Contact Number</label>
                            <input name="txtcontact_number" type="text" class="form-control" value="{$row.contact_number}">
                        </div>
                    </div>                                                                                

              </div>
             {/foreach} 
             <div class="panel-footer text-right">
                <button class="btn btn-info" type="submit" onClick="javascript: fnSubmit();">Submit</button>
				<button class="btn btn-info" type="button" onClick="location.href='company.php'">Back</button>
</div>
            </div>
            
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<!--===================================================--> 
<!--END CONTENT CONTAINER--> 
{literal} 
<script language="javascript">
		function fnSubmit(){
        if (document.frm_new.txtcompany_name.value == "") {
            alert("Please enter Company Name");
            return false;
        }
        if (document.frm_new.txtcompany_address.value == "") {
            alert("Please enter Company Address");
            return false;
        }
        if (document.frm_new.txtcontact_number.value == "") {
            alert("Please enter Contact No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "company.php?action=5";
        document.frm_new.submit();
    }
</script> 
{/literal}

{include file="layout/footer.htm"}