{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-12 eq-box-sm">
                <div class="panel">

                    <!--Block Styled Form -->
                    <!--===================================================-->
                    <form name="frm_new" action="company.php" method="post" ENCTYPE="multipart/form-data">
                        <div class="panel-body">
                            <div class="row">
                                        
                                        <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Company Name</label>
                                                <input name="txtcompany_name" type="text" class="form-control" >
                                            </div>
                                        </div>
										<div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Company Address</label>
                                                <input name="txtcompany_address" type="text" class="form-control" >
                                            </div>
                                        </div>
										<div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Contact Number</label>
                                                <input name="txtcontact_number" type="text" class="form-control" >
                                            </div>
                                        </div>                                                                                
                                    
                                    
                            </div>

                            <div class="panel-footer text-right">
                                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                                <button class="btn btn-info" type="button" onClick="location.href='company.php'">Back</button>
                                
                            </div>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End No Label Form-->
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->
</div>
{literal}
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT>
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT>

<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtcompany_name.value == "") {
            alert("Please enter Company Name");
            return false;
        }
        if (document.frm_new.txtcompany_address.value == "") {
            alert("Please enter Company Address");
            return false;
        }
        if (document.frm_new.txtcontact_number.value == "") {
            alert("Please enter Contact No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "company.php?action=3";
        document.frm_new.submit();
    }
/*     $(function() {
        $('#txtFormDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months',
            onSelect: function (date1) {
                updateMaturityDate();
            }
        }).datepicker("setDate", new Date());
        $('#txtChequeDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months'
        });

       $("#txtSearchMemberName").autocomplete({
            source: function (request, response) {
                selectedBranch = $("#txtBranchCode").val();
                if (selectedBranch > 0) {
                    $.ajax({
                        url: "member.php?action=search&type=member&branch=" + selectedBranch,
                        dataType: "json",
                        data: {
                            searchName: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    id: item.id,
                                    label: item.label,
                                    value: item.value
                                };
                            }));
                        }
                    });
                } else {
                    alert("select Branch to Search");
                }
            },
            minLength: 2,
            select: function (event, ui) {
                $("#txtMemberID").val(ui.item.id);
            }
        });
        $( "#txtPaymentType" ).on('change',function () {
            $( "#DivChequeDetails" ).hide();
            if($( "#txtPaymentType" ) .val() == 'cheque'){
                $( "#DivChequeDetails" ).show();
            }
        });
    });*/
</script>
<script src="plugins/dropzone/dropzone.min.js"></script>
{/literal}

{include file="layout/footer.htm"}