{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel"> 
          
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="lgl_case_entry.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcase_id" value='{$row.case_id}'>
            <div class="panel-body">
              <div class="row">
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Case Category</label>
                    <select NAME="txtcase_category_id" ID="txtcase_category_id" class="form-control " onChange="javascript:fnchange_branch();">
                      <option value="">Select</option>
                      
							{html_options values=$category_arr.category_id output=$category_arr.category_name selected=$row.case_category_id}
                    
                    </select>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  onChange="javascript:fnchange_branch();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                      
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divcustomer_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$row.customer_id}
                      
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Case No.</label>
  					<input name="txtcase_no" type="text" class="form-control" value="{$row.case_no}">
                  </div>
                </div>                
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Case Date</label>
                    <input NAME="txtcase_date"  id="txtcase_date" value="{$row.case_date}" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Court</label>
                    <select NAME="txtcourt" ID="txtcourt" class="form-control " >
                      <option value="">Select</option>
                      
							{html_options values=$court_arr.court_id output=$court_arr.court_name selected=$row.court}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Judge</label>
                    <input name="txtjudge" type="text" class="form-control"  value="{$row.judge}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Advocate</label>
                    <select NAME="txtadvocate" ID="txtadvocate" class="form-control " >
                      <option value="">Select</option>
                      
							{html_options values=$advocate_arr.advocate_id output=$advocate_arr.advocate_name selected=$row.advocate}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Opp. Advocate</label>
                    <select NAME="txtopp_advocate" ID="txtopp_advocate" class="form-control " >
                      <option value="">Select</option>
                      
							{html_options values=$def_adv_arr.def_adv_id output=$def_adv_arr.def_adv_name selected=$row.opp_advocate}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Complainant</label>
                    <select NAME="txtcomplainant" ID="txtcomplainant" class="form-control " >
                      <option value="">Select</option>
                      
							{html_options values=$complainant_arr.complainant_id output=$complainant_arr.complainant_name selected=$row.complainant}
					
                    </select>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-right">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_case_entry.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	document.getElementById("divcustomer_name").innerHTML = "";

	if((document.getElementById("txtmain_branch_id").value != "") && (document.getElementById("txtcase_category_id").value != "")){
		var	branch_id = document.getElementById("txtmain_branch_id").value;
		var case_category_id = document.getElementById("txtcase_category_id").value;

		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
				

			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id+"&case_category_id="+case_category_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

    function fnSubmit() {
        if (document.frm_new.txtcompany_id.value == "") {
            alert("Please select company");
            return false;
        }
        if (document.frm_new.txtmain_branch_id.value == "") {
            alert("Please select branch");
            return false;
        }

        if (document.frm_new.txtcase_category_id.value == "") {
            alert("Please select Case Category");
            return false;
        }
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_case_entry.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}