{include file="layout/header_lgl.htm"}
<script src="includes/echitlegal_customer.js"></script>
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add Internal Note Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_internal_note.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqcompany_id}
                    
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    {if $reqcompany_id==""}
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " >
                      <option value="">Select</option>
                    </select>
                    {else}
					<select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  >
                      <option value="">Select</option>
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqmain_branch_id}
                    </select>
                    {/if}
                    </div>
                </div>
              </div>
              <div class="row">
                <div id="divcustomer_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
					<input type="hidden" name="txtcustomer_id" id="txtcustomer_id"  value="{$customer_id}">
                    <input type="text" name="txtSearchMemberName" id="txtSearchMemberName" class="form-control " value="{$customer_name}">

<!--                    {if $reqmain_branch_id==""}
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                     </select>
                     {else}
                     <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
								{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$customer_id}
                    </select>
                    
                      {/if}
-->                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Note Date</label>
                    <input NAME="txtnote_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Note By</label>
                    <input  id="txtnote_by" name="txtnote_by" type="text" class="form-control" >
                  </div>
                </div>
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Next Hearing Date</label>
                    <input NAME="txtnxt_hearing_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div> 
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Note</label>
                    <textarea id="txtnote"  name="txtnote" rows="3" class="form-control" placeholder=""></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_internal_note.php'">Back</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
	function fninternal_noteTypeChange(){
		var ctrl_internal_note = document.getElementById("txtpay_by");
		var internal_note_type = ctrl_internal_note.options[ctrl_internal_note.selectedIndex].text;
		if ((internal_note_type == "Cheque")){   
			document.getElementById("txtpay_cheque_no").disabled=false;
			document.getElementById("txtpay_cheque_date").disabled=false;
			//document.getElementById("txtbankname").disabled=false; 
			document.getElementById("txtpay_cheque_bank").disabled=false; 
		}else if (internal_note_type == "Card/NEFT"){   
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=false;  
			document.getElementById("txtpay_cheque_bank").disabled=false; 
			
		}else{
			document.getElementById("txtpay_cheque_no").disabled=true;
			document.getElementById("txtpay_cheque_date").disabled=true;
			//document.getElementById("txtbankname").disabled=true;  
			document.getElementById("txtpay_cheque_bank").disabled=true; 
	}
	}
	function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
	//var	onchange 	= "fnchange_branch();"
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id+"&onchange="+onchange;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
				
				Bankname		 = xmlDoc.getElementsByTagName("Bankname")[0].childNodes[0].nodeValue;
				document.getElementById("divBankname_str").innerHTML = Bankname;

				DepositedBank		 = xmlDoc.getElementsByTagName("DepositedBank")[0].childNodes[0].nodeValue;
				document.getElementById("Deposited_Bankname_str").innerHTML = DepositedBank;


			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

	function fnSubmit() {
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_internal_note.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}
{include file="layout/footer.htm"}