{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel"> 
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Bank</strong></h3>
          </div>
          <form name="frm_new" action="lgl_bank.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtBankID" value='{$row.BankID}'>
				<div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                                            
                    
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Bank Name</label>
                    <input name="txtBankname" type="text" class="form-control" value="{$row.Bankname}">
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">A/c No.</label>
                    <input name="txtAcno" type="text" class="form-control" value="{$row.Acno}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Bank Code</label>
                    <input name="txtbankcode" type="text" class="form-control" value="{$row.bankcode}">
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Use for Deposites</label>
                    <select NAME="txtuse_for_deposites" ID="txtuse_for_deposites" class="form-control " >
                      <option value="">Select</option>
                      <option value="1"{if $row.use_for_deposites=='1'}selected="selected"{/if}>Yes</option>
                      <!--value="1" {if $reqSearchKeyword4=='1'}selected="selected"{/if}-->
                      <option value="0"{if $row.use_for_deposites=='0'}selected="selected"{/if}>No</option>
                      <!-- value="2" {if $reqSearchKeyword4=='2'}selected="selected"{/if} -->
                    </select>
                  </div>
                </div>
              </div>
              
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_bank.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtmain_branch_id.value == "") {
            alert("Please select branch Name");
            return false;
        }
        if (document.frm_new.txtBankname.value == "") {
            alert("Please enter bank name");
            return false;
        }
        if (document.frm_new.txtAcno.value == "") {
            alert("Please enter A/c. No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_bank.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}