{include file="layout/header.htm"}

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-5 eq-box-sm">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if} State Master</h3>
                    </div>
                    <!--Horizontal Form-->
                    <!--===================================================-->
                    <form class="form-horizontal" name="frm_new" method="post" action="statemaster.php?action=1">
                        {foreach from=$Editdata item="editdatarow"}
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtstate_id">State_Id:</label>
                                <div class="col-sm-9">
                                    <input type="hidden" name="txtID" value="{$editdatarow.state_id}">
                                
                                    <input state_name="text" placeholder="state_id" id="txtstate_id" name="txtstate_id" class="form-control" value="{$editdatarow.state_id}">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtstate_name">State Name :</label>
                                <div class="col-sm-9">
                                    <input state_Name="text" placeholder="state_name" id="txtstate_name" name="txtstate_name" class="form-control" value="{$editdatarow.state_name}">
                                </div>
                            </div>
                            
                            
                        </div>
                        {/foreach}
                        <div class="panel-footer text-right">
                            <button class="btn btn-info" state_name="submit" onClick="javascript: fnSubmit();">Submit</button>
                             <button class="btn btn-info" state_name="reset">Reset</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                </div>
            </div>
            <div class="col-sm-7 eq-box-sm">
                <div class="panel">
                 <div class="panel-heading">
                        <h3 class="panel-title"> State </h3>
                    </div>
                   <div class="panel-body">
                     <form name="frm_new" action="statemaster.php"  method="post">
					  <div class="search-box">
                			<div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
								<div class="form-group" >
									<label class="control-label" for="txtkeyword">State Name</label>
									<input type="text" class="form-control" name="txtkeyword" id="txtkeyword" value="{$reqkeyword}" />
								</div>
							 </div>
                        
							<div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                <div class="form-group">
                                	<input type="submit" class="btn btn-success" value="Search"/>
                                </div>
                            </div>
                           
                    </div>                       
                  <table id="lookup-table" class="table table-striped table-bordered">
                           <thead>
                           <tr>
                               <th class="min-tablet">Sr.no</th>
                               <th>State</th>
                               <th class="min-desktop">Action</th>
                           </tr>
                           </thead>
                           <tbody>
                          {foreach from=$state item="row"}
                          <tr>
                            <td>{$row.cnt}</td>
                            <td>{$row.state_name}</td>
               				<td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="statemaster.php?state_id={ $row.state_id }" ></a> <a class="btn btn-danger fa fa-trash" href="statemaster.php?action=4&state_id={$row.state_id|escape}"></a></td>
                          </tr>
                          {foreachelse}
                          <tr>
                            <td colspan="5">No Record Found </td>
                          </tr>
                          {/foreach}
                           
                           </tbody>
                       </table>
                   
                    </form> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{literal} 

<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>

<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "statemaster.php?action=1";
			document.frm_new.submit();
		}
</script> 
 <script src="plugins/dropzone/dropzone.min.js"></script>
  <script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 

{/literal}

{include file="layout/footer.htm"}