.dhtmlwindow{
position: absolute;
border: 0px solid green;
visibility: hidden;
background-color: white;
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 0px;
text-indent: 3px;
font: bold 14px Arial;
background-color: #408080;
color: white;
cursor: move;
overflow: hidden;
width: auto;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 1px;
cursor: pointer;
cursor: pointer;

}


.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 1px solid green;
background-color: white;
color: #FFFFFF;
height: 150px;
padding:2px;
  
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 1px solid gray;
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}
