{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-4 col-md-offset-4" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Defendent adv.</strong></h3>
          </div>
          <form name="frm_new" action="lgl_def_adv.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtdef_adv_id" value='{$row.def_adv_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Defendent adv. Name</label>
                    <input name="txtdef_adv_name" type="text" class="form-control" value="{$row.def_adv_name}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Contact No</label>
                    <input name="txtcontact_no" type="text" class="form-control" value="{$row.contact_no}" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Defendent adv. Address</label>
                    <textarea id="txtdef_adv_address"  name="txtdef_adv_address" rows="3" class="form-control" placeholder="">{$row.def_adv_address}</textarea>
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_def_adv.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtdef_adv_name.value == "") {
            alert("Please enter def_adv Name");
            return false;
        }
        if (document.frm_new.txtdef_adv_address.value == "") {
            alert("Please enter def_adv address");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_def_adv.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}