{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-5 eq-box-sm">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Bank List</h3>
                    </div>
                    <!--Horizontal Form-->
                    <!--===================================================-->
                    <form class="form-horizontal" name="frm_new" method="post" action="banklist.php?action=1">
                        {foreach from=$Editdata item="editdatarow"}
                        <div class="panel-body">
                            <input type="hidden" name="txtbank_id" value="{$editdatarow.bank_id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtbranch_name">Branch Name :</label>
                                <div class="col-md-4">
                                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id"
                                            class="form-control selectpicker ">
                                        <option value="">Select</option>


                                        {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name
                                        selected=$editdatarow.main_branch_id}


                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtbank_name">Bank Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="bank_name" id="txtbankname" name="txtbankname"
                                           class="form-control" value="{$editdatarow.bankname}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtacno">A/C No. :</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="acno" id="txtacno" name="txtacno"
                                           class="form-control" value="{$editdatarow.acno}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtuse_for_deposites">Use for
                                    Deposites:</label>
                                <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="Use_for_Deposites" checked disabled>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        <div class="panel-footer text-right">
                            <button class="btn btn-info" bank_name="submit" onClick="javascript: fnSubmit();">Submit
                            </button>
                            <button class="btn btn-info" bank_name="reset">Reset</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                </div>
            </div>
            <div class="col-sm-7 eq-box-sm">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bank List </h3>
                    </div>
                    <div class="panel-body">
                        <form name="frm_new" action="banklist.php" method="post">
                            <div class="search-box">
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword">Branch_Name</label>
                                        <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker">
                                            <option value="">Select</option>


                                            {html_options values=$branch_arr.branch_name output=$branch_arr.branch_name
                                            selected=$reqkeyword}


                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword1"> Bank_Name</label>
                                        <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword2">A/C No.</label>
                                        <input type="text" class="form-control" name="txtkeyword2" id="txtkeyword2"
                                               value="{$reqkeyword2}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword3">use_for_deposites</label>
                                        <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="checkbox" name="Use_for_Deposites" checked disabled>
                                        </div>
                                    </div>

                                    <!--    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">Sort_By</label>
                                    <select NAME="txtkeyword1" ID="txtkeyword1" class="input input--dropdown js--animations " >
                                      <option value="">Select</option>

                                      {html_options values=$arrUsrbank_code.main_bank_id output=$arrUsrbank_code.bank_name selected=$bank}

                                      </select>
                                        <input type="radio" checked="" name="sort_asc ">
                                        sort_asc:
                                        <input type="radio" name="sort_desc">
                                        sort_desc :
                                        </div>
                                     </div>-->
                                    <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-success" value="Search"/>
                                        </div>
                                    </div>
                                </div>
                                <table id="lookup-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="min-tablet">Sr.no</th>
                                        <th>branch_name</th>
                                        <th>bank_name</th>
                                        <th>A/C No</th>
                                        <th>use for deposites</th>
                                        <th class="min-desktop">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {foreach from=$Bank item="row"}
                                    <tr>
                                        <td>{$row.cnt}</td>
                                        <td>{$row.branch_name}</td>
                                        <td>{$row.bankname}</td>
                                        <td>{$row.acno}</td>
                                        <td>{$row.use_for_deposites}
                                            <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" name="Use_for_Deposites" checked disabled>
                                            </div>
                                        </td>
                                        <td class="min-desktop"><a class="btn btn-primary fa fa-edit"
                                                                   href="banklist.php?bank_id={ $row.bank_id }"></a> <a
                                                class="btn btn-danger fa fa-trash"
                                                href="banklist.php?action=4&bank_id={$row.bank_id|escape}"></a></td>
                                    </tr>
                                    {foreachelse}
                                    <tr>
                                        <td colspan="5">No Record Found</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>

                                </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{literal}
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>
<script language="javascript">
    function fnSubmit() {

        document.frm_new.method = "post";
        document.frm_new.action = "banklist.php?action=1";
        document.frm_new.submit();
    }
</script>
<script src="plugins/dropzone/dropzone.min.js"></script>
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script>
{/literal}

{include file="layout/footer.htm"}