{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $report_draft_id != ""}Edit {else} Add {/if}Report List</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="lgl_report_draft_lk.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <input type="hidden" name="txtreport_draft_id" id="txtreport_draft_id" value="{$editdatarow.report_draft_id}">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtbank_name">Report Name :</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="report_name" id="txtreport_name" name="txtreport_name"
                                           class="form-control" value="{$editdatarow.report_name}">
                </div>
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" bank_name="submit" onClick="javascript: fnSubmit();">Submit </button>
              <button class="btn btn-info" bank_name="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
        <div class="col-sm-7 eq-box-sm">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Report List </h3>
            </div>
            <div class="panel-body">
              <form name="frm_new" action="lgl_report_draft_lk.php" method="post">
                <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1"> Report Name</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                    <div class="form-group">
                      <input type="submit" class="btn btn-success" value="Search"/>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered" >
                  <thead>
                    <tr>
                      <th class="min-tablet">Sr.no</th>
                      <th>Report Name</th>
                      <th class="min-desktop">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {foreach from=$Report_List item="row"}
                  <tr>
                    <td>{$row.cnt}</td>
                    <td>{$row.report_name}</td>
                    <td ><a href="lgl_report_draft_lk.php?action=2&report_draft_id={$row.report_draft_id|escape}"><span class="label label-success">Edit</span></a> <a href="lgl_report_draft_lk.php?action=4&report_draft_id={$row.report_draft_id|escape}"><span class="label label-danger">Delete</span></a></td>
                  </tr>
                  <tr>
                    <td colspan="3">No Record Found</td>
                  </tr>
                  {/foreach}
                    </tbody>
                  
                  <tfoot>
                    <tr >
                      <td colspan="3" >{$strPaging}</td>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
	
function fnSubmit() {

	document.frm_new.method = "post";
	document.frm_new.action = "lgl_report_draft_lk.php?action=1";
	document.frm_new.submit();
}

</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 
{literal} 
