{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Accounttype List</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="accounttype.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <input type="hidden" name="txtaccount_type_id" value="{$editdatarow.account_type_id}">
              	<input type="hidden" name="txtlang" value="{$editdatarow.lang}">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtaccount_type_name">Account_Type:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="account_type_name" id="txtaccount_type_name" name="txtaccount_type_name" class="form-control" value="{$editdatarow.account_type_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtaccount_type_nature">Account_Type_Nature :</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="account_type_nature" id="txtaccount_type_nature" name="txtaccount_type_nature" class="form-control" value="{$editdatarow.account_type_nature}">
                </div>
              </div>
               <div class="form-group">
                <label class="col-sm-3 control-label" for="txtnote">Note:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="note" id="txtnote" name="txtnote" class="form-control" value="{$editdatarow.note}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtmain_account_type_id">Main_Account_Type_Id:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="main_account_type_id" id="txtmain_account_type_id" name="txtmain_account_type_id" class="form-control" value="{$editdatarow.main_account_type_id}">
                </div>
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" account_type_id="submit" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" account_type_id="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
      </div>
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Accounttype List </h3>
          </div>
          <div class="panel-body">
            <form name="frm_new" action="accounttype.php"  method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Account Type</label>
                    <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker" >
                      <option value="">Select</option>   
                      
                  {html_options values=$accounttype_arr.account_type_name output=$accounttype_arr.account_type_name selected=$reqkeyword}
                   
                 </select>
                  </div>
                  </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                <div class="form-group">
                    <label class="control-label" for="txtkeyword1">Account Type Nature</label>
                  <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}" />
                  
                  </div>
                </div>
                
             
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                  </div>
                </div>
              </div>
              <table id="lookup-table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="min-tablet">Sr.no</th>
                    <th>Account_Type</th>
                    <th>Account_Type_Nature</th>
                    <th>Note</th>
                    <th>Main_Account_Type_Id</th>
                    <th class="min-desktop">Action</th>
                  </tr>
                </thead>
                <tbody>
                
                {foreach from=$accounttype item="row"}
                <tr>
                  <td>{$row.cnt}</td>
                  <td>{$row.account_type_name}</td>
                  <td>{$row.account_type_nature}</td>
                  <td>{$row.note}</td>
                  <td>{$row.main_account_type_id}</td>
                  <td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="accounttype.php?account_type_id={ $row.account_type_id }" ></a> <a class="btn btn-danger fa fa-trash" href="accounttype.php?action=4&account_type_id={$row.account_type_id|escape}"></a></td>
                </tr>
                {foreachelse}
                <tr>
                  <td colspan="5">No Record Found </td>
                </tr>
                {/foreach}
                  </tbody>
                
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "accounttype.php?action=1";
			document.frm_new.submit();
		}
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
<script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 
{/literal}

{include file="layout/footer.htm"}