{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-4 col-md-offset-4" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Company</strong></h3>
          </div>
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="lgl_company.php" enctype="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcompany_id" value='{$row.company_id}'>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input name="txtcompany_name" type="text" class="form-control" value="{$row.company_name}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Address</label>
                    <textarea id="txtcompany_address"  name="txtcompany_address"  rows="3" class="form-control" placeholder="">{$row.company_address}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input name="txtcontact_number" type="text" class="form-control" value="{$row.contact_number}">
                  </div>
                </div>
              </div>
              {/foreach}
              <div class="panel-footer text-left">
                <button class="btn btn-info" type="submit" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_company.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<!--===================================================--> 
<!--END CONTENT CONTAINER--> 
{literal} 
<script language="javascript">
		function fnSubmit(){
        if (document.frm_new.txtcompany_name.value == "") {
            alert("Please enter Company Name");
            return false;
        }
        if (document.frm_new.txtcompany_address.value == "") {
            alert("Please enter Company Address");
            return false;
        }
        if (document.frm_new.txtcontact_number.value == "") {
            alert("Please enter Contact No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_company.php?action=5";
        document.frm_new.submit();
    }
</script> 
{/literal}
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{include file="layout/footer.htm"}