{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Company List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_company.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Company Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1">Company Address</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword2">Contact Number</label>
                    <input type="text" class="form-control" name="txtkeyword2" id="txtkeyword2"
                                               value="{$reqkeyword2}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                  </div>                
             	</div>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New Company" class="btn btn-success"
                                               onClick="location.href='lgl_company.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_company.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Company Name</th>
                  <th class="min-tablet">Address</th>
                  <th class="min-tablet"> Contact No.</th>
                  <th class="min-tablet" align="center">Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$company item="row"}
              <tr>
                <td>{$row.cnt}</td>
                <td>{$row.company_name}</td>
                <td>{$row.company_address}</td>
                <td>{$row.contact_number}</td>
                <td >
                  <a href="lgl_company.php?action=2&company_id={$row.company_id|escape}"><span class="label label-success">Edit</span></a>
                  <a href="lgl_company.php?action=4&company_id={$row.company_id|escape}"><span class="label label-danger">Delete</span></a> 
                </td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="5">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
              <tr >
                <td colspan="5" >{$strPaging}</td>
              </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 