{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel"> 
          
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="member.php" enctype="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" ID="txtSubCode" NAME="txtSubCode" value="{$row.SubCode}">
            <input type="hidden" name="txtSubID" value='{$row.SubID}'>
            
            <div class="panel-body">
              <h3 class="panel-title">Personal_Information</h3>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtBranchCode" ID="txtBranchCode" class="input input--dropdown js--animations " >
                      <option value="">Select</option>
								{html_options values=$arrUsrbranch_code.main_branch_id output=$arrUsrbranch_code.branch_name selected= $row.BranchCode}              
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp
                      <input type="checkbox" name="Member" checked disabled>
                      Is Member
                      &nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp
                      <input type="checkbox" name="Associate">
                      Is Associate
                      &nbsp;&nbsp;&nbsp;&nbsp <strong> Member Type*</strong> &nbsp;&nbsp;&nbsp;&nbsp
                      <input type="radio" checked="" name="General">
                      General &nbsp;&nbsp
                      <input type="radio" name="Nominial">
                      Nominial
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input type="text" id="amount" class="form-control" placeholder="" NAME="txtAmount" value='{$row.Amount}'readonly>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">No. of Shares</label>
                    <input type="text" class="form-control"NAME="txtShares" ID="txtShares"value='{$row.Shares}'onchange="get_shareprice()">
                    <input type="hidden" class="form-control"NAME="txtShareAmount" ID="txtShareAmount"value="{$share_amt}">
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Full Name *</label>
                    <input type="text" class="form-control" NAME="txtFullName" value='{$row.FullName}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Son/Wife of:</label>*
                    <input type="text" class="form-control" NAME="txtSonOf" value='{$row.SonOf}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="demo-textarea-input">Address</label>
                    <textarea NAME="txtAddrsCorres" id="demo-textarea-input" rows="1" class="form-control" placeholder="" >{$row.AddrsCorres}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" NAME="txtemail" value='{$row.email}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Birth Date</label>*
                    <input NAME="txtDOB" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value='{$row.DOB}'/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">State *</label>
                    <select class="form-control selectpicker" NAME="txtState">
                      <option value="">Select</option>
                      
                            
								{html_options values=$state_arr.state_id output=$state_arr.state_name_display selected= $row.State}              
                          
                          
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">City *</label>
                    <input type="text" class="form-control" NAME="txtTown" value='{$row.Town}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Residence at:Yrs</label>
                    <input type="text" class="form-control" name="txtresidence_year" value='{$row.residence_year}' >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Dependents:</label>
                    <input name="txtdependents" type="text" class="form-control" value='{$row.dependents}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mobile*</label>
                    <input type="text" class="form-control" name="txtMobNoCorres" value='{$row.MobNoCorres}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Tel No:</label>
                    <input type="text" class="form-control" name="txtTelNoCorres" value='{$row.TelNoCorres}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">PAN No:</label>
                    <input type="text" class="form-control" name="txtPANNoCorres" value='{$row.PANNoCorres}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">FORM 15G:</label>
                    <input type="text" class="form-control" name="txtform15gh" value='{$row.form15gh}'>
                  </div>
                </div>
              </div>
              <h3 class="panel-title">Office Information</h3>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="demo-textarea-input">Office Address</label>
                    <textarea NAME="txtOfficeAddrs" id="demo-textarea-input" rows="1" class="form-control" placeholder="{$row.OfficeAddrs}"></textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Department:</label>
                    <input type="text" class="form-control" name="txtDepartment" value='{$row.Department}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Designation:</label>
                    <input type="text" class="form-control" NAME="txtDesignation" value='{$row.Designation}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Income:</label>
                    <input type="text" class="form-control" NAME="txtincome" value='{$row.income}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Employment From:Yrs</label>
                    <input type="text" class="form-control" NAME="txtemployement_years" value='{$row.employement_years}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Previous Employment:</label>
                    <input type="text" class="form-control" NAME="txtprevious_employment" value='{$row.previous_employment}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Personel No:</label>
                    <input type="text" class="form-control" NAME="txtpersonelno" value='{$row.personelno}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Tel No:</label>
                    <input type="text" class="form-control" NAME="txtTelNoOff" value='{$row.TelNoOff}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mob No:</label>
                    <input type="text" class="form-control" name="txtMobNoOff" value='{$row.MobNoOff}'>
                  </div>
                </div>
              </div>
              <h3 class="panel-title">Nominee Info</h3>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Nominee Name</label>*
                    <input type="text" class="form-control" NAME="txtNomineeName" value='{$row.NomineeName}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Nominee Address</label>*
                    <textarea id="demo-textarea-input" rows="1" class="form-control" placeholder="" NAME="txtAddrsNominee" >{$row.AddrsNominee}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Nominee Relation</label>
                    <input type="text" class="form-control"NAME="txtNominee_Relation" value='{$row.Nominee_Relation}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Birth Date</label>*
                    <input NAME="txtNomineeDob" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value='{$row.NomineeDob}'/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Tel No</label>
                    <input type="text" class="form-control" NAME="txtTelNoNominee" value='{$row.TelNoNominee}'>
                  </div>
                </div>
              </div>
              <h3 class="panel-title">Haste</h3>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Haste Code:</label>
                    <input type="text" class="form-control" name="txtHastheCode" value='{$row.HastheCode}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Haste Name:</label>
                    <input type="text" class="form-control" name="txthasthe" value='{$row.hasthe}'>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Haste Address:</label>
                    <textarea id="demo-textarea-input" rows="1" class="form-control" placeholder="{$row.hasthe_address}" NAME="txthasthe_address"></textarea>
                  </div>
                </div>
              </div>
              <h3 class="panel-title">Document</h3>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <label class="control-label">Subscriber Photo</label>
					<img src='doc/{$row.member_photo}' height="60" width="60">	 			  
				    <input name="member_photo" type="hidden" class="NormalFontBlack" size="20" value="{$row.member_photo}">
	 			    <input name="userfile1" type="file" class="TextBox" size="35" />
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_0">
                  <label class="control-label">{$arr_own_proof[0]}</label>
                 {assign var=doc_type value=$arr_own_proof[0]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_0" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_1"> 
                 <label class="control-label">{$arr_own_proof[1]}</label>
                {assign var=doc_type value=$arr_own_proof[1]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_1" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_2">
                 <label class="control-label">{$arr_own_proof[2]}</label>
                 {assign var=doc_type value=$arr_own_proof[2]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_2" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
                <br>
                <br>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_3">
                <label class="control-label">{$arr_own_proof[3]}</label>
                 {assign var=doc_type value=$arr_own_proof[3]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_3" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6"  id="div_cust_doc_4"> 
                 <label class="control-label">{$arr_own_proof[4]} </label>
                {assign var=doc_type value=$arr_own_proof[4]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_4" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_5"> 
                 <label class="control-label">{$arr_own_proof[5]} </label>
                {assign var=doc_type value=$arr_own_proof[5]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                  <input name="userfile_5" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                  {/if}
                </div>
              </div>
              <div class="panel-footer text-right">
                <button class="btn btn-info" type="submit" onClick="javascript: fnpurchase_Submit();">Submit</button>
              </div>
            </div>
            {/foreach}
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<!--===================================================--> 
<!--END CONTENT CONTAINER--> 
{literal} 
<script language="javascript">
		function fnpurchase_Submit(){
		   if (frm_new.txtBranchCode.value == "" ){
				alert("Please Select branch name");
				frm_new.txtBranchCode.focus();
				return false;
			}	
			if (frm_new.txtFullName.value.length == "" ){
				alert("Please enter full name");
				frm_new.txtFullName.focus();
				return false;
			}			
			if (frm_new.txtSonOf.value.length == "" ){
				alert("Please enter SonOf name");
				frm_new.txtSonOf.focus();
				return false;
			}			
			if (frm_new.txtDOB.value.length == "" ){
				alert("Please enter date of birth ");
				frm_new.txtDOB.focus();
				return false;
			}			
			if (frm_new.txtMobNoCorres.value.length == "" ){
				alert("Please enter Mobile no");
				frm_new.txtMobNoCorres.focus();
				return false;
			}			
			if (frm_new.txtState.value.length == "" ){
				alert("Please select state");
				frm_new.txtState.focus();
				return false;
			}			
			if (frm_new.txtTown.value.length == "" ){
				alert("Please enter city name");
				frm_new.txtTown.focus();
				return false;
			}			
			if (frm_new.txtNomineeName.value.length == "" ){
				alert("Please enter nominee name");
				frm_new.txtNomineeName.focus();
				return false;
			}			
			if (frm_new.txtAddrsNominee.value.length == "" ){
				alert("Please enter nominee address");
				frm_new.txtAddrsNominee.focus();
				return false;
			}			
			if (frm_new.txtNomineeDob.value.length == "" ){
				alert("Please enter nominee date of birth");
				frm_new.txtNomineeDob.focus();
				return false;
			}
			
		   if (frm_new.txtShares.value == "" ){
				alert("Please enter no of shares");
				frm_new.txtShares.focus();
				return false;
			}	
					
			document.frm_new.method = "post";
			document.frm_new.action = "member.php?action=5";
			document.frm_new.submit();
		}
		function get_shareprice()
		{
			var no_of_shares = document.getElementById("txtShares").value;
			var amt_per_share = document.getElementById("txtShareAmount").value;			
			var share_val=(parseFloat(no_of_shares) * parseFloat(amt_per_share));
            document.frm_new.txtAmount.value = share_val;			
		}
		
</script> 
{/literal}

{include file="layout/footer.htm"}