{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-7 eq-box-sm">
                <div class="panel panel-bordered-default">
                    <div class="panel-body">
                        <form name="frmBetList1" action="member.php" method="post">

                            <div class="search-box">
                                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword">SubCode</label>
                                        <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword1">Name</label>
                                        <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword2">Address</label>
                                        <input type="text" class="form-control" name="txtkeyword2" id="txtkeyword2"
                                               value="{$reqkeyword2}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword3">Mobile No.</label>
                                        <input type="text" class="form-control" name="txtkeyword3" id="txtkeyword3"
                                               value="{$reqkeyword3}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="Search"/>
                                        <input type="button" value="New Member" class="btn btn-success"
                                               onClick="location.href='member.php?action=1'">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>SubCode</th>
                            <th>Full Name</th>
                            <th width="35%">Address.</th>
                            <th class="min-tablet">Tel. No.</th>
                            <th class="min-tablet">Mobile No.</th>
                            <th class="min-tablet">Share</th>
                            <th class="min-tablet">Share Amount</th>
                            <th class="min-tablet">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {foreach from=$member item="row"}
                        <tr>
                            <td>{$row.cnt}</td>
                            <td>{$row.SubCode}</td>
                            <td>{$row.FullName}</td>
                            <td>{$row.AddrsCorres}</td>
                            <td>{$row.TelNoCorres}</td>
                            <td>{$row.MobNoCorres}</td>
                            <td>{$row.Shares}</td>
                            <td>{$row.Amount}</td>
                            <td class="min-desktop"><a class="btn btn-primary fa fa-edit"
                                                       href="member.php?action=2&SubID={$row.SubID|escape}"></a>
                                <a class="btn btn-danger fa fa-trash"
                                   href="member.php?action=4&SubID={$row.SubID|escape}"></a></td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="5">No Record Found</td>
                        </tr>
                        {/foreach}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td COLSPAN="14">{if $print != 1}{$strPaging} {/if}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->
</div>
{literal}
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script>
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script>

{/literal}
{include file="layout/footer.htm"}
