{include file="layout/header.htm"}
<SCRIPT language="JavaScript" src="includes/enidhi_member.js" type="text/JavaScript"></SCRIPT>
<div id="page-content">
    <form name="frm_new" id="frm_new" action="member.php?action={if $SubID <> ""}5{else}3{/if}&SubID={$SubID}" method="post"  ENCTYPE="multipart/form-data">
    <input type="hidden" name="txtSubID" value="{$SubID}">
    {foreach from=$data item="row"}
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-6 eq-box-sm">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                <div class="row">
                                    <div class="col-sm-4 col-lg-4 col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Branch</label>
                                            <select NAME="txtBranchCode" ID="txtBranchCode" class="form-control input-sm" >
                                                <option value="">Select</option>
                                                {html_options values=$arrUsrbranch_code.main_branch_id output=$arrUsrbranch_code.branch_name selected=$row.BranchCode}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-lg-3 col-xs-6 col-md-2">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="txtAssociateMember" id="txtAssociateMember" value="1"{if $row.AssociateMember == '1'}checked{/if}> Is Associate</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-lg-4 col-xs-6 col-md-2">
                                        <label> Member Type*</label>
                                        <div class="checkbox">
                                            <label><input type="radio" name="txtMemberType" id="txtMemberType" value="General"{if $row.MemberType == '' or $row.MemberType == 'General'}checked{/if}>  General</label>
                                            <label><input type="radio" name="txtMemberType" id="txtMemberType1" value="Nominial"{if $row.MemberType == 'Nominial'}checked{/if}> Nominial </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                {if $SubID == ''}
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3 col-xs-6 col-md-1">
                                        <div class="form-group">
                                            <label class="control-label">No. of Shares</label>
                                            <input type="text" class="form-control"NAME="txtShares" ID="txtShares"onchange="get_shareprice()" value="{$row.Shares}">
                                            <input type="hidden" class="form-control"NAME="txtShareAmount"ID="txtShareAmount" value="{$share_amt}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-xs-6 col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Amount</label>
                                            <input type="text" id="txtAmount" class="form-control" placeholder="" NAME="txtAmount" value="{$row.Amount}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-xs-6 col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Amount</label>
                                            <select name="txtPaymentType" id="txtPaymentType" class="form-control input-sm">
                                                <option value="cash"{if $EditRecord.MaturityAmount == "cash"} selected {/if}>Cash</option>
                                                <option value="cheque"{if $EditRecord.MaturityAmount == "cheque"} selected {/if}>Cheque</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-xs-6 col-md-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label">Transaction Date</label>
                                                <input type="text" id="txtFormDate" class="form-control input-sm"  name="txtFormDate" placeholder="" value="{$EditRecord.FormDate}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="DivChequeDetails" style="display:none">
                                    <div class="row"><hr style="margin: 0; padding:10px;"></div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label> Bank  </label>
                                            <input type="text" name="txtBankName" id="txtBankName" class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label> Cheque No  </label>
                                            <input type="text" name="txtChequeNo" id="txtChequeNo" class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label> IFSC Code  </label>
                                            <input type="text" name="txtIFSCCode" id="txtIFSCCode" class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label> Cheque Date  </label>
                                            <input type="text" name="txtChequeDate" id="txtChequeDate" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                {/if}
                            </div>
                        </div>
                        <div class="row"><hr></div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12"><h3 class="panel-title">Personnel Information</h3></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Full Name *</label>
                                            <input type="text" class="form-control" NAME="txtFullName" id="txtFullName" value="{$row.FullName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label class="control-label" for="txtAddrsCorres">Address</label>
                                            <textarea NAME="txtAddrsCorres" id="txtAddrsCorres" rows="3" class="form-control" placeholder="">{$row.AddrsCorres}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-5 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">City *</label>
                                            <input type="text" class="form-control" NAME="txtTown" id="txtTown" value="{$row.Town}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-5 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">State *</label>
                                            <select class="form-control" NAME="txtState" id="txtState">
                                                <option value="">Select</option>
                                                {html_options values=$state_arr.state_id output=$state_arr.state_name_display selected=$row.State}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Mobile*</label>
                                            <input type="text" class="form-control" name="txtMobNoCorres" id="txtMobNoCorres" value="{$row.MobNoCorres}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tel No:</label>
                                            <input type="text" class="form-control" name="txtTelNoCorres" id="txtTelNoCorres" value="{$row.TelNoCorres}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">PAN No:</label>
                                            <input type="text" class="form-control" name="txtPANNoCorres" id="txtPANNoCorres" value="{$row.PANNoCorres}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-8 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input type="text" class="form-control" NAME="txtemail" id="txtemail" value="{$row.email}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label for="txtDOB" class="control-label">Birth Date</label>*
                                            <input NAME="txtDOB" id="txtDOB" type="text" class="form-control" value="{$row.DOB}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                        <div class="fallback">
                                            <label class="control-label">Subscriber Photo</label>
                                            <img   id= "subscriber_photo" alt="subscriber_photo" height="110" width="100" border="0" src="{if $row.member_photo != ""}doc/customer_photo/{$row.member_photo}{/if}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                        <div class="fallback">
                                            <input type="button" class="btn btn-sm btn-default" name="btn1" id="btnPhotoUpload" value="Upload Photo">
                                            <input type="button" class="btn btn-sm btn-default" name="btn2" id="btnPhotoUploadWebCam" value="Upload WebCam">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12"><h3 class="panel-title">Office Information</h3></div>
                                    <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="txtOfficeAddrst">Office Address</label>
                                            <textarea NAME="txtOfficeAddrs" id="txtOfficeAddrst" rows="2" class="form-control" placeholder="">{$row.OfficeAddrst}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Department:</label>
                                            <input type="text" class="form-control" name="txtDepartment" value="{$row.Department}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Designation:</label>
                                            <input type="text" class="form-control" NAME="txtDesignation" value="{$row.Designation}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Personel No:</label>
                                            <input type="text" class="form-control" NAME="txtpersonelno" value="{$row.personelno}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tel No:</label>
                                            <input type="text" class="form-control" NAME="txtTelNoOff" value="{$row.TelNoOff}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Mob No:</label>
                                            <input type="text" class="form-control" name="txtMobNoOff" value="{$row.MobNoOff}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Annual Income:</label>
                                            <input type="text" class="form-control" NAME="txtincome" value="{$row.income}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Employment From <small>Yrs</small></label>
                                            <input type="text" class="form-control" NAME="txtemployement_years" value="{$row.employement_years}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row"><hr style="margin: 0; padding: 10px;"></div>
                                <div class="row">
                                    <div class="col-sm-12"><h2 class="panel-title">Nominee Information</h2></div>
                                    <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nominee Name*</label>
                                            <input type="text" class="form-control" NAME="txtNomineeName" id="txtNomineeName" value="{$row.NomineeName}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nominee Address*</label>
                                            <textarea id="txtAddrsNominee" rows="1" class="form-control" placeholder="" NAME="txtAddrsNominee">{$row.AddrsNominee}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nominee Relation</label>
                                            <input type="text" class="form-control"NAME="txtNominee_Relation" value="{$row.Nominee_Relation}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label for="txtNomineeDob" class="control-label">Birth Date*</label>
                                            <input NAME="txtNomineeDob" id="txtNomineeDob" value="{$row.NomineeDob}" type="text" class="form-control" value="{$row.NomineeDob}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tel No</label>
                                            <input type="text" class="form-control" NAME="txtTelNoNominee" id="txtTelNoNominee" value="{$row.TelNoNominee}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"><hr></div>
                        <div class="row">
                            <div class="col-sm-12"><h3 class="panel-title">Document</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_0">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[0]}</label>
                                    {assign var=doc_type value=$arr_own_proof[0]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_0" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                {/if}
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_1">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[1]}</label>
                                    {assign var=doc_type value=$arr_own_proof[1]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_1" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                    {/if}
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_2">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[2]}</label>
                                    {assign var=doc_type value=$arr_own_proof[2]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_2" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                    {/if}
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_3">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[3]}</label>
                                    {assign var=doc_type value=$arr_own_proof[3]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_3" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                    {/if}
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6"  id="div_cust_doc_4">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[4]} </label>
                                    {assign var=doc_type value=$arr_own_proof[4]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_4" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                    {/if}
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6" id="div_cust_doc_5">
                                <div class="form-group">
                                    <label class="control-label">{$arr_own_proof[5]} </label>
                                    {assign var=doc_type value=$arr_own_proof[5]}{if $tmp_docs_data.$doc_type != ""}&radic;{else}
                                    <input name="userfile_5" type="file" class="BlackNormalFont" size="20" {$ctl_disaled}/>
                                    {/if}
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer text-right">
                            <button class="btn btn-info" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/foreach}
</form>
</div>
{include file="layout/footer.htm"}