{foreach from=$data item="row"}
<table width="100%" align="left" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td width="100%" align="center"></td>
    </tr>
    <tr>
      <td height="250"></td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE CHIT FUNDS ACT, 1982<BR>
        (CENTRAL ACT No. 40 OF 1982)</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>ARBITRATION UNDER SECTION 64 OF THE ACT AND RULE 31 OF THE <br>
        MAHARASHTRA CHIT FUND RULES, 2004</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE COURT OF THE JOINT REGISTRAR OF CHITS, PUNE,<br>
        GST BHAVAN, YERWADA,PUNE</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>AWARD IN ARBITRATION NO: 1553/2018</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">{$row.company_name}<br>
        {$row.company_address}........................<strong>Disputant</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Versus</td>
    </tr>
    <tr>
      <td align="left">{$row.guarantor_names_withcnt}........................<strong>Opponents</strong></td>
    </tr>
    <tr>
      <td align="center"></td>
    </tr>
    <tr>
      <td align="left">1.	Mr. SajiVarkey, foreman attended on behalf of disputant M/s. {$row.company_name} and submitted Form XIV, Chit Agreement, Endorsement of Registration, Certificate of Commencement of Chits, bid authorization cum offer form, surety form, agreement of guarantee, promissory note, Auction Receipts, Auction Discount Receipts, PaymentAdvice, Voucher, Legal notice, Postal Receipts and account copy anddetails of pending installments from opponent. He filed arbitration against all the opponents mentioned in Form XIV.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">2.	On verification of all the documents, Reference of dispute is found to filed properly. Hence, it is admitted in terms of section 64 of the Chit Fund Act, 1982 & Rule 31 & 32 of the Chit Fund (Maharashtra) Rules, 2004.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">3.	Mr. SajiVarkey, foreman submitted that disputant is conducting chit under Chit Registration number <strong style="background-color: transparent;">{$row.chit_reg_no}</strong>, issued by Joint Registrar of Chits, Pune. The chit amount payable is at Rs.<span style="text-align: justify;"><strong>{$row.monthly_sub}</strong></span>/- per installment for <strong>{$row.chit_period}</strong> months for the Chit value of Rs.<strong style="background-color: transparent;">{$row.chit_value}</strong>/- as per his Chit Group No. <strong>{$row.chit_group_no}</strong>.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">4.	He further submitted that Opponent no 1 joined the Chit Group <strong>{$row.chit_group_no}</strong> by subscribing to Ticket No.<strong>{$row.ticket_no}</strong> as subscriber, and at the auction held at <strong>{$row.installments_cCleared}</strong> installments on <span style="text-align: justify;"><strong>{$row.auction_date}</strong></span>, bid the chit at a discount of Rs.1,60,000/- was entitled to receive the Prize Amount of Rs.<span style="text-align: justify;"><strong>{$row.prize_amount}</strong></span>/-. After considering deductions of service tax of Rs. <strong>{$row.gst}</strong>/-, verification charges of Rs. <strong>{$row.oth_charges}</strong>/- and pending subscription charges of Rs. <strong>{$row.sub_due}</strong>/- opponent no. 1 was paid prize amount of Rs. <strong style="background-color: transparent;">{$row.chit_value}</strong>/-. Opponent no. 1 along with the other opponents mentioned above executed the promissory note for Rs. <strong style="background-color: transparent;">{$row.future_liability}</strong>/- being the future installments due in respect of the said chit.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">5.	Further opponent no.1 paid 32 installment till the date of filing reference. He then paid 12 installments after filing reference. As on today no. of pending installments are 4.Legal notice to pay the balance amount was sent to all opponents on 12/10/2015.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">6.	He submitted that the chit group is commenced in {$row.commencinf_from} and terminated on {$row.terminating_on}. Reference to dispute is filed on 12/10/2018.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">7.	In terms of Section 32 of the Chit Funds Act and the clauses of Chit Agreement
        the Opponent no.1 having failed to pay the installments as per Section 33, hasbecome liable to pay the unpaid and future installments in full along with dueinterest and costs as per the Chit Fund Act 1982. The Opponents were servedwith Legal notice and in spite of this notice they did not take any steps to paythe balance chit amount so far. Hence this dispute is filed against all the Opponents for recovery of an amount i.e Rs.80,642/- being the amount of defaulted installments together with interest @ 18% per annum amounting to Rs.70,658/- totaling Rs. 2,00,000/-  due till the date of filing of this reference for Arbitration.Disputant submitted that opponent has paid principal amount of Rs. 40342/- and interest of Rs. 24543/- after filing reference. </td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">8.	The disputant has filed the claim against all the opponents for above Amount.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">9.	In terms of section 64 of the Chit Funds Act 1982 read with Rule 31 & 32 of the Chit Funds (Maharashtra) Rules, 2004, after being convinced that the reference is filed properly, the same was taken up for enquiry. Procedure as per Rule 34 and under Section 66 and 67 of the Act, was followed.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">10.	Summons under 67 of the Chit Fund Act, 1982 were issued to both disputant and opponent calling on 07.01.2018, 21.2.18. The case was finally heard on 12.2.19.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">11.	Status of summons served and status of attendance is as below:-
        <table width="746" height="106" border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left: 36pt; border: none;">
          <tbody>
            <tr >
              <td >Sr. No.</td>
              <td >Name of opponent</td>
              <td >Status of service of summons</td>
              <td >Status of attendance of opponent</td>
            </tr>
            <tr >
              <td >1</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
            </tr>
            <tr >
              <td >2</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
            </tr>
            <tr >
              <td >3</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
            </tr>
            <tr >
              <td >4</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
              <td >&nbsp;</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td align="left">In case of present matter, opponents either refused to accept the summons or failed to attend in-spite of receipt of summons. </td>
    </tr>
    <tr>
      <td align="left">Further none of the opponents attended the hearing nor informed about non-attendance. Thus all the opponents failed to have the fair opportunity of hearing to themselves. Had they attended the hearing, at-least they would get the chance to present the correctness of demand raised by disputant. But by not attending the hearing, they have lost the opportunity.</td>
    </tr>
    <tr>
      <td align="left">(change the paragraph if opponents attend)</td>
    </tr>
    <tr>
      <td align="left">Similar set of facts were discussed in case of M/S. Shriram Chits Private Ltd Balangar Branch Vs. B. Durgaprasad Rao, decided on 20 September, 2016 by Hon. Andhra High Court in CIVIL REVISION PETITION No.4549 of 2016. It is decided as below:-</td>
    </tr>
    <tr>
      <td align="left">At the stage of considering C.R.P. M.P. No. 4147 of 2016 filed for condonation of delay, this Court ordered notices to all the respondents. The learned counsel for the petitioner has filed a memo vide U.S.R.No.5651 of 2016, wherein it is stated that the notices sent to respondent Nos.1 and 3 have been returned with the postal endorsement not claimed and the notice sent to respondent No.2 has been returned with the postal endorsement unclaimed and that respondent Nos.4 and 5 have received the notices under acknowledgment, but they have not entered appearance. This Court, therefore, condoned the delay while observing that as respondent Nos.1 to 3 have not claimed notices, they are deemed to have been served. Even today, no appearance has been made on behalf of any of the respondents.</td>
    </tr>
    <tr>
      <td align="left"><strong>Considering ratio of above judgment, it is decided that all the notices are deemed to have been served on all opponents.</strong></td>
    </tr>
    <tr>
      <td align="left"><strong>In view of above ratio, it is determined that summons were deemed to have served on all the opponents.</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">12.	After considering above facts, there is outstandingprincipal amount of Rs.80,642/- being the balance amount of defaulted installments till the termination of Chit andoutstanding interest amount of Rs. 70758/- @ 18% per annum till the date of final hearing.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">In view of above facts and discussion, it is decided to pass the award ex-parte on merit.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><u><strong>AWARD</strong></u></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><strong>The application of the Disputant subscriber is allowed. It is therefore decreed under Section 69 of the Central Chit Funds Act, 1982, that all the Opponent are jointly and severally liable & directed to pay the disputant a sum of </td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">i)	Rs. 9,00,000/- (Rs. Nine Lakhs only) as principal amount.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">ii)	Interest of Rs. 4,00,000/- (Rs. Four Lakhs only) till the date of passing this award.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">iii)	Interest on Rs.9,00,000/-(Rs. Nine Lakhsonly),at 1.5% per month from the date of passing this award till the date of realization ofentire principal amount of Rs. 9,00,000/-(Rs. Nine Lakhsonly),which may be calculated on the date of payment.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">iv)	Arbitration cost of Rs. 2,500/- (Rs. Two Thousand and Five Hundred only) payable by opponent no. 1 to disputant</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The Award got typed and corrected. Pronounced in the open place ofArbitration on11.12.2018.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Recovery Certificate under Section 71 of the Chit Funds Act, 1982 is also issued along with this Award.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
  
    <td align="left">An appeal against this award may be filed to the State Government (Office of the Hon. Minister of State for Finance, 5th Floor annex, cabin No. 505/506) within two months from the date of award as per Section 70 of the Central Chit Fund Act 1982.</td>
  </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
  <tr>
    <td align="left">Place- Pune &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arbitrator & Jt. Registrar of Chits Pune</td>
  </tr>
    <tr>
      <td align="left">Date:</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE COURT OF THE JOINT REGISTRAR OF CHITS, PUNE, <br />
        VIKRIKAR BHAVAN, PUNE</strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE CHIT FUND ACT, 1982<br />
        (CENTRAL ACT No. 40 OF 1982)</strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>READ AWARD UNDER SECTION 69 OF THE CHIT FUND ACT, 1982AND RULE 34 OF THE<br />
        MAHARASHTRA CHIT FUND RULES, 2004</strong></td>
    </tr>
     <tr>
      <td align="left">&nbsp;</td>
    </tr>
   <tr>
      <td align="center"><strong>RECOVERY CERTIFICATE IN ARBITRATION NO: 1553/2018</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">{$row.company_name}<br />
        {$row.company_address}........................<strong>Disputant</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Versus</td>
    </tr>
    <tr>
      <td align="left">{$row.guarantor_names_withcnt}........................<strong>Opponents</strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
    <td align="left">&nbsp;</td>
  </tr>







  <tr>
    <td align="center"><strong>RECOVERY CERTIFICATE</strong><br>(U/s. 71 of the Chit Funds Act, 1982)</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">This is to certify that on 11.12.2018an award passed in the above Dispute No: Arbitration No: 1553/2018; thereby, it is ordered that all the Opponents do pay to the Disputant, the total claim amount of</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">i)	Rs. 9,00,000/- (Rs. Nine Lakhs only) as principal amount.</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">ii)	Interest of Rs. 4,00,000/- (Rs. Four Lakhs only) till the date of passing this award.</td>
  </tr>
  <tr>
    <td align="left">iii)	Interest on Rs.9,00,000/-(Rs. Nine Lakhsonly),at 1.5% per month from the date of passing this award till the date of realization of entire principal amount of Rs. 9,00,000/- (Rs. Nine Lakhsonly), which may be calculated on the date of payment.</td>
  </tr>
  <tr>
    <td align="left">iv)	Arbitration cost of Rs. 2,500/- (Rs. Two Thousand and Five Hundred only) payable by opponent no. 1 to disputant</td>
  </tr>
  <tr>
    <td align="left">Given under my hand and seal of the office on11.12.2018</td>
  </tr>
  <tr>
    <td align="left">Place- Pune &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arbitrator & Jt. Registrar of Chits Pune</td>
  </tr>
    <tr>
      <td align="left">Date:</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
 <tr>
    <td align="left">No. Joint ROC, Pune/Associated Chit Fund/Opponent Name/Arb. No.1553/2018/B - 1700,Pune, Dt:- 11.12.2018</td>
  </tr>
    </tbody>
  
</table>
{/foreach}