{foreach from=$data item="row"}
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify;">
  <tbody>
    <tr>
      <td height="250" align="center"><br></td>
    </tr>
    <tr>
      <td align="center"><strong>Before The Joint Registrar of Chits,  Pune and Deputy Commissioner of Sales Tax&nbsp;&nbsp;  (L. T .U) E - 601, Yerwada, Pune – 411 006.</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>ORDER</strong></td>
    </tr>
    <tr>
      <td align="center">(Under Chapter XII of the Chits Fund Act, 1982. Read with Chapter VI of the Maharashtra Chit Funds Rules 2004) </td>
    </tr>
    <tr> </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">IN THE</td>
    </tr>
    <tr>
      <td height="10" align="right">Dispute No-&nbsp;/2016-2017</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">{$row.company_name}</td>
    </tr>
    <tr>
      <td height="10">{$row.company_address}</td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>-------------Disputant</strong></td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>Verses</strong></td>
    </tr>
    <tr>
      <td height="10" align="center"> {$row.guarantor_names_withcnt} </td>
    </tr>
    <tr>
      <td height="10" align="right">------------Opponent</td>
    </tr>
    <tr>
      <td height="10" align="right">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>Appearance-</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>For the Disputant,{$row.company_name} Foreman</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>Through its Authorized Representative Mr.{$row.complainant_name}--------------- Appeared</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>For the  Opponent No 1</strong><strong>.</strong><b>{$row.customer_name}</b><strong>-----------------  Appeared</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>For the
        Opponent No :<br>
        {$row.guarantor} </strong></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
      </tbody>
</table>
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">
  <tbody>
    <tr>
      <td height="100" align="center"><br></td>
    </tr>
    <tr>
      <td align="center"><p align="center"><strong><u>APPLICATION FOR ARBITRATION DISPUTE</u></strong></p></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The Facts giving rise to the present  application u/s 64 of the Chits Funds Act, 1982 (Chit Act in Brief) read with  the Rules 31 to 36 of Maharashtra Chits Funds Rules 2004. (Chit Rules in Brief)  are mentioned below- </td>
    </tr>
    <tr>
      <td align="left">The Disputant is a Private Limited  Company incorporated under the Indian Companies Act 1956. And carrying on a  Chit Fund Business under the name of {$row.company_name}. having its registered office at {$row.company_address}.At all material Times the Disputant carried on  their Business in the State of Maharashtra, in the context of which due  permission of the Registrar was taken by them under the provision of Chit Funds  Act, and Chit Rules.</td>
    </tr>
    <tr>
      <td align="left">Opponent No 1. is a partnership firm and Opponent No.2 and 3 are the  partners of the said partnership firm. The Opponent No.1 through its partners  Opponent No.2 &amp; 3, Joined as a member in the Disputants Chit Fund Scheme)  chit <strong>Group No. {$row.chit_group_no} Ticket No.{$row.ticket_no} </strong>commenced on<strong>{$row.commencinf_from} </strong>of the aforesaid branch  office registered under the Bye laws no.<strong>{$row.chit_reg_no}</strong> <strong>dated{$row.agreement_date}.</strong> Opponentwas granted Ticket No<strong>{$row.ticket_no} </strong>for the chit amount of <strong>{$row.chit_value}/-</strong> and the monthly subscription of <strong>{$row.monthly_sub}/- </strong>for<strong> </strong>months in this regard,  Chit Agreement was made between the Disputant and opponents.</td>
    </tr>
    <tr> </tr>
    <tr>
      <td align="left">In auction held by the  Disputant on <strong>{$row.auction_date} </strong>in context of the said chit Series, Opponent no. 1was declared as  a Successful Bidder, having agreed to forego <strong>{$row.auction_amount}/- </strong>out  of the Chit amount of <strong>{$row.chit_value}</strong>/-</strong> for Ticket No.<strong>{$row.ticket_no} </strong>and withdrawn the prize money from  the Disputant. For the due payment of the Future installment to be paid by the Opponent  No. 1, the Opponent No.<strong>2 to 3</strong> stood  as guarantors by executing a guarantee agreement dated <strong>14/08/2014</strong>, in the Disputants Favor. The opponent No. 1 to 3 also  executed Promissory Note in the Disputants Favor. On these Facts Opponents No.  1 is the Prized Subscriber and Opponents No 2 and 3 are partners and guarantors  of the Opponent No 1.
        </p></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The  opponent No. 1 received the prize money by cheque no: <strong>&ldquo;<b>{$row.cust_cheque_no}</b></strong>&rdquo; dated<b>{$row.cust_cheque_date}</b> drawn by the Disputant on <strong><b>{$row.cust_drawn_on}</b>, </strong>{$req_branch_name} Branch for the  Sum of<strong> {$row.prize_amount}/-(after deducting <strong>{$row.auction_amount}</strong>/- towards chit discount and Rs. 4,68,800/-</strong>towards the monthly installment vide TR No. 37661<strong>).</strong></td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10"><strong>Opponents</strong> Promised to repay the said amount to the Disputant along with the interest @  12% per annum towards the balance of the chit amount. Opponent no: 1 along with  Opponent no. 2 to 3 executed a Promissory Note dated <strong>14/08/2014</strong>. For the repayment of future liability.However, the  opponents failed to pay the monthly installments.</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">The  Disputant issued Legal Notices to opponents dated: <strong>{$row.legal_notice_date} </strong>through its advocate demanding the due  amount of <strong>Rs. 82, 50,000/-</strong>plus the interest as applicable<strong>.</strong>The said legal notice is duly served  to the opponents, avoided paying the due amount. Hence the dispute constrains  to file this reference application.</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10"><table border="1">
          <tbody>
            <tr >
              <td width="392" ></td>
              <td width="396" >{$row.chit_group_no}/{$row.ticket_no}</td>
            </tr>
            <tr >
              <td >Future principal amount</td>
              <td ><strong>82,50,000/-</strong></td>
            </tr>
            <tr >
              <td >Interest @ 18% p.a. from date of default to file application</td>
              <td ><strong>18,97,500/-</strong></td>
            </tr>
            <tr >
              <td >Total Amount of claim</td>
              <td ><strong>1,01,47,500/-</strong></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">
  <tbody>
    <tr>
      <td height="200" align="center"><br></td>
    </tr>
    <tr>
      <td height="10">On receipt of this application, I issued notice / summons to the Opponent Nos. 1 to 3 as also to the Disputant to appear before me on _______________at _______A.M/P.M. This notices/summons was served properly as per the Rules. Also, the reminder was issued on _________ calling to appear before me on __________. In response thereto, the following persons appeared before me for hearing.</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  
    <td height="10"><strong>For the Disputant</strong>, Associated Chit Fund Pvt. Ltd., <strong>Foreman</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>Through its Authorized Representative Mr.{$row.complainant_name}--------------- Appeared</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>For the  Opponent No 1</strong><strong>.</strong><b>{$row.customer_name}</b><strong>-----------------  Appeared</strong></td>
  </tr>
  <tr>
    <td align="left"><strong>For the
      Opponent No :<br />
      {$row.guarantor} </strong></td>
  </tr>
  <tr>
    <td height="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="10">On the above facts, the dispute is heard and decided on consideration of the submissions of the disputant &amp; on perusal of the relevant record.</td>
  <tr>
    <td height="10">&nbsp;</td>
  <tr>
    <td height="10">As mentioned above,  the chit Group in question is already registered with the Joint Registrar. All  the relevant documents and in particular the chit document on record are  carefully perused.</td>
  <tr>
    <td height="10">&nbsp;</td>
  <tr>
    <td height="10">Ongoing through the  submission by the Disputant and other relevant record, it is very clear that  the contents of the present application for arbitration are correct and are  duly supported by records.</td>
  <tr>
    <td height="10">&nbsp;</td>
  <tr>
    <td height="10">On perusal thereof  &amp; submission made by disputant, I am satisfied that the dispute as alleged,  exists. Therefore, the Opponent 1, and opponent no.2 and 3 are jointly and  severally responsible and liable to pay the total amount of <strong>Rs. 1,01,47,500/-</strong>to  the disputant along with 12% interest p.a. (from the date of application till  the date of award). That the opponent is liable to pay 12% interest p.a. on  principal due amount as provided under Sec. 33(2) of the Central Chit Fund Act  1982.As opponent has failed to response to this Dispute the cost is to be paid  by the opponent at Rs. <strong>1,000/-</strong> accordingly, </td>
  <tr>
    <td height="10">&nbsp;</td>
  <tr>
    <td height="10">Accordingly, I pass  the award as under-</td>
  <tr>
      </tbody>
</table>
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify; page-break-before:always;">
  <tbody>
    <tr>
      <td height="200" align="center"><br></td>
    </tr>
    <tr>
      <td height="100" align="center"><strong><u>AWARD</u></strong></td>
    </tr>
    <tr>
      <td height="10" align="left">The  present application of the Disputant for Arbitration partly is allowed. It is  held that Opponent Nos. 1 , 2 &amp; 3 jointly and severally liable to pay the  actual principal amount &amp; interest thereon to the disputant. Therefore  opponent Nos. 1, 2 &amp;3 are directed to pay the Disputant a sum of <strong>Rs. 1,01,47,500/- (RupeesOne Crore One Lakh  Forty-Seven Thousand Five HundredOnly)</strong>in addition the Opponent is also  liable to pay 12% interest p.a. from filing of this application till the date  of this award on principal due amount as provided under Sec. 33(2) of the  Central Chit Fund Act 1982.</p></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left">Opponent  Nos. 1, 2 &amp; 3are also liable to pay jointly and severally to the Disputant,  a sum of <strong>Rs 1000/- (Rupees in Words One  Thousand Only)</strong> towards Arbitration expenses.</p></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left">The total  amount i.e. claims amount <strong>Rs.1,01,47,500+  Rs 14,85,000/-</strong> 12% Interest (from the date of filing to the award date)  &amp; cost of the suit is <strong>Rs. 1000/-</strong> is payable by opponent jointly &amp; severally, therefore the amount payable by  the opponent is <strong>Rs. 1,16,33,500/-</strong>.<strong>(Rupees One Crore Sixteen Lakhs  Thirty-Three Thousand Five Hundred Only)</strong></p></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left">The amount  got typed, corrected and pronounced in the open court on the_________ day of  ____2018</p></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left"><p><strong>Date:</strong><b>{$date}</b></p></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>Place:  Pune      </strong></p></td>
    </tr>
    <tr>
      <td height="10" align="Right"><strong>Joint  Registrar of Chits, </strong></p></td>
    </tr>
    <tr>
      <td height="10" align="Right">Pune &amp; DeputyCommissioner of Sales Tax, </p></td>
    </tr>
    <tr>
      <td height="10" align="Right">(L.T.U.),E-601,Yerawada,</p></td>
    </tr>
    <tr>
      <td height="10" align="Right"> Pune – 411  006</p></td>
    </tr>
      </tbody>
</table>
{/foreach}