{foreach from=$data item="row"}<table width="100%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">




  <tbody>




    <tr>




      <td width="100%" align="center"></td>




    </tr>




    <tr>




      <td height="250"></td>




    </tr>




    <tr>
      <td align="center"><u>APPLICATION TO CONDONE DELAY IN FILING ARBITRATION</u></td>
    </tr>
    <tr>
      <td align="right">Arbitration Case No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/2019</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">To,<br>
<strong>The Joint Registrar of Chits, Pune,</strong><br>
4th floor, GST Bhavan, Yerwada,<br>
Jail Road, Pune.
</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><strong>ASSOCIATED CHIT FUND PVT. LTD.</strong> ...........................…………….. Disputant</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">VS</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"> {$row.guarantor_names_withcnt}   & others                   ………………..................  Opponents</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">That disputant submits as follows-</td>
    </tr>
    <tr>
      <td align="left">1.	In the said matter we have filed application for Referring the case for Arbitrationon {$row.case_date} (date). </td>
    </tr>
    <tr>
      <td align="left">2.	The chit group in the said case is terminated on  {$row.terminating_on}. </td>
    </tr>
    <tr>
      <td align="left">3.	That more than 3 yrs from the date of completion of chit group is already over and there is {$row.subscribtion_stop} months/years delay in filing of arbitration.</td>
    </tr>
    <tr>
      <td align="left">That the said delay in filing of the said application may kindly be condoned   for the following reasons.</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">1)	That the original documents were submitted in the Hon’ble court of Pimpri / Pune against section 138 of Negotiable Instrument Act and there was a delay in getting the documents from the court. (mention this reason only if the case is pending under 138).</td>
    </tr>
    <tr>
      <td align="left">2)	That the opponent was paying in a delay mode and stopped paying the installment from {$row.subscribtion_stop}..We have calculated three years from such date when the opponent stopped making payment. </td>
    </tr>
    <tr>
      <td align="left">3)	That the opponent in the said matter has already received the prize amount of the chit fund the balance amount to be received from him belongs to all the subscriber of the chit group. Thus if the said delay in the matter is not condoned then it will unnecessarily cause loss to the balance un-paid subscribers.</td>
    </tr>
    <tr>
      <td align="left">It is therefore prayed that application for delay to file arbitration may kindlybe condoned and the regular hearing in the case may kindly be allowed in the interestof justice and obliged.</td>
    </tr>
    <tr>
      <td align="left">Place:</td>
    </tr>
    <tr>
      <td align="left">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                             For ASSOICATED CHIT FUND PVT. LTD</td>
    </tr>
    <tr>
      <td align="left">FOREMAN</td>
    </tr>


  </tbody>




</table>




{/foreach}