{foreach from=$data item="row"}<table width="100%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">




  <tbody>




    <tr>




      <td colspan="2" align="center"></td>




    </tr>
    <tr>




      <td colspan="2" align="left">TO,<br>
        The Joint Registar of Chits,<br>
      Pune, </td>




    </tr>




    <tr>




      <td colspan="2" align="center"><strong>Delay Condonation</strong>
</td>




    </tr>




    <tr>




      <td colspan="2" align="left">I have filed application for arbitration in as per Arbitration no._________/2019 in
  the following matter</td>




    </tr>



    <tr>


      <td colspan="2" align="center">&nbsp;</td>


    </tr>


    <tr>




      <td colspan="2" align="left">Disputatnt:</td>




    </tr>




    <tr>




      <td colspan="2" align="LEFT"><strong>{$row.company_name}</strong>


	</td>




    </tr>




        <tr>




          <td height="10" colspan="2" align="left"><strong>{$row.company_address}</strong></td>




    </tr>




        <tr>




          <td height="10" colspan="2" align="left">VS</td>




        </tr>




        <tr>




          <td height="10" colspan="2" align="left">Oppononents:-</td>




        </tr>




        <tr>




      <td height="10" colspan="2" align="left"> {$row.guarantor_names_withcnt} </td>




    </tr>


        <tr>


          <td height="10" colspan="2" align="left">&nbsp;</td>


        </tr>




    <tr>




      <td colspan="2" align="left" style="text-align: justify;">The said application was required to be filed on or before_________(date)
    However i couldn't file the same within time due to following reasons_________________________________________________________________________________________________.

       </td>




    </tr>



    <tr>

      <td height="5" colspan="2" align="left">&nbsp;</td>

    </tr>

    <tr>

      <td height="10" colspan="2" align="left"> If the application is not admitted,there will be grave injustice against me.I am 
   enclosing evidence in support of afore stated reasons.</td>

    </tr>

    <tr>

      <td height="5" colspan="2" align="left">&nbsp;</td>

    </tr>

    <tr>

      <td height="10" colspan="2" align="left">Hence i hereby request you to kindly condon the delay and admit my application for<br>
arbitration.Thanking you.</td>

    </tr>

    <tr>




      <td height="10" colspan="2" align="left">&nbsp;</td>




    </tr>




    <tr>




      <td width="63%" height="10" align="left" valign="top">&nbsp;</td>





      <td width="37%" height="10" align="left" valign="top">Signature, <br>        <strong>{$row.company_name}</strong></td>




    </tr>


  </tbody>




</table>




{/foreach}