{foreach from=$data item="row"}
<table width="82%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td align="center"></td>
    </tr>
    <tr>
      <td height="250"></td>
    </tr>
    <tr>
      <td align="right"><strong>Date</strong>:<strong>{$date} </strong></td>
    </tr>
    <tr>
      <td height="10" align="LEFT">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="center"><p align="center"><strong><u>FORMEN AUTHORISATION</u></strong></p></td>
    </tr>
    <tr>
      <td height="10" align="center">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="LEFT">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="LEFT">&nbsp;</td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">In exercise  of the power conferred in Board&rsquo;s Resolution dated 31/08/2015,  I hereby authorized <strong>Mr. {$row.complainant_name} – {$row.occupation}</strong>, {$req_branch_name} Branch, to act as Foreman to authenticate  documents and to discuss/ to correspond on behalf of the company {$row.company_name}. <strong>{$row.company_address}</strong>. With the Registrar of Chits  (Arbitration) and any other connected officials and to appear in the court  proceedings on behalf of the company.</td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;"><p>The same may be noted in your records and acknowledge the same.</p></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;"><p>The Specimen Signature of <strong>Mr. {$row.complainant_name}</strong>.  Is duly attested by the undersigned as given below.</p></td>
    </tr>
    <tr>
      <td height="10" align="right">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>For,{$row.company_name}</strong></td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>Foreman</strong></td>
    </tr>
    <tr>
      <td height="10"  align="center"><strong>(Mr.SajiVarkey</strong><strong>)</strong></td>
    </tr>
    <tr>
      <td height="10"  align="right">&nbsp;</td>
    </tr>
    <tr>
      <td height="10"  align="left">Specimen Signature of <strong>Mr. {$row.complainant_name}:</strong></td>
    </tr>
    <tr>
      <td height="10"  align="center"><table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="320" style="width: 240pt; margin-left: 258.15pt; border: none;">


 <tbody>


<tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;  height:93.0pt">


  <td width="320" valign="top" style="width:240.0pt;border:solid windowtext 1.0pt;  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:93.0pt">  <p class="MsoNormal" align="center" style="text-align:center"><span lang="EN-US" style="font-size:12.0pt;line-height:115%;font-family:" times="" new="" roman","serif""=""><o:p>&nbsp;</o:p></span></p>


  </td>


 </tr>


</tbody>


</table></td>
    </tr>
  </tbody>
</table>

{/foreach}