{include file="layout/header_lgl.htm"}
<div id="page-content">
<div class="row">
<div class="eq-height">
<div class="col-sm-7 eq-box-sm">
<div class="panel panel-bordered-default">
<div class="panel-body">
  <form NAME="frm_search" ACTION="lgl_reports"  method="post">
    <div class="search-box">
      <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
        <div class="form-group">
          <label class="control-label" for="txtkeyword3">Customer Name</label>
          <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " >
            <option value="">Select</option>
				
                {html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$reqcustomer_id}
          
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<table width="{$page_width}" border="0" align="center" cellpadding="0" cellspacing="0" class="NormalBR">
<tr>
            
      
      <tr>
        <td>
          { if $op == 1 }
            <input name="submit13" type="button" class="formbutton" value="Documents" onClick="Javascript:FnSubmit(1);" style="width:130px"/>
          {elseif $op == 2 }
            <input name="submit13" type="button" class="formbutton" value="Legal Notice" onClick="Javascript:FnSubmit(2);" style="width:130px"/>
          {elseif $op == 3 }
            <input name="submit13" type="button" class="formbutton" value="138 Notice" onClick="Javascript:FnSubmit(3);" style="width:130px"/>
          {elseif $op == 4 }
            <input name="submit13" type="button" class="formbutton" value="Complaint" onClick="Javascript:FnSubmit(4);" style="width:130px"/>
          {elseif $op == 5 }
            <input name="submit13" type="button" class="formbutton" value="Verification Affidavit" onClick="Javascript:FnSubmit(5);" style="width:130px"/>
          {elseif $op == 6 }
            <input name="submit13" type="button" class="formbutton" value="Chief Affidavit" onClick="Javascript:FnSubmit(6);" style="width:130px"/>
          {elseif $op == 7 }
            <input name="submit13" type="button" class="formbutton" value="Summons" onClick="Javascript:FnSubmit(7);" style="width:130px"/>
          {elseif $op == 8 }
            <input name="submit13" type="button" class="formbutton" value="Case Summary" onClick="Javascript:FnSubmit(8);" style="width:130px"/>
          {elseif $op == 9 }
            <input name="submit13" type="button" class="formbutton" value="Recovery Certificate" onClick="Javascript:FnSubmit(9);" style="width:130px"/>
          {/if} </td>
      </tr>
      <tr>
        <td height="96" COLSPAN="9" align="center"><span class="NormalBR">
          <input TYPE="button" NAME="Print"  VALUE="Printer Friendly Page" onClick="javascript : fnprinterFrdly('{$page_file.list_page}');">
      </tr>
</tr>      
    </table>
</div>
  </div>
  </div>
  <!--===================================================--> 
  <!--End page content-->
  </div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

function FnSubmit(flag){
	var Customer_id	= document.getElementById("txtcustomer_id").value;
	if ((Customer_id == '') ){ 
		alert("Please select customer"); 
		return false;
	}
		fnOpenWindow2('lgl_reports.php?op='+flag+'&txtcustomer_id='+Customer_id);
}
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"} 