{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
        <div class="panel-body">
        <form NAME="frm_search" ACTION="{$page_file.list_page}&{$PageString}"  method="post" >
        <div class="search-box">
          <div class="row" align=" center">
            <div class="col-sm-6 col-lg-12 col-xs-12 col-md-6">
              <h4><strong>{ if $op == 1 } List Of Documents(Chief Filling)
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="List Of Documents(Chief Filling)"/>
                {elseif $op == 2 } Legal Notice
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Legal Notice"/>
                {elseif $op == 3 } 138 Notice
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="138 Notice"/>
                {elseif $op == 4 } Complainant
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Complainant"/>
                {elseif $op == 5 } Verification Affidavit
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Verification Affidavit "/>
                {elseif $op == 6 } Chief Affidavit
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Chief Affidavit"/>
                {elseif $op == 7 } Summons
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Summons"/>
                {elseif $op == 8 } Case Summary
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Case Summary "/>
                {elseif $op == 9 } Recovery Certificate
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Recovery Certificate "/>
                {elseif $op == 10} AUTHORITY LETTER
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="AUTHORITY LETTER"/>
                {elseif $op == 11} List Of Documents(Case Filling)
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="List Of Documents(Case Filling)"/>
                {elseif $op == 12} Set Of XEROX Given To RMB
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Set Of XEROX Given To RMB"/>
                {elseif $op == 13} Board Resolution
                <input type="hidden" id="txtreport_draft_id" name="txtreport_draft_id" value="Board Resolution"/>
                {/if} </strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
              <div class="form-group">
                <label class="control-label">Company Name</label>
                <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                  <option value="">Select</option>
                  
                      
                        
                        
                        
                        
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqcompany_id}
                      
                      
                      
                      
                      
                    
                </select>
              </div>
            </div>
            <div id="divbranch_name" class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
              <div class="form-group">
                <label class="control-label">Branch</label>
                <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control "  onChange="javascript:fnchange_branch();">
                  <option value="">Select</option>
                  
                      
                        
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqmain_branch_id}

                      
                    
                </select>
              </div>
            </div>
            <div id="divcustomer_name" class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
              <div class="form-group">
                <label class="control-label">Customer</label>
                <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                  <option value="">Select</option>
                  
                      
                        
                                                {html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$reqcustomer_id}

                      
                    
                </select>
              </div>
            </div>
          </div>
        </div>
        <form class="form-horizontal form-bordered">
          <!--===================================================--> 
          <br/>
          <textarea id="txtreport_draft" name="txtreport_draft" > {eval var=$draft} 
              <div id="txtreport_draft" align="center"><input type="button" name="btn1" value=" Print " onClick="javascript : fnprinterFrdly('{$page_file.list_page}');">
			 <input type="button" name="btn2" value=" Save " onClick="javascript:fnSubmit();"></div> 
			  </textarea>
        </form>
        </form>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content-->
</div>
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script src="js/smartadmin/plugins/summernote/summernote.min.js"></script> 
<script language="javascript">
$(document).ready(function() {
	$('#txtreport_draft').summernote({
		height: "300px",
		styleWithSpan: false
	});
});

function fnprinterFrdly(page){
	var txtcustomer_id="";
	var txtcompany_id="";
	var txtmain_branch_id="";

	if (document.getElementById("txtcustomer_id")){ 
	
		txtcustomer_id  = document.getElementById("txtcustomer_id").value;  }
		
	if (document.getElementById("txtcompany_id")){ 
	
		txtcompany_id  = document.getElementById("txtcompany_id").value;  }
	
	if (document.getElementById("txtmain_branch_id")){ 
	
		txtmain_branch_id  = document.getElementById("txtmain_branch_id").value;  }
	
	if ((txtcustomer_id == '') ){ 
		alert("Please select customer"); 
		return false;
	}
	
	var divelement=document.getElementsByTagName("div");
	 var Sel_Rec="";
	 var cnt=0;
			for (var i = 1; i<=divelement.length;i++)
			{
				if(divelement[i]){
				var id=divelement[i].getAttribute("id");
				if(id!=null){
					if(document.getElementById(id).style.display=="block"){	cnt++;
								if (cnt > 1){ Sel_Rec=Sel_Rec+'%'+id;}else{Sel_Rec=Sel_Rec+id;}							
					}
				
				}
			}	
		}
	fnOpenWindow2(page+'&txtcompany_id='+txtcompany_id+"&txtmain_branch_id="+txtmain_branch_id+"&txtcustomer_id="+txtcustomer_id);
}
function fnchange_custmoer(){
	//alert("HI");
	var Report_draft_id	= document.getElementById("txtreport_draft_id").value;
	
	if ((Report_draft_id == '') ){ 
		alert("Please select Report Name"); 
		return false;
	}
		url_1 = "lgl_reports.php?Report_draft_id="+Report_draft_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);

	    document.frm_search.method = "post";
        document.frm_search.action = 'lgl_reports.php?Report_draft_id='+Report_draft_id;
//		document.frm_search
        document.frm_search.submit();

		//document.frm_search('lgl_reports.php?Report_draft_id='+Report_draft_id);
	//fnOpenWindow2(page+'&Report_draft_id='+Report_draft_id);
}

function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch_name=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

function fnchange_branch() {
	//alert("HI");
	if(document.getElementById("txtmain_branch_id").value != ""){
	var	branch_id = document.getElementById("txtmain_branch_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
				document.getElementById("divcustomer_name").innerHTML = customer_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_details=1&branch_id="+branch_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 


</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"} 