<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">MASTER<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="lgl_company.php">Company Master</a></li>
    <li><a href="lgl_branch.php">Branch Master</a></li>
    <li><a href="lgl_customer.php">Customer Master</a></li>
    <li><a href="lgl_complainant.php">Complainant Master</a></li>
    <li><a href="lgl_advocate.php">Advocate Master</a></li>
    <li><a href="lgl_agent.php">Agent Code Master</a></li>
    <li><a href="lgl_court.php">Court Master</a></li>
    <li><a href="lgl_status.php">Status Master</a></li>
    <li><a href="lgl_user.php">User Master</a></li>
    <li><a href="lgl_def_adv.php">Defendant Adv.Master</a></li>
    <li><a href="lgl_bank.php">Bank Master</a></li>
    <li><a href="lgl_report_category.php">Report Category Master</a></li>
  </ul>
</li>
<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">DATA ENTRY<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="lgl_legal_notice.php">Legal Notice Entry</a></li>
    <li><a href="lgl_cheque_return.php">Cheque Return Entry</a></li>
    <li><a href="lgl_guarantor.php">Guarantor Entry</a></li>
    <li><a href="lgl_payment.php">Payment Entry</a></li>
    <li><a href="lgl_status_change.php">Status Change Entry</a></li>
    <li><a href="lgl_internal_note.php">Internal Note Entry</a></li>
    <li><a href="lgl_case_entry.php">Case Entry</a></li>
    
  </ul>
</li>
<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">REPORTS<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="lgl_report_draft.php">Report Draft List</a></li>
	<li class="dropdown-submenu">
        <a href="lgl_customer_report.php">Customer Reports List</a>
        <ul class="dropdown-menu">
            <li><a href="lgl_customer_report.php?reqcategory_id=3">138</a></li>
            <li><a href="lgl_customer_report.php?reqcategory_id=4">Arbitration</a></li>
            <li><a href="lgl_customer_report.php?reqcategory_id=5">Legal Notice</a></li>
</ul>
    </li>    
<!--    <li><a href="lgl_customer_report.php">Customer Reports List</a></li>
-->    <li><a href="report_summery.php">Report Summary  List</a></li>
    <li><a href="report_details.php">Report Details</a></li>
  </ul>
</li>
