<div align="center"><table width="100%" height="38" cellspacing="1" cellpadding="1" border="0" align="center">
    <tbody>
        <tr>
            <td bgcolor="#006699" align="center"><font face="Arial" color="#ffffff" size="2">&copy; Copyright 2010 - 2016</font></td>
        </tr>
    </tbody>
</table></div>



