<table WIDTH="100%" border=0 cellpadding=0 cellspacing=0 BGCOLOR="#003399">
<tr>
  <td height=21 BGCOLOR="#FFFFFF" ALIGN="center">
	<table WIDTH="100%" BORDER="0" BGCOLOR="#FFFFFF" ID="table1">
		
		<tr>
		  <td width="44%" ROWSPAN="3">{$mn_lhf_shop_name}</td>
		  <td>&nbsp;</td>
		  <td>{include file="mn_header_languages.htm"}</td>
		</tr>
		
		<tr>
		  <td WIDTH="13%">{$mn_lhf_version}</td>
			<td WIDTH="43%"><div ALIGN="right" CLASS="BlackBoldFont">

		{if $user.personnel_id != ''}
        	Welcome {$user.full_name} {$user.type}
			<font COLOR="#464646">&raquo;</font>
				 <a HREF="sur_admin_home.php"><font COLOR="#464646">Home</font></a>
				 <font COLOR="#464646">&raquo;</font><a HREF="sur_login.php?logout"><font COLOR="#464646">Logout</font></a>
			 
		{else} 
		  <a HREF="sur_login.php"><font COLOR="#464646">&raquo;Login&nbsp;</font></a><font COLOR="#464646"> &raquo; </font>
		  <a HREF="sur_sign_up.php{if $reqQstr != ''}?QStr=1{/if}"><font COLOR="#464646">New User</font></a>
		{/if}			</td>
		</tr>
		<tr>
		  <td colspan="2">{if $user.personnel_id != ''}{if $mn_lhf_news_alert != ''}<marquee scrolldelay="200" >{$mn_lhf_news_alert}</marquee>{/if}{/if}	</td>
	    </tr>
	</table>	
  </td>
</tr>

{if $session_len != '0'}<tr> <td BGCOLOR="#FFFFFF" CLASS="blacknormalfont"> </td></tr>{/if}

<tr><td CLASS="blacknormalfont" bgcolor="#00679E" height="30">

{literal}
	<link HREF="mn_menu_drop_down_css.css" MEDIA="screen" REL="stylesheet" TYPE="text/css" />
	<script type="text/javascript" src="js/jquery/jquery.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
{/literal}

{capture assign=mn_file_name}mn_file_{$user.type}.js{/capture}
<script type="text/javascript" src="templates/{$mn_file_name}"> </script>

	
</td>
</tr>


</table>