<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="material.min.css">
<link rel="stylesheet" href="mat_styles.css">


       <div class="android-header mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
          	{if $user.personnel_id != ''}
				 {if $user.type == 'user'}				<a  HREF="sur_user_home.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'sadmin'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'languages'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'ip'}			<a  HREF="sur_ip_address_list.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'communication'}	<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {else}									<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
			 	 {/if}
			{else}    
            <img class="android-logo-image" src="{$comp_logo}">               
			{/if}
          </span>
           <div class="android-header-spacer mdl-layout-spacer"></div>
          
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
	          
      		{if $user.personnel_id != ''}
           		<li class="mdl-menu__item">
				 {if $user.type == 'user'}				<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_user_home.php">{lang mkey='user_home'}</a>
				 {elseif $user.type == 'sadmin'}		<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_admin_home.php?mob=1">Home</a>
				 {elseif $user.type == 'languages'}		<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_admin_home.php?mob=1">{lang mkey='languages_home'}</a>
				 {elseif $user.type == 'ip'}			<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_ip_address_list.php">{lang mkey='ip_home'}</a>
				 {elseif $user.type == 'communication'}	<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_admin_home.php?mob=1">{lang mkey='communication'}</a>
				 {else}									<a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="sur_admin_home.php?mob=1">{lang mkey='admin_home'}</a>
			 	 {/if}   </li>
				<li class="mdl-menu__item"><a class="mdl-navigation__link mdl-typography--text-uppercase"  HREF="mob_sur_login.php">Logout</a></li>
			{else} 
		  		<li class="mdl-menu__item"><a class="mdl-navigation__link mdl-typography--text-uppercase" HREF="mob_sur_login.php">Login</a></li>
			{/if}	          
          </ul>
          <span class="android-mobile-title mdl-layout-title">
          	{if $user.personnel_id != ''}
				 {if $user.type == 'user'}				<a  HREF="sur_user_home.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'sadmin'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'languages'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'ip'}			<a  HREF="sur_ip_address_list.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'communication'}	<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {else}									<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
			 	 {/if}  
			{else}    
            <img class="android-logo-image" src="{$comp_logo}">                     
			{/if}
          </span>
      </div>
		</div>
       <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
           {if $user.personnel_id != ''}
				 {if $user.type == 'user'}				<a  HREF="sur_user_home.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'sadmin'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'languages'}		<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'ip'}			<a  HREF="sur_ip_address_list.php"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {elseif $user.type == 'communication'}	<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
				 {else}									<a  HREF="sur_admin_home.php?mob=1"><img class="android-logo-image" src="{$comp_logo}"></a>
			 	 {/if}
			{else}    
            	 <img class="android-logo-image" src="{$comp_logo}">                       
			{/if}
        </span>
        <nav class="mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="admsubscription_entry_direct.php?mob=1">Reciept Entry</a>
			  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="admsubscription_entry_list.php?mob=1">Reciept List</a>
        </nav>
      </div>