{foreach from=$data item="row"}
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify;">
  <tbody>
    <tr>
      <td height="250" align="center"><br></td>
    </tr>
    <tr>
      <td align="center"><strong>Before The Joint Registrar of Chits,  Pune and Deputy Commissioner of Sales Tax    (L. T .U) E - 601, Yerwada, Pune – 411 006.</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>ORDER</strong></td>
    </tr>
    <tr>
      <td align="center">(Under Chapter XII of the Chits Fund Act, 1982. Read with Chapter VI of the Maharashtra Chit Funds Rules 2004) </td>
    </tr>
    <tr> </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">IN THE</td>
    </tr>
    <tr>
      <td height="10" align="right">Dispute No- /2016-2017</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">{$row.company_name}</td>
    </tr>
    <tr>
      <td height="10">{$row.company_address}</td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>-------------Disputant</strong></td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>Verses</strong></td>
    </tr>
    <tr>
      <td height="10" align="center"><table width="788" border="1" class="table table-bordered">
          <tbody>
            <tr>
              <td width="111" ><br></td>
              <td width="761">{$row.customer_name}</td>
            </tr>
            <tr>
              <td ><br></td>
              <td >ADDRESS :{$row.address}{foreach from=$row.gar_arr item="garantor_row"}&nbsp;</td>
            </tr>
            <tr>
              <td ><br></td>
              <td>{$garantor_row.guarantor_name}</td>
            </tr>
            <tr>
              <td ><br></td>
              <td >ADDRESS: {$garantor_row.guarantor_address}{/foreach}</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="10" align="right">------------Opponent</td>
    </tr>
    <tr>
      <td height="10" align="right">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>Appearance-</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>For the Disputant,{$row.company_name} Foreman</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>Through its Authorized Representative Mr.{$row.complainant_name}--------------- Appeared</strong></td>
    </tr>
    <tr>
      <td height="10" align="left"><strong>For the  Opponent No 1</strong><strong>.</strong><b>{$row.customer_name}</b><strong>-----------------  Appeared</strong></td>
    </tr>
{foreach from=$row.gar_arr item="garantor_row"}
    <tr>
      <td height="10" align="left"><strong>For the
        Opponent : ­­­­­­­­­­­­­­­­­­­­MR.{$garantor_row.guarantor_name}</strong></td>
    </tr>
{/foreach}    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
  </tbody>
</table>
{/foreach}