{foreach from=$data item="row"}
<table width="100%" align="left" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td width="100%" align="center"></td>
    </tr>
    <tr>
      <td height="250"></td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE CHIT FUNDS ACT, 1982<BR>
        (CENTRAL ACT No. 40 OF 1982)</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>IN THE COURT OF JOINT REGISTRAR OF CHITS, PUNE<br>
        GST BHAVAN, YERWADA, PUNE-411006</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><strong>ORDER UNDER SECTION 70 OF THE CHIT FUND ACT, 1982 TO CONDONE DELAY<br>
        IN THE ARBITRATION CASE NO. 863/2018 </strong></td>
    </tr>
     <tr>
      <td align="center">&nbsp;</td>
    </tr>
   <tr>
      <td align="left">{$row.company_name}<br>
        Company registered under the company<br>
        Act. 1956 having its office at {$row.company_address}........................<strong>Disputant</strong></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Versus</td>
    </tr>
    <tr>
      <td align="left">{$row.guarantor_names_withcnt}........................<strong>Opponents</strong></td>
    </tr>
    <tr>
      <td align="center"><u>ORDER</u></td>
    </tr>
    <tr>
      <td align="left">M/s. -{$row.company_name}, disputanthas filed arbitration against above mentioned opponents.</td>
    </tr>
    <tr>
      <td align="left">Disputant submitted that Opponent No.1 is prized subscriber and remaining opponents are Sureties to Opponent No. 1 in prized ticket in the Chit Group no. {$row.chit_group_no}, for a chit value of {$row.chit_value}/-, commenced and conducted by the Disputant Company duly registered with the Joint Registrar of Chits, Pune as per registration no.{$row.chit_reg_no}.</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">A.	Facts and submission of disputant:-</td>
    </tr>
    <tr>
      <td align="left">1.	The chit group was commenced on {$row.commencinf_from} and terminated on {$row.terminating_on}. </td>
    </tr>
    <tr>
      <td align="left">2.	Reference of dispute is filed on ----------.</td>
    </tr>
    <tr>
      <td align="left">3.	As per Section 65 of the Act, arbitration was required to be filed within three years from the date of termination of chit group i.e., before -----------(date).</td>
    </tr>
    <tr>
      <td align="left">4.	It is noticed that disputant has filed late arbitration for -------- (months).</td>
    </tr>
    <tr>
      <td align="left">5.	The Disputant submitted application dated -------- to condone delay.</td>
    </tr>
    <tr>
      <td align="left">6.	The matter of delay condonation was kept for hearing along with hearing the matter of arbitration.</td>
    </tr>
    <tr>
      <td align="left">7.	Mr. -------------- attended on behalf of the Disputant.</td>
    </tr>
    <tr>
      <td align="left">8.	No body was present from the Opponent side. (mention name of opponent if attended)</td>
    </tr>
    <tr>
      <td align="left">As per application, disputant prayed for condonation of delay for the following reasons:-</td>
    </tr>
    <tr>
      <td align="left">1.	-------------------------------------------------------------------------------------.</td>
    </tr>
    <tr>
      <td align="left">2.	--------------------------------------------------------------------------------------.</td>
    </tr>
    <tr>
      <td align="left">3.	---------------------------------------------------------------------------------------.</td>
    </tr>
    <tr>
      <td align="left">Disputant further submitted that,</td>
    </tr>
    <tr>
      <td align="left">(a)	The Opponent No.1   defaulted in payment of subscription from the --------- instalment no.</td>
    </tr>
    <tr>
      <td align="left">(b)       Total principal outstanding amount against opponents is Rs. ---------------- and interest till filing of reference is Rs. -------------.</td>
    </tr>
    <tr>
      <td align="left">Disputant prayed that he as well as other subscribers of the chit group will be subjected to great injustice if the delay is not condoned. So he prayed to condone delay and pass award as per arbitration filed.</td>
    </tr>
    <tr>
      <td align="left"><strong>B.	The legal provisions of the Chit Fund Act, 1982 relating to time period for admission of reference of dispute, analysis and discussion:-
        Section 65. Period of limitation;-</strong> (1) Notwithstanding anything contained in the Limitation Act, 1963 (36 of 1963), but subject to the specific provisions contained in this Act, the period of limitation in the case of dispute referred to the Registrar under Sec. 64, shall, - 
        (a) if the dispute relates to the recovery of any sum, including interest thereon, due to a foreman from a deceased subscriber, be three years, computed from the date on which such subscriber dies or ceases to be a subscriber or 
        (b) <strong>if the dispute is between a foreman and a subscriber or a past subscriber, or the nominee, heir or legal representative of a deceased subscriber, and the dispute relates to any act or omission on the part of either party to the dispute, be three years from the date on which the act or omission with reference to which the dispute arose, took place.</strong></td>
    </tr>
    <tr>
      <td align="left">(2) The period of limitation in the case of any dispute other than those referred to in sub-section (1) which are required to be referred to the Registrar under Sec. 64 shall be regulated by the provisions of the Limitation Act. 1963 (36 of 1963), as if the dispute were a suit, and the registrar, a Civil Court.</td>
    </tr>
    <tr>
      <td align="left">(3)<strong>Notwithstanding anything contained in sub-sections (1) and (2), the Registrar may admit a dispute after the expiry of the period of limitation specified therein. if the applicant satisfies the Registrar that he had sufficient cause for not referring the dispute within such period.</strong></td>
    </tr>
    <tr>
      <td align="left">Thus as per provisions of the Act, Registrar on being satisfied on the basis of sufficient cause can admit the reference of dispute beyond the period of limitation of three years.</td>
    </tr>
    <tr>
      <td align="left">While dealing with this issue one has to answer all the following questions before taking judicious decision whether to condone delay or not?  It needs proper justification to admit dispute beyond period of limitation.</td>
    </tr>
    <tr>
      <td align="left">1. One has also to see whether the disputant or opponent is approached this authority with clean hands? </td>
    </tr>
    <tr>
      <td align="left">2. One has to see while employing the technical grounds, whether it leads to injustice on one of the litigant?</td>
    </tr>
    <tr>
      <td align="left">3. Further one has to see whether the delay is willful, deliberate, negligent attitude and with malafide intention.</td>
    </tr>
    <tr>
      <td align="left">The Law of Limitation' prescribes the time-limit for different suits within, which an aggrieved person can approach the court for redress or justice. The suit, if filed after the exploration of time-limit, is struck by the law of limitation. It's basically meant to protect the long and established user and to indirectly punish persons who go into a long slumber over their rights. </td>
    </tr>
    <tr>
      <td align="left">The mandate of Section 5 of the Limitation Act 1963 is that if a Court is satisfied about the applicant having sufficient cause for not preferring the appeal or any other application, the delay may be condoned. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><strong>Section 5 of the Limitation Act relating to delay condonation reads as hereunder:- </strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">“Section 5:- Extension of prescribed period in certain cases–Any appeal or any application, other than an application under any of the provisions of Order XXI of the Code of Civil Procedure, 1908 (5 of 1908), may be admitted after the prescribed period, <strong>if the appellant or the applicant satisfies the court that he had sufficient cause for not preferring the appeal or making the application within such period.</strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><strong>Explanation–The fact that the appellant or the applicant was misled by any order, practice or judgment of the High Court in ascertaining or computing the prescribed period may be sufficient cause within the meaning of this section.” </strong></td>
    </tr>
    <tr>
      <td align="left"><strong>The provisions of the Chit Fund Act and the Limitation Act are para-materia, hence the judicial pronouncements under the Limitation Act can be made applicable to the similar issues under the Chit Fund Act.</strong></td>
    </tr>
    <tr>
      <td align="left">The law of limitation, is based on the legal maxim “Interest Reipubulicae Ut Sit FinisLitium” which means that it is for the general welfare that a period be put to litigation. </td>
    </tr>
    <tr>
      <td align="left">If legal remedy is kept alive beyond the legislatively fixed period of time, it only generatesdissatisfaction. </td>
    </tr>
    <tr>
      <td align="left">The parties cannot be allowed to have an unbridled and unfettered free play in matters of timing of approaching the Court.   The Courts, as held by the Supreme Court, must keep in mind, while dealing with the limitation petition, that there is a distinction between the delay for a plausible reason and delay because of inaction or negligence which deprives a party of the protection of Section 5 of the Limitation Act, 1963. </td>
    </tr>
    <tr>
      <td align="left"><strong>Now let us see the domain of the phrase “sufficient cause”.</strong></td>
    </tr>
    <tr>
      <td align="left"><strong>The Supreme Court has, on number of occasions opined that the expression “sufficient cause” ought to be interpreted in a manner which sub serves the cause of justice for which the institutions of justicing stand for.  When a case with arguable points is shut out on prescriptions of limitation, it results in throwing out a good case at the threshold with the only necessary implication of injustice being perpetuated and justice being defeated.</strong></td>
    </tr>
    <tr>
      <td align="left"><strong>The expression “sufficient cause” cannot be interpreted in an iron frame. The expression “sufficient cause”, in the words of the Supreme Court, is sufficiently elastic for the purposes of a meaningful interpretation. </strong></td>
    </tr>
    <tr>
      <td align="left"><strong>A serious note of caution has been sounded by Supreme Court against any pedantic or hyper technical approach in dealing with limitation petitions, more so, when stakes are high and there is availability of arguable points of law.</strong></td>
    </tr>
    <tr>
      <td align="left"><strong>A Court cannot turn away its gaze from the fact that no litigant benefits by approaching the Court late.  Without any good reason, nobody would like to have his claim extinguished and more often than not, any good reason would dovetail into sufficient reason for approaching the Court after the period of limitation.</strong></td>
    </tr>
    <tr>
      <td align="left"><strong>C.	 Observations of various court authorities of the issue to condone delay:-</strong></td>
    </tr>
    <tr>
      <td align="left">There are various court authorities who have directly dealt with the same issue on the basis of relevant legal provisions and there interpretation on the issue to condone delay. I am reproducing some of them below:-</td>
    </tr>
    <tr>
      <td align="left">1.	In case of <strong>Collector Land Acquisition, ... vs Mst. Katiji&Ors on 19 February, 1987 Equivalent citations: 1987 AIR 1353, 1987 SCR (2) 387, Hon. SC</strong> held thatthe question before their Lordship was that:- To condone, or not to condone, is not the only question. Whether or not to apply the same standard in applying the "sufficient cause" test to all the litigants regardless of their personality in the said context is another.</td>
    </tr>
    <tr>
      <td align="left">The expression “sufficient cause” employed by the legislature in s. 5 of the <u>Indian Limitation Act</u>, 1963  is adequately elastic to enable the courts to apply the law in a meaningful manner which subserves the ends of justice-that being the life-purpose for the existence of the institution of courts.</td>
    </tr>
    <tr>
      <td align="left">The Courts, therefore, have to be informed with the spirit and philosophy of the provision in the course of the interpretation of the expression ‘sufficient cause’. So also the same approach has to be evidenced in its application to matters at hand with the end in view to do even handed justice on merits in preference to the approach which scuttles a decision on merits. [390B-C].</td>
    </tr>
    <tr>
      <td align="left">In the instant case, sufficient cause exists	 for delay in instituting the appeal in the High Court. Delay is, therefore, condoned.  The matter is remitted to the	High Court for disposal on merits. [390C-D] It is observed by Hon. SC that;</td>
    </tr>
    <tr>
      <td align="left">“Any appeal or any application, other than an application under any of the provisions of Order XXI of the Code of Civil Procedure, 1908, may be admitted after the prescribed period if the appellant or the applicant satisfies the court that he had sufficient cause for not preferring the appeal or making the application within such period.” It is also held that:-</td>
    </tr>
    <tr>
      <td align="left">i)	Ordinarily a litigant does not stand to benefit by lodging an appeal late.</td>
    </tr>
    <tr>
      <td align="left">ii)	Refusing to condone delay can result in a meritorious matter being thrown out at the very threshold and cause of justice being defeated. As against this when delay is condoned the highest that can happen is that a cause would be decided on merits after hearing the parties. </td>
    </tr>
    <tr>
      <td align="left">iii)	“Every day’s delay must be explained” does not mean that a pedantic approach should be made. Why not every hour’s delay, every second’s delay? The doctrine must be applied in a rational common sense pragmatic manner.</td>
    </tr>
    <tr>
      <td align="left">iv)	When substantial justice and technical considerations are pitted against each other, cause of substantial justice deserves to be preferred for the other side cannot claim to have vested right in injustice being done because of a non-deliberate delay.</td>
    </tr>
    <tr>
      <td align="left">v)  There is no presumption that delay is occasioned deliberately, or on account of culpable negligence, or on account of mala fides. A litigant does not stand to benefit by resorting to delay. In fact he runs a serious risk.</td>
    </tr>
    <tr>
      <td align="left">vi)  It must be grasped that judiciary is respected not on account of its power to legalize injustice on technical grounds but because it is capable of removing injustice and is expected to do so.   Making a justice-oriented approach from this perspective, there was sufficient cause for condoning the delay in the institution of the appeal.</td>
    </tr>
    <tr>
      <td align="left">2.	Further in case of Ramlal vs. Rewa Coalfields Ltd., AIR 1962 SC 361 Hon. Supreme Court, while interpreting Section 5 of the Limitation Act, laid down the following proposition:   In construing Section 5 (of the Limitation Act), it is relevant to bear in mind two important considerations.</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The first consideration is that the expiration of the period of limitation prescribed for making an appeal gives rise to a right in favour of the decree-holder to treat the decree as binding between the parties.</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">In other words, when the period of limitation prescribed has expired, the decree-holder has obtained a benefit under the law of limitation to treat the decree as beyond challenge, and this legal right which has accrued to the decree- holder by lapse of time should not be light-heartedly disturbed. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The other consideration which cannot be ignored is that if sufficient cause for excusing delay is shown, discretion is given to the court to condone delay and admit the appeal. 	This discretion has been deliberately conferred on the court in order that judicial power and discretion in that behalf should be exercised to advance substantial justice. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">3.	In case of N. Balakrishnan v. M. Krishnamurthy, (1998) 7 SCC 123, Hon. Supreme Court expanded the scope and ambit of law of limitation and elucidated as follows:</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">It is axiomatic that condonation of delay is a matter of discretion of the court. Section 5 of the Limitation Act does not say that such discretion can be exercised only if the delay is within a certain limit.</td>
    </tr>
    <tr>
      <td align="left"><strong>Length of delay is no matter, acceptability of the explanation is the only criterion. Sometimes delay of the shortest range may be uncondonable due to a want of acceptable explanation whereas in certain other cases, delay of a very long range can be condoned as the explanation thereof is satisfactory.</strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Once the court accepts the explanation as sufficient, it is the result of positive exercise of discretion and normally the superior court should not disturb such finding, much less in revisional jurisdiction, unless the exercise of discretion was on wholly untenable grounds or arbitrary or perverse. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Rules of limitation are not meant to destroy the rights of parties. They are meant to see that parties do not resort to dilatory tactics, but seek their remedy promptly.</td>
    </tr>
    <tr>
      <td align="left">The object of providing a legal remedy is to repair the damage caused by reason of legal injury. The law of limitation fixes a lifespan for such legal remedy for the redress of the legal injury so suffered. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Time is precious and wasted time would never revisit. During the efflux of time, newer causes would sprout up necessitating newer persons to seek legal remedy by approaching the courts. So a lifespan must be fixed for each remedy.</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Unending period for launching the remedy may lead to unending uncertainty and consequential anarchy. The law of limitation is thus founded on public policy. </td>
    </tr>
    <tr>
      <td align="left">It is enshrined in the maxim interest reipublicae up sit finislitium (it is for the general welfare that a period be put to litigation).</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">The idea is that every legal remedy must be kept alive for a legislatively fixed period of time. 
        It must be remembered that in every case of delay, there can be some lapse on the part of the litigant concerned. That alone is not enough to turn down his plea and to shut the door against him.   If the explanation does not smack of mala fides or it is not put forth as part of a dilatory strategy, the court must show utmost consideration to the suitor. 
        But when there is reasonable ground to think that the delay was occasioned by the party deliberately to gain time, then the court should lean against acceptance of the explanation. </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">4. <strong>In case of PralhadShankarraoTajale & Ors. Vs. State of Maharashtra through its Secretary (Revenue) & ANR, [Civil Appeal No. 2601 of 2018 arising out of S.L.P. (C) No.35629 of 2017] It is held by Hon. SC that:-</strong> Para 16. This case reminds us of the apt observations made by the learned Judge of this Court, Vivian Bose J., in Sangram Singh vs. Election Tribunal Kotah & Anr., AIR 1955 SC 425. His Lordship, speaking for the Bench, in his distinctive style of writing with subtle power of expression reminded the Courts as to how the code of procedure should be construed in the context of rights of the parties to the lis, which affects their lives and properties.</td>
    </tr>
    <tr>
      <td align="left">His Lordship reminded that procedural laws should not be construed like a penal provision to punish the parities as far as possible. The following is the classic passage, which is always followed for doing substantial justice to the parties to the lis: "A code of procedure must be regarded as such.</td>
    </tr>
    <tr>
      <td align="left">It is procedure something designed to facilitate justice and further its ends: not a penal enactment for punishment and penalties; not a thing designed to trip people up. Too technical a construction of sections that leaves no room for reasonable elasticity of interpretation should therefore be guarded against (provided always that justice is done to both sides) lest the very means designed for the furtherance of justice be used to frustrate it.</td>
    </tr>
    <tr>
      <td align="left">Our laws of procedure are grounded on a principle of natural justice which requires that men should not be condemned unheard, that decisions should not be reached behind their backs, that proceedings that affect their lives and property should not continue in their absence and that they should not be precluded from participating in them. Of course, there must be exceptions and where they are clearly defined they must be given effect to. But taken by and large, and subject to that proviso, our laws of procedure should be construed, wherever that is reasonably possible, in the light of that principle."</td>
    </tr>
    <tr>
      <td align="left">17. 	In our opinion, keeping in view the aforementioned observations and further having regard to the nature of controversy involved in the case, the High Court should have been liberal in taking a view in the matter and accordingly should have condoned the delay and granted the appellants one more opportunity to cure the defects. The interest of justice demanded one more opportunity to the appellants to comply with the orders of the Registry.</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">5.	In case of P. N. Raghvan Vs. S. Armugam, AIR 1935 Mad 385, Hon. Madras High Court held that the prize amount disbursed is not a loan. It was held that when the prized subscriber executes a security bond at the time of receiving prize amount, the security bond is not given for the prize amount received by him but for the payment of future chit subscriptions on the due dates. It was further held that there is no relationship of a creditor and debtor between stakeholder and a subscriber in a chit fund transaction. When the stakeholder advances any amount, he advances such money to one of the member, the funds of a whole body of the chit fund as the fund belongs to a whole lot of subscribers and accordingly the member and the borrower is as much as creditor as a debtor.  Further, one has to see whether the delay is willful, deliberate, negligent attitude and with malafide intention? </td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
   <tr>
      <td align="left">D.	Conclusion:-</td>
    </tr>
    <tr>
      <td align="left">On analysis of various observations of Court authorities, it is noticed that one has to note that elasticity in the provisions is provided so as to meet the ends of justice. Implying technical grounds shall not lead to injustice. Further the “sufficient cause” ought to be interpreted in a manner which sub serves the cause of justice for which institution of justice stands for. Further the discretion has been deliberately conferred on the court in order that judicial power and discretion in that behalf should be exercised to advance substantial justice.</td>
    </tr>
    <tr>
      <td align="left">Further the prize money advanced to opponent no. 1 doesn’t belong to the disputant but to the whole lot of subscribers of which opponent is one of the member. Hence, it is duty of the opponent that instead of litigating the issue on technical grounds, he should make payment so that the institutional motives behind the chit fund scheme shall not affect adversely. </td>
    </tr>
    <tr>
      <td align="left">Further the reasons stated by disputant found to be sound and admissible. Disputant has filed many arbitrations with the office of Joint Registrar of Chits, Pune intime. So in this matter the delay is found not deliberate or on account of negligence.</td>
    </tr>
    <tr>
      <td align="left"><strong>In view of above discussion, in order to protect interest of disputant as well as other stake holders i. e. other members of chit group, I condone the delay in filing reference of dispute as per the provisions and powers vested in the Registrar of Chits in Section 65 (3) of the Chit Funds Act, 1982. </strong></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">Arbitrator & Jt. Registrar of Chits </td>
    </tr>
    <tr>
      <td align="left">SEAL				Pune</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">No. Joint ROC, Pune/Associated Chit Fund Pvt Ltd/---------- name of first opponent/Arb. No. ------/2018/B - 384 Mumbai, Dt:-30.01.2019</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
  </tbody>
</table>
{/foreach}