{foreach from=$data item="row"}
<table width="85%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:17px; line-height:1.4; text-align: justify;">
  <tbody>
    <tr>
      <td height="250" align="center"><br></td>
    </tr>
    <tr>
      <td align="center"><p align="center"><strong>RECOVERY CERTIFICATE</strong></p></td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center"><p align="center"><strong><u>(U/s 71 (a) of The Chit  Funds Act, 1982)</u></strong></p></td>
    </tr>
    <tr> </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">This is to  certify that _____/_____<u>2018</u> an award passed in the above Dispute No:  Arbitration No: ___________thereby, it is ordered that the Opponents no. 1 to 3  do pay to the Disputant, the total claim amount of <strong>Rs. 1,01,47,500/- (Rupees One Crore One Lakh Forty-Seven Thousand Five  Hundred Only</strong>) and <strong>Rs.  14,85,000/-(Rupees Fourteen Lakhs Eighty-Five Thousand Only)</strong> being interest  till date of this award and also payable to the disputant at <strong>Rs. 1,000/- (Rupees One Thousand only)</strong> as a cost of Suit.</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">Given  Under my hand and seal of the office on {$day} day  of&nbsp;&nbsp;{$month}&nbsp;&nbsp;&nbsp;{$year}</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10"><p><strong>Place: </strong>Pune<strong></strong></p></td>
    </tr>
    <tr>
      <td height="10"><p><strong>Date:&nbsp;</strong><u>{$date}</u><strong></strong></p></td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>Joint Registrar of Chits,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>Pune &amp; Deputy Commissioner of Sales  Tax,&nbsp; </strong></td>
    </tr>
    <tr>
      <td height="10" align="right">(L.T.U.) E-601 Yerawada,</td>
    </tr>
    <tr>
      <td height="10" align="right">Pune  – 411 006</td>
    </tr>
  </tbody>
</table>
{/foreach}