{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Report Details</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="report_details.php" method="post">
              <div class="search-box">
                <div  class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">Date From
                    <input NAME="txtkeyword6" id="txtkeyword6" value="{$reqkeyword6}" type="date" id="demo-msk-date" class="form-control" placeholder="dd/mm/yyyy" data-mask="99/99/9999"/>
                  </div>
                </div>
                <div  class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group"> Report Date To
                    <input NAME="txtkeyword7" id="txtkeyword7" value="{$reqkeyword7}" type="date" id="demo-msk-date" class="form-control" placeholder="dd/mm/yyyy" data-mask="99/99/9999"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword4">Company Name</label>
                    <select NAME="txtkeyword4" ID="txtkeyword4" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword4}
                      
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword5">Branch Name</label>
                    <select NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                      <option value="">Select</option>
                      
					  {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Report Category</label>
                    <select NAME="txtkeyword1" ID="txtkeyword1" class="form-control "  >
                      <option value="">Select</option>
                      
                      
                      
                      
								{html_options values=$category_arr.category_id output=$category_arr.category_name selected=$reqkeyword1}
                  
                    
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword10">Report Name</label>
                    <input type="text" NAME="txtkeyword10" ID="txtkeyword10" class="form-control" value="{$reqkeyword10}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Search"/>
                  <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='report_details.php'">
                </div>
              </div>
            </form>
        </div>
        <div style="overflow:auto">
                    <table class="table table-bordered ">
            <thead>
              <tr>
                <th width="69">Sr.No</th>
                {if ($reqkeyword4=="")}
                <th width="300">Company Name</th>
                {/if}
                {if ($reqkeyword5=="")}
                <th width="100">Branch</th>
                {/if}
                {if ($reqkeyword1=="")}
                <th width="100" >Category</th>
                {/if}
                {if ($reqkeyword10=="")}
                <th width="200"  >Report Name</th>
                {/if}
                <th width="300">Customer Name</th>
                <th width="100">Date</th>
                <th >Action</th>
                
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$data item="row"}
            <tr>
              <td>{$row.cnt}</td>
              {if ($reqkeyword4=="")}
              <td>{$row.company_name|escape}</td>
              {/if}
              {if ($reqkeyword5=="")}
              <td>{$row.branch_name|escape}</td>
              {/if}
              
              {if ($reqkeyword1=="")}
              <td >{$row.category_name|escape}</td>
              {/if}          
              {if ($reqkeyword10=="")}
              <td >{$row.report_name|escape}</td>
              {/if}
              <td>{$row.customer_name|escape}</td>
              <td>{$row.report_date|escape}</td>
                <td>
				  <a href="lgl_customer_report.php?action=2&Report_draft_id={$row.report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}" target="_blank"><span class="label label-success">Edit</span></a>
                  <a href="lgl_customer_report.php?action=9&Report_draft_id={$row.report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}" target="_blank"><span class="label label-dark">Print</span></a> 
<!--					<button class="btn btn-primary fa fa-edit" data-title="Edit" onClick="window.open('lgl_customer_report.php?action=2&Report_draft_id={$row.report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}&reqmain_branch_id={$row.main_branch_id|escape}&reqcompany_id={$row.company_id|escape}', '_blank')"></button>
                    <button class="btn btn-primary fa fa-print" data-title="Print" onClick="window.open('lgl_customer_report.php?action=9&Report_draft_id={$row.report_draft_id|escape}&reqcustomer_id={$row.customer_id|escape}', '_blank')"></button>
-->                </td>
              
            </tr>
            {foreachelse}
            <tr>
              <td colspan="8">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
            
            <tfoot>
              <tr >
                <td colspan="9" >{$strPaging}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
          </div>
<!--===================================================--> 
<!--End page content--> 
{literal} 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

function fnchange_cmp() {
	if(document.getElementById("txtkeyword4").value != ""){
	var	company_id = document.getElementById("txtkeyword4").value;
	ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?branch=1&company_id="+company_id;
//alert(url_1);	
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/datatables/media/js/jquery.dataTables.js"></script> 
<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script> 
<script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--DataTables Sample [ SAMPLE ]--> 
<script src="js/demo/tables-datatables.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 