{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Report Summary List</strong></h3>          </div>
          <div class="panel-body">
            <form name="frmBetList1" >
              <div style="overflow:auto">
                <table class="table table-striped table-bordered" width="50%">
                   <tr>{if $company_id !=""}<strong>Company:</strong> {$company_name} {/if}{if $branch_id !=""}<strong>Branch: </strong> {$branch_name} {/if}{if $category_id !=""}<strong>Category: </strong> {$category_name}{/if}</tr><thead>
                 
                    <tr>
                      <th width="69">Sr.No</th>
                      <th width="50">Report Name</th>
                      <th width="20">No. of Issued</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {foreach from=$data item="row"}
                  <tr>
                    <td>{$row.cnt}</td>
                    <td>{$row.report_name|escape}</td>
                    <td>{$row.total_no}</td>
                  </tr>
                  {foreachelse}
                  
                  {/foreach}
                    </tbody>
                  
                </table>
                <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                  <div class="form-group">
                    <div id="div_print" align="center">
                      <input type="button" name="btn1" value=" Print " onClick="javascript: document.getElementById('div_print').style.display = 'none';print();self.close();">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content--> 
{include file="layout/footer.htm"} 