{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Report Summary List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="report_summery.php" method="post">
              <div class="search-box">
                <div  class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">Date From
                    <input NAME="txtkeyword6" id="txtkeyword6" value="{$reqkeyword6}" type="date" id="demo-msk-date" class="form-control" placeholder="dd/mm/yyyy" data-mask="99/99/9999"/>
                  </div>
                </div>
                <div  class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">Date To
                    <input NAME="txtkeyword7" id="txtkeyword7" value="{$reqkeyword7}" type="date" id="demo-msk-date" class="form-control" placeholder="dd/mm/yyyy" data-mask="99/99/9999"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword4">Company Name</label>
                    <select NAME="txtkeyword4" ID="txtkeyword4" class="form-control " onChange="javascript:fnchange_cmp();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword4}
                      
                    
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword5">Branch Name</label>
                    <select NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                      <option value="">Select</option>
                      
					  {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Report Category</label>
                    <select NAME="txtkeyword1" ID="txtkeyword1" class="form-control "  >
                      <option value="">Select</option>
                      
                      
                      
								{html_options values=$category_arr.category_id output=$category_arr.category_name selected=$reqkeyword1}
                  
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Report Name</label>
                    <input type="text" NAME="txtkeyword" ID="txtkeyword" class="form-control" value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Search"/>
                  <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='report_summery.php'">
                </div>
              </div>
            </form>
        </div>
          <div  class="col-sm-6 col-lg-12 col-xs-12 col-md-6" >
          
                    <table class="table table-bordered ">
            <thead>
              <tr>
                <th width="50">Sr.No</th>
                <th width="100">Report Name</th>
                <th width="20">No. of Issued</th>
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$data item="row"}
            <tr>
              <td>{$row.cnt}</td>
              <td>{$row.report_name|escape}</td>
              <td>{if $row.total_no > 0}<a href="report_details.php?txtkeyword10={$row.report_name|escape}&txtkeyword4={$reqkeyword4|escape}&txtkeyword5={$reqkeyword5|escape}&txtkeyword1={$row.category_id|escape}" role="button">{/if}<span class="label label-success">{$row.total_no}</span></a></td>
            </tr>
            {foreachelse}
            <tr>
              <td colspan="3">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
            
            <tfoot>
              <tr >
                <td colspan="3" >{$strPaging}</td>
              </tr>
            </tfoot>
          </table>
          <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
            <div class="form-group">
               <a href="report_summery.php?print_page=1&company_id={$reqkeyword4|escape}&branch_id={$reqkeyword5|escape}&category_id={$reqkeyword1|escape}&report_name={$reqkeyword|escape}" target="_blank"><span class="label label-dark">Printer Friendly</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          </div>
<!--===================================================--> 
<!--End page content--> 
{literal} 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
<script language="javascript">

function fnchange_cmp() {
	if(document.getElementById("txtkeyword4").value != ""){
	var	company_id = document.getElementById("txtkeyword4").value;
	ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?branch=1&company_id="+company_id;
//alert(url_1);	
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 

    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
{/literal}
{include file="layout/footer.htm"} 