{foreach from=$data item="row"}
<table width="82%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td align="center"></td>
    </tr>
    <tr>
      <td height="250"></td>
    </tr>
    <tr>
      <td align="center"><strong>Office of the joint registrar of Chits, Pune. & Deputy. Commissioner of Sales Tax L.T.U. (E - 601) Vikrikar Bhavan, Jail road, Pune- 411 006.</strong></td>
    </tr>
    <tr>
      <td align="center"><p align="center"><strong>Summons to appear in person</strong></p></td>
    </tr>
    <tr>
      <td align="center">(Under Section 67 of the Chit Funds Act, 1982 Rule 35 of the Chit Fund rules, 2004 and Order V, Rule 3 CPC 1908)</td>
    </tr>
    <tr>
      <td align="right">Arbitration No: ____/_____/2018</td>
    </tr>
    <tr>
      <td height="10" align="LEFT"><p>TO,</p></td>
    </tr>
        <tr>
      <td height="10" align="center"> {$row.guarantor_names_withcnt} </td>
    </tr>

    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHEREAS ASSOCIATED CHIT FUND PVT  LTD, 137, Fusion Park, 1st Floor, Morwadi – Ajmera Road, Pimpri,  Pune- 411 018., a Company engaged in conducting Chits under the Chits  Fund Act, 1682, has instituted a claim against you for <strong>{$row.future_liability}/- (Rupees {$row.textfuture_liability} Only) </strong>and interest thereof in the <strong>Chit Group {$row.chit_group_no} Ticket No.{$row.ticket_no}</strong> Chit Value {$row.chit_value}<strong>/-</strong>, Under <strong>Registration No:{$row.chit_reg_no} Dated:  {$row.joining_on}</strong> Conducted by the applicant company.</td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;"><p>You are hereby summoned to appear before the Undersigned  in person on the Day  _____of ____2018- at  ____: ___ hrs to answer the claim. You are also directed to produce on that  day all the documents upon which you intend to rely in support of your defense.  Take notice that in default of your appearance on the day before mentioned the  dispute will be determined in your absence.</p></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given under my hand and the Seal of the Registrar  nominee this ___ Day of _____ 2018</td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="5" align="right"><strong>Joint  Registrar of Chits, Pune &amp;</strong></td>
    <tr>
      <td height="5" align="right"><strong>Dy.  Commissioner of Sales Tax L.T.U. (E -601)</strong></td>
    <tr>
      <td height="5" align="right"><strong>PUNE-  411 006</strong>.<strong>FORM  XIV</strong></td>
  </tbody>
</table>

{/foreach}