{foreach from=$data item="row"}
<table width="82%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td align="center"></td>
    </tr>
    <tr>
      <td height="250"></td>
    </tr>
    <tr>
      <td align="right"><strong>Date</strong>:<strong>{$date} </strong></td>
    </tr>
    <tr>
      <td align="left">To,</td>
    </tr>
    <tr>
      <td align="left"><strong>Joint  Registrar of Chits,</strong></td>
    </tr>
    <tr>
      <td align="left">Pune  and Deputy Commissioner of</td>
    </tr>
    <tr>
      <td height="10" align="LEFT"><p>Sales Tax (L. T.U) E - 601,  Vikrekar Bhavan </p></td>
    </tr>
    <tr>
      <td height="10" align="LEFT"><p>Yerwada, Pune – 411 006. </p></td>
    </tr>
    <tr>
      <td height="10" align="LEFT">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>Subject:</strong>Application for issuing Summons  against defaulters.</td>
    </tr>
    <tr>
      <td height="10" align="center"><strong>Applicant</strong>:Mr. SajiVarkey  ForemanAssociated Chit Fund Pvt. Ltd.</td>
    </tr>
    <tr>
      <td height="10" align="LEFT">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="LEFT"><p><strong>Sir, </strong></p></td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" >In the aforesaid matter Honorable Joint  Registrar of Chits has issue notice to appear against 
        default chit Subscriber {$row.customer_name}of <strong>Group – {$row.chit_group_no} TicketNo: {$row.ticket_no}. </strong>But the  above mention Chit defaulter has failed to appear and file his say before  Honorable Joint Registrar of Chits. Therefore, the above-mentioned chit  Defaulter is avoiding his appearance before honorable Joint Registrar of Chits.</td>
    </tr>
    <tr>
      <td height="5" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;"><p>Therefore, it is humbly prayed before  Honorable Joint Registrar of Chits that, Summons may please be issued against  the chit defaulter.</p></td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>Applicant</strong></td>
    </tr>
    <tr>
      <td height="10" align="right">{$row.company_name}</td>
    </tr>
    <tr>
      <td height="10" align="right"><strong>Foreman</strong></td>
    </tr>
    <tr>
      <td height="10"  align="right"><strong>(Mr.SajiVarkey</strong><strong>)</strong></td>
    </tr>
  </tbody>
</table>

{/foreach}