<body topmargin="0">
<div align="center">
	<table width="300" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td width="100%">
			<form action="{$login_page}{if $QStr != ''}?log=1&{$QStr}{/if}" method="post" >
                <div align="center">
                <table width="300" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td bgcolor="#FFFFFF">
					<div align="center">
						<table width="100%" border="0" cellpadding="3" cellspacing="0">
		  	<tbody>
			    
			      <tr>
			        <td colspan="2">&nbsp;</td>
			        </tr>
			      <td colspan="2">
					<p align="center">
						<font color="#CC3300" face="Tahoma" size="2"><strong>Login</strong></font></td>
			      </tr>
		
			 
	  			<td>
				<p align="right"><font size="2">Login ID :</font></td>
	  			<td>
				<input name="txtlogin" type="text" class="TextBox" value="{$reqUserName}"  size="15" maxlength="255"/><font size="2">&nbsp;
				</font>
				</td>
	 		</tr>

	  			<td>
				<p align="right"><font size="2">Password :</font></td>
	  			<td>
	  			  <input name="txtpassword" type="password" class="TextBox" value="{$reqUserPass}"  size="15" maxlength="255"/></td>
	 		</tr>
				
				  <tr>
				
				  <td colspan="2" align="center" height="15"></td>
				  </tr>
		
				  <td colspan="2" align="center" height="15"><font size="2"><!--<img src="secure/formprotector_showcode.php">-->
					{lang mkey='please_type_the_code'}</font></td>
				  </tr>
		
				  <td align="center">
					<div align="right"><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;
					      <img src="libs/capcha/captcha.php" width="87" height="23" /> </font></div></td>
				  <td align="center">
					<div align="left">
					  <input name="formprotector_secret_code" type="text" class="textfield" size="15" />
					  </div></td>
				  </tr>

  			</tbody>
			</table>
           			</div>
           </td>
                  </tr>
                  <tr>
                    <td height="30"><div align="center">
                          <input type="hidden" name="txtPayment_For" value="{$reqtxtPayment_For}" />
							<input type="hidden" name="txtPrice" value="{$reqtxtPrice}" />
							<input type="hidden" name="mygate" value="{$reqmygate}" />
							<input type="hidden" name="cc_number" value="{$reqcc_number}" />
							<input type="hidden" name="cc_expdate" value="{$reqcc_expdate}" />
							<input type="hidden" name="cc_cvv" value="{$reqcc_cvv}" />
							<input type="hidden" name="txtpayment_type" value="{$reqpayment_type}" />
							<input type="hidden" name="txtreciept_no" value="{$reqrecipt_no}" /></div>
					<div align="center">
                          <input name="submit" type="submit" class="BlackBoldFont" value="Login -&gt;"/>
                          
					</div>
					<div align="center"><a href="sur_forget_password.php" >
						<font size="2"><img src="images/forgetpass1.jpg" width="20" height="21" border="0" align="absmiddle"><font color="#CC3300">Password  reminder</font></font></a><font size="2"><font color="#CC3300"> &nbsp;</font>&nbsp;
                    	</font>
                    </div></td>
                  </tr>
                </table>
				</div>
			</form>
		</td>
	</tr>
</table></div>