{include file="layout/header.htm"}
<script src="includes/echitlegal_customer.js"></script>

{literal}
<style>
    .ui-autocomplete-loading {
        background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
</style>
{/literal}
<div id="page-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel">
        <div class="panel-body pad-no"> 
          <!--Default Accordion--> 
          <!--===================================================-->
          <div class="panel-group accordion mar-no" id="accordion1">
            <div class="panel defaultpanel"> 
              <!--Accordion title--> 
              
              <!--Accordion content-->
              <div class="panel-body">
                <form name="frmBetList1" action="sur_admin_home.php" method="post">
                  <ul class="nav nav-section nav-justified">
                    <li>
                      <div class="search-box">
                        <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                          <div class="form-group">
                            <select placeholder="Company Name" NAME="txtkeyword4" ID="txtkeyword4" class="form-control " onChange="javascript:fnchange_cmp();">
                               <option value="">Select</option>
                              
                              
                      
                      
                      
                                                {html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$reqkeyword4}
                      
                  
                    
                    
                            
                            </select>
                          </div>
                        </div>
                        <div id="divbranch_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                          <div class="form-group">
                            <select placeholder="Branch Name" NAME="txtkeyword5" ID="txtkeyword5" class="form-control " >
                               <option value="">Select</option>
                              
                              
                      
                      {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$reqkeyword5}
                    
                    
                            
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                          <div class="form-group">
							<input type="hidden" name="txtcustomer_id" id="txtcustomer_id"  value="{$reqkeyword}">
                          
                            <input type="text" placeholder="Customer" NAME="txtSearchCustomerName" ID="txtSearchCustomerName" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                        <div class="form-group">
                          <input type="submit" class="btn btn-success" value="Search"/>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
                <div style="overflow:auto">
                  <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th width="300" align="center">Customer Name</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                    {foreach from=$data item="row"}
                    <tr>
                     <td ><a href="lgl_customer.php?action=fullinfo&customer_id={$row.customer_id|escape}">{$row.customer_name|escape}</a></td>
                    </tr>
                    {foreachelse}
                    
                    {/foreach}
                      </tbody>
                    
                    <tfoot>
                      <tr >
                        <td colspan="1" >{$strPaging}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!--===================================================--> 
          <!--End Default Accordion--> 
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Case Alert List</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="demo-foo-pagination" class="table toggle-arrow-small table-bordered" data-page-size="5">
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th width="200">Company Name</th>
                  <th width="100">Branch Name</th>
                  <th width="300">Customer Name</th>
                  <th width="100">Case No</th>
                  <th width="200"> Note</th>
                  <th width="150"> Next Hearing Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$internalnotedata item="internalnoterow"}
                    {foreach from=$internalnoterow.cust_data item="cust_row"}

              <tr>
                <td>{$internalnoterow.cnt}</td>
                <td>{$cust_row.company_name}</td>
                <td>{$cust_row.branch_name}</td>
                <td>{$cust_row.customer_name}</td>
                <td>{$cust_row.case_no}</td>
                <td>{$internalnoterow.note}</td>
                <td>{$internalnoterow.MAX_DATE}</td>
                <td ><input type="button" value="Add" class="btn btn-success" onClick="window.open('lgl_internal_note.php?action=1&customer_id={$internalnoterow.customer_id}', '_blank')"></td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="8">No Record Found</td>
              </tr>
              {/foreach}
                            {/foreach}

                </tbody>
              
              <!--<tfoot>
                <tr >
                  <td colspan="8" >{$strPaging}</td>
                </tr>
              </tfoot>-->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	if(document.getElementById("txtkeyword4").value != ""){
		var	company_id = document.getElementById("txtkeyword4").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?branch=1&company_id="+company_id;
		//alert(url_1);	
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 