{foreach from=$data item="row"}
<table width="82%" align="center" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman', Times, serif; font-size:18px; line-height:1.4;">
  <tbody>
    <tr>
      <td align="center" colspan="2"></td>
    </tr>
    <tr>
      <td height="250" colspan="2"></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><strong>APPLICATION FOR REFERENCE OF A DISPUTE TO ARBITRATION</strong></td>
    </tr>
    <tr>
      <td align="center" colspan="2">(Under Section 64 and rule 31)</td>
    </tr>
    <tr>
      <td align="right" colspan="2">Arbitration No: ____/_____/2018</td>
    </tr>
    <tr>
      <td height="10" align="LEFT" colspan="2"><strong>DISPUTANT: {$row.company_name}</strong></td>
    </tr>
    <tr>
      <td height="10" align="LEFT" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$row.company_address}</td>
    </tr>
    <tr>
      <td height="10" align="LEFT" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td height="5"></td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" align="LEFT" colspan="2">OPPONENTS: </td>
    </tr>
    <tr>
    <tr>
      <td height="10" align="center"> {$row.guarantor_names_withcnt} </td>
    </tr>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" colspan="2" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Disputant submits as follows:</strong></td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="10" colspan="2" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	That the Disputant is a Private Limited Companyrunning the “chit business” under the name and style as {$row.company_name}, registered under the Company Act, 1956, having its registered office at {$row.company_address} and having its branches at different cities over State of Maharashtra. This reference application is filed by Mr. SajiVarkey, who is “Foreman” of the Disputant Company having authority to institute these proceedings and to depose before this Hon’ble Authority against the opponent and is also well acquainted with the facts of the present case.</td>
    </tr>
    <tr>
      <td height="10" colspan="2" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	That the Disputant is carrying a business in chit Funds concerned area registrar of chits and conducted the chits as per the provisions of the central chit funds Act, 1982.</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="94" colspan="2" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	That the Opponent No: 1 is joined as a member of the chit fund scheme of disputant company in Chit Group No.{$row.chit_group_no} Ticket No: {$row.ticket_no} for the “Chit Amount” of  {$row.chit_value}/-(Rupees {$row.textChitValue} Only), with a monthly subscription of  {$row.monthly_sub}/- (Rupees {$row.textmonthly_sub} Only) for {$row.chit_period} months duration and the “Chit Agreement” in this regard has been entered between the Disputant Company & the Opponent No. 1. The said chit group has been registered with the Joint Registrar of Chit, Punevide Chit Registration No: {$row.chit_reg_no} Dated:{$row.joining_on}.</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4)	That, in theAuction/ Draw held on {$row.auction_date} the Opponent No.1 was declared as successful bidder as agreed to forego  {$row.auction_amount}/- (Rupees {$row.textauction_amount} Only) out of {$row.chit_value}/-. After completing necessary legal formalities, Opponent No.1 withdrawn “Prize Amount” as “discount” of {$row.prize_amount}/- (Rupees {$row.textprize_amount} Only) from disputant company, through the RTGS of  20,00,000 (Rupees Twenty Lakhs Only)on dated 22.08.2016towards chit advance and the balance amount of </td>
  </tbody>
</table>
<table width="82%" align="center" cellpadding="0" cellspacing="2" style="font-family:'Times New Roman', Times, serif; font-size:18px; page-break-before:always; line-height:1.4;">
  <tbody>
    <tr>
      <td height="150" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td height="10" colspan="2" style="text-align: justify;">14,81,000/- (Rupees Fourteen Lakhs Eighty- One Thousand Only)by way of the cheque bearing no. {$row.cust_cheque_no} drawn on {$row.cust_drawn_on} dated {$row.cust_cheque_date}, (After deduction of Subscribers contribution towards the Service Tax of  18,750/- &Cheque Return Charges of  250/- vide TR No. 66588). At the relevant time i.e. at the time of auction / draw, the said Opponent required to pay {$row.future_liability}/- (Rupees {$row.textfuture_liability} only) towards future liability under the above said chit group.</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"></td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">5)	That, for the due payment of future installments of the chit, the opponent No. 2 & 3 were stood as Guaranto For the purpose all of them have executed an agreement of Guarantee and also Promissory Note in favor of Disputant Company. &nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">6)	That, as stated above, the Opponent No.1 is bond to pay his future monthly subscription to the disputant regularly as per the provisions of the Central Chit Fund Act, Agreement of Chit and Byelaws of the Company. But the said opponent failed to pay the amount of future installments regularly from {$subscribtion_stop_time}.  Hence the said Opponent became a “DefaultingSubscriber”. After repeated follow up and demand from the Company, he failed to pay the due balance within stipulated period. Hence, as per the terms and conditions of Chit Agreement, the Disputant Company isentitled to demand entire future subscriptions from the Opponents including subscription, penalty and interest thereof.  Opponent No.2 and 3, being the Guarantors are also jointly and severally liable to pay the dues. &nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">7)	The chit is of {$row.chit_period} months duration and will be terminated on {$row.end_month} {$row.end_year}.&nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">8)	The Disputant issued Legal Notice to opponent No: 1 to 3dated {$row.legal_notice_date} through its advocate demanding the due amount of  {$row.pending_amount}/- with interest thereon @18% P.A. The said legal notices were send to them by R.P.A.D. on {$row.legal_notice_date}. The Notice send to Opponent No.2is properlyaccepted byhim. The acknowledgement of notice send to Opponent No.1& 3 are not returned but the said notices are returned as mentioning “Left & Incomplete Address” remarks on Envelop. The disputant Company has performed its legal duty by sending the notices on proper and last known address which was given by the said opponents while executing the chit agreement& Demand Promissory Note. Hence it is deemed to be serve on them. Thus, even after the proper service of notices, all the Opponents intentionally avoided to make payment as demanded. Hence the disputant constraint to file this reference.&nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">9)	The detail of claim Amount:
        
        &nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;"><table border="1" width="100%" style="border-collapse:collapse">
          <tbody>
            <tr>
              <td width="72%"> Arrears of Subscription from Dec. 2016 to Sept. 2019</td>
              <td width="28%"><strong> 42,33,750/- </strong><br></td>
            </tr>
            <tr>
              <td>Consolidated payment of Future Subscriptions<br></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Interest on Arrears Subscription @ 18% per annum from the date of Default of Subscription <br></td>
              <td><strong> 12,70,125/-</strong><br></td>
            </tr>
            <tr>
              <td>Total Claim Amount<br></td>
              <td><strong> 55,03,875/-</strong><br></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;Opponent No:1 to 3 are responsible to pay the claim amount of 55,03,875/-together with interest on the principal amount at the rate of 18% per annum on the claim amount from the date of filing this reference till realization of the entire amount with cost of this reference.</td>
  </tbody>
</table>
<table width="82%" align="center" cellpadding="0" cellspacing="2" style="font-family:'Times New Roman', Times, serif; font-size:18px; page-break-before:always; line-height:1.4;">
  <tbody>
    <tr>
      <td height="150" colspan="2">&nbsp;</td>
    </tr>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;10)	The cause of action of this reference arose at Pimpri wherein the office of the disputant is situated and where the chit was commenced and installments were paid by the opponent and the opponent and the opponent subsequently stopped payment of monthly subscription from {$subscribtion_stop_time} onwards</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;11)	The Chit has been registered under the Joint Registrar of Chits Pune, therefore the Honorable Authority has exclusive jurisdiction to try and dispose the present disputes.</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;12)  The disputant submits that this reference is filed within limitation.</td>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;13)	The disputant therefore prays that this Honorable Authority may please to pass an order and decree directing the opponents 1 to 3 jointly and severally pay to the disputant above said claim amount with further interest as stated above.
        
        In support of the above claim, the disputant encloses documents and papers as per the list annexed hereto. </td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="5">Place:-</td>
      <td align="LEFT">Pune For {$row.company_name}</td>
    </tr>
    <tr>
      <td height="5">Date:-</td>
      <td width="93%" align="LEFT">{$date} </td>
    </tr>
    <tr>
      <td height="5"></td>
      <td align="RIGHT"><p><strong>Foreman</strong></p></td>
    </tr>
    <tr>
      <td height="5" colspan="2" align="center"><strong>Verification</strong></td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">I, Mr. SajiVarkeyForeman of Associated Chit Fund Private Limited, Pimpri Branch, the disputant, declares and state that whatever is stated above are true and correct to my knowledge and belief.</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">&nbsp;</td>
    </tr>
    <tr>
      <td height="5" colspan="2" style="text-align: justify;">Hence verified and signed on …. day of ……. 2018</td>
    </tr>
    <tr>
      <td width="49%" height="5">Drafted  and presented by </td>
      <td align="LEFT">For {$row.company_name}</td>
    </tr>
    <tr>
      <td height="5"><strong>Adv.</strong>{$row.advocate_name}</td>
      <td width="51%" align="LEFT"><p><strong>Foreman.</strong></p></td>
    </tr>
  </tbody>
</table>
{/foreach}