/*
 +--------------------------------------------------------------------------+
 | phpMyBackupPro                                                           |
 +--------------------------------------------------------------------------+
 | Copyright (c) 2004-2006 by Dirk Randhahn                                 |                               
 | http://www.phpMyBackupPro.net                                            |
 | Version information can be found in definitions.php.                     |
 |                                                                          |
 | This program is free software; you can redistribute it and/or            |
 | modify it under the terms of the GNU General Public License              |
 | as published by the Free Software Foundation; either version 2           |
 | of the License, or (at your option) any later version.                   |
 |                                                                          |
 | This program is distributed in the hope that it will be useful,          |
 | but WITHOUT ANY WARRANTY; without even the implied warranty of           |
 | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            |
 | GNU General Public License for more details.                             |
 |                                                                          |
 | You should have received a copy of the GNU General Public License        |
 | along with this program; if not, write to the Free Software              |
 | Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307,USA.|
 +--------------------------------------------------------------------------+
*/

body        {font-family:Arial, Helvetica, sans-serif; font-size: 10pt; background-color:#ffffff;}

.standard   {font-size: 10pt;}
.bold       {text-align: center; font-size: 10pt; font-weight:bold;}
.bold_left  {text-align: left; font-size: 10pt; font-weight:bold;}
.green      {text-align: center; color: #01DF00; font-weight:bold;}
.green_left {text-align: left; color: #01DF00; font-weight:bold;}
.red        {text-align: center; color: #FF0000; font-weight:bold;}
.red_left   {text-align: left; color: #FF0000; font-weight:bold;}

table       {border-width: 0px;}
th          {font-size: 10pt; background-color: #FFFFFF; font-weight:bold; white-space:nowrap; border: 1px solid #B7DEFB;}
.active   	{font-size: 10pt; background-color: #DCECF9; white-space:nowrap;}
td          {font-size: 10pt; text-align:left; vertical-align:middle;}
.list     	{font-size: 10pt; background-color: #F4F8FB; border: 1px dotted #FFFFFF;}
.main     	{height: 400px; background-color:#FFFFFF;}

input       {font-size: 10pt; vertical-align:middle; color: #000000; background-color: #DCECF9; border: 1px solid #B7DEFB;}
select      {font-size: 10pt; vertical-align:middle; color: #000000; background-color: #DCECF9; border: 1px solid #B7DEFB;}
textarea    {font-size: 10pt; vertical-align:middle; color: #000000; background-color: #DCECF9; border: 1px solid #B7DEFB; font-family:Arial, Helvetica, sans-serif;}
.button     {font-size: 10pt; font-weight: bold; vertical-align:middle; color: #000000; background-color: #DCECF9; border: 1px solid #B7DEFB; cursor:pointer;}

a		    {color: #FFAD17; text-decoration: none; font-weight:bold;}
a:hover     {text-decoration: underline;}

img         {border-width: 0px;}

/* for positioning of logo and logout and help links*/
div#logo 	{margin-top: 5px; margin-bottom: 5px; margin-left: 5px; float: left; height: 45px;}
div#help 	{margin-top: 15px; margin-bottom: 5px; margin-right: 80px; float: right; height: 20px;}
div#logout	{margin-top: 15px; margin-bottom: 5px; margin-right: 80px; float: right; height: 20px;}
