{include file="layout/header.htm"}

<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-5 eq-box-sm">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if} Scheme Type</h3>
                    </div>
                    <!--Horizontal Form-->
                    <!--===================================================-->
                    <form class="form-horizontal" name="addEdit" method="post" action="schema-type.php?action=1">
                        {foreach from=$Editdata item="editdatarow"}
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtCode">Code</label>
                                <div class="col-sm-3">
                                    <input type="hidden" name="txtID" value="{$editdatarow.ID}">
                                    <input type="text" placeholder="Code" id="txtCode" name="txtCode" class="form-control" value="{$editdatarow.Code}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="txtType">Type</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Type" id="txtType" name="txtType" class="form-control" value="{$editdatarow.Type}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <label class="form-checkbox form-normal form-primary">
                                        <input type="checkbox" name="txtInstallmentType" value="1" {if $editdatarow.Type == 'SIP'} selected {/if}> Is Single Installment Account
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <label class="form-checkbox form-normal form-primary">
                                        <input type="checkbox" name="txtInstallmentAccount" value="1"{if $editdatarow.Type == 1} selected {/if}> Is Installment Account
                                    </label>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        <div class="panel-footer text-right">
                            <button class="btn btn-info" type="submit">Submit</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Horizontal Form-->
                </div>
            </div>
            <div class="col-sm-7 eq-box-sm">
                <div class="panel">
                   <div class="panel-body">
                       <table id="lookup-table" class="table table-striped table-bordered">
                           <thead>
                           <tr>
                               <th class="min-tablet">Code</th>
                               <th>Name</th>
                               <th class="min-tablet">Installment Type</th>
                               <th class="min-tablet">Is Installment Account</th>
                               <th class="min-desktop">Action</th>
                           </tr>
                           </thead>
                           <tbody>
                           {foreach from=$data item="datarow"}
                           <tr>
                               <td class="min-tablet"> { $datarow.Code} </td>
                               <td> { $datarow.Type} </td>
                               <td class="min-tablet"> { $datarow.InstallmentType} </td>
                               <td class="min-tablet"> { $datarow.InstallmentAccount} </td>
                               <td class="min-desktop">
                                   <a class="btn btn-primary fa fa-edit" href="schema-type.php?id={ $datarow.ID}" ></a>
                                   {if $datarow.del_flag == 1}
                                   <a class="btn btn-danger fa fa-trash" href="schema-type.php?action=4&ID={ $datarow.ID}"></a>
                                   {/if}
                               </td>
                           </tr>
                           {foreachelse}
                           <tr>
                               <td colspan="5">No Record Found </td>
                           </tr>
                           {/foreach}
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="layout/footer.htm"}