{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Record List</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="accountfinancialyear.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <input type="hidden" name="txtlang" value="{$editdatarow.lang}">
              <input type="hidden" name="txtacc_fianancial_year_id" value="{$editdatarow.acc_fianancial_year_id}">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtmain_branch_id">Branch Name :</label>
                <div class="col-md-4">
                  <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control selectpicker " >
                    <option value="">Select</option>
                    
                    
                     {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$editdatarow.main_branch_id}              
                        
                  
                    
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtdisplay_name">Financial Year :</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="accountfinancialyear" id="txtdisplay_name" name="txtdisplay_name" class="form-control" value="{$editdatarow.display_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtfrom_date">From Date :</label>
                <div class="col-sm-9">
                  <input NAME="txtfrom_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.from_date}" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtto_date">To Date :</label>
                <div class="col-sm-9">
                  <input NAME="txtto_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.to_date}"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtis_default">Is Financial:</label>
                <div class="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="txtis_default"  value="1" >
                </div>
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" accountfinancialyear_name="submit" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" accountfinancialyear_name="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
      </div>
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Record List </h3>
          </div>
          <div class="panel-body">
            <form name="frm_new" action="accountfinancialyear.php"  method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Branch_Name</label>
                    <!-- <input type="text" class="form-control" name="txtkeyword" id="txtkeyword" value="{$reqkeyword}" />-->
                    <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker" >
                      <option value="">Select</option>
                      
                      
                      
                  {html_options values=$branch_arr.branch_name output=$branch_arr.branch_name selected=$reqkeyword}
                   
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1">Financial Year</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                  </div>
                </div>
              </div>
              <table id="lookup-table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="min-tablet">Sr.no</th>
                    <th>Fianancial Year</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Branch</th>
                    <th>Is Financial</th>
                    <th class="min-desktop">Action</th>
                  </tr>
                </thead>
                <tbody>
                
                {foreach from=$accountfinancialyear item="row"}
                <tr>
                  <td>{$row.cnt}</td>
                  <td>{$row.display_name}</td>
                  <td>{$row.from_date}</td>
                  <td>{$row.to_date}</td>
                  <td>{$row.branch_name}</td>
                  <td>{if $row.is_default==1} <input type="checkbox" name="txtis_default"  checked disabled> {else}<input type="checkbox" name="txtis_default" disabled>{/if}</td>
                  <td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="accountfinancialyear.php?acc_fianancial_year_id={ $row.acc_fianancial_year_id }" ></a> <a class="btn btn-danger fa fa-trash" href="accountfinancialyear.php?action=4&acc_fianancial_year_id={$row.acc_fianancial_year_id|escape}"></a></td>
                </tr>
                {foreachelse}
                <tr>
                  <td colspan="5">No Record Found </td>
                </tr>
                {/foreach}
                  </tbody>
                
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "accountfinancialyear.php?action=1";
			document.frm_new.submit();
		}
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
<script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 
{/literal}

{include file="layout/footer.htm"}