{include file="layout/header_lgl.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Complainant List</strong></h3>
          </div>
          <div class="panel-body">
            <form name="frmBetList1" action="lgl_complainant.php" method="post">
              <div class="search-box"> 
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Complainant Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="perpage">Show </label>
                    <input type="text" name="perpage" id="perpage" value="{$perpage}"  class="form-control">
                    
                </div>                
              </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xs-12 col-md-6">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Search"/>
                  <input type="button" value="Add New complainant" class="btn btn-success"
                                               onClick="location.href='lgl_complainant.php?action=1'">
                  <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='lgl_complainant.php'">
                </div>
              </div>
            </form>
          </div>
          <div style="overflow:auto">
            
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th >Sr.No</th>
                  <th >Complainant Name</th>
                  <th >Designation</th>
                  <th >Joining On</th>
                  <th >Board Resolution Date</th>
                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$complainant item="row"}
              <tr>
                <td>{$row.cnt}</td>
                <td>{$row.complainant_name}</td>
                <td>{$row.designation}</td>
                <td>{$row.joining_on}</td>
                <td>{$row.board_resolution_date}</td>
				<td >
                  <a href="lgl_complainant.php?action=2&complainant_id={$row.complainant_id|escape}"><span class="label label-success">Edit</span></a>
                  <a href="lgl_complainant.php?action=4&complainant_id={$row.complainant_id|escape}"><span class="label label-danger">Delete</span></a> 
                </td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="6">No Record Found</td>
              </tr>
              {/foreach}
                </tbody>
              
              <tfoot>
              <tr >
                <td colspan="6" >{$strPaging}</td>
              </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
<script src="plugins/fooTable/dist/footable.all.min.js"></script> 
<!--Fullscreen jQuery [ OPTIONAL ]--> 
<script src="plugins/screenfull/screenfull.js"></script> 
<!--FooTable Example [ SAMPLE ]--> 
<script src="js/demo/tables-footable.js"></script> 
{/literal}
{include file="layout/footer.htm"} 