{include file="layout/header_lgl.htm"}
<div id="page-content" class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Complainant</strong></h3>
          </div>
          <form name="frm_new" action="lgl_complainant.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtcomplainant_id" value='{$row.complainant_id}'>
            <div class="panel-body">
              <div class="row">
                <!--<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " >
                      <option value="">Select</option>
                      
                      
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                    
                    
                    
                    </select>
                  </div>
                </div>-->
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Complainant Name</label>
                    <input name="txtcomplainant_name" type="text" class="form-control" value="{$row.complainant_name}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Emp ID No</label>
                    <input name="txtemp_id_no" type="text" class="form-control" value="{$row.emp_id_no}" >
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Son of</label>
                    <input name="txtson_of" type="text" class="form-control" value="{$row.son_of}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Age</label>
                    <input name="txtage" type="text" class="form-control" value="{$row.age}">
                  </div>
                </div>
              </div>
			  <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Pan Card No</label>
                    <input name="txtpan_card_no" type="text" class="form-control" value="{$row.pan_card_no}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Joining On</label>
					<input NAME="txtjoining_on" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$row.joining_on}"/>
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Residing at</label>
                    <textarea id="txtresiding_at"  name="txtresiding_at" rows="3" class="form-control" placeholder="">{$row.residing_at}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Office Address</label>
                    <textarea id="txtoff_address"  name="txtoff_address" rows="3" class="form-control" placeholder="">{$row.off_address}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Occupation</label>
                    <input name="txtoccupation" type="text" class="form-control" value="{$row.occupation}">
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Designation</label>
                    <input name="txtdesignation" type="text" class="form-control" value="{$row.designation}">
                  </div>
                </div>
              </div>
			  <div class="row">
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Board Resolution Date</label>
					<input NAME="txtboard_resolution_date" type="date"  value="{$row.board_resolution_date}"id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>              
              
              {/foreach}
              <div class="panel-footer text-center">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_complainant.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtcomplainant_name.value == "") {
            alert("Please enter Complainant Name");
            return false;
        }
        if (document.frm_new.txtdesignation.value == "") {
            alert("Please enter Designation.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_complainant.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}