{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-7 eq-box-sm">
                <div class="panel panel-bordered-default">
                    <div class="panel-body">
                        <form name="frmBetList1" action="share.php" method="post">

                            <div class="search-box">
                                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword">Member Name</label>
                                        <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="txtkeyword1">No. of shares</label>
                                        <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="Search"/>
                                        <input type="button" value="New share" class="btn btn-success"
                                               onClick="location.href='share.php?action=1'">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Sub Code</th>
                            <th>Name</th>
                            <th class="min-tablet">No of shares</th>
                            <th class="min-tablet">Amount</th>
                            <th class="min-tablet">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {foreach from=$share item="row"}
                        <tr>
                            <td>{$row.cnt}</td>
                            <td>{$row.SubCode}</td>
                            <td>{$row.FullName}</td>
                            <td>{$row.no_of_shares}</td>
                            <td>{$row.share_amount}</td>
                            <td class="min-desktop"><a class="btn btn-primary fa fa-edit"
                                                       href="share.php?action=2&share_id={$row.share_id|escape}"></a> <a
                                    class="btn btn-danger fa fa-trash"
                                    href="share.php?action=4&share_id={$row.share_id|escape}"></a></td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="5">No Record Found</td>
                        </tr>
                        {/foreach}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->
</div>
{literal}
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script>
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script>

{/literal}
{include file="layout/footer.htm"}
