{include file="layout/header.htm"}
<div id="page-content">
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-12 eq-box-sm">
                <div class="panel">

                    <!--Block Styled Form -->
                    <!--===================================================-->
                    <form name="frm_new" action="share.php" method="post" ENCTYPE="multipart/form-data">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Branch</label>
                                                <select NAME="txtBranchCode" ID="txtBranchCode"
                                                        class="form-control">
                                                    <option value="">Select</option>
                                                    {html_options values=$arrUsrbranch_code.main_branch_id
                                                    output=$arrUsrbranch_code.branch_name selected=$branch}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label for="txtFormDate" class="control-label">Trans Date</label>
                                                <input NAME="txtFormDate" type="text" id="txtFormDate"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label>Member Search : </label>
                                            <input type="hidden" name="txtMemberID" id="txtMemberID"
                                                   value="{$EditRecord.MemberID}">
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtSearchMemberName" id="txtSearchMemberName"
                                                   value="" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">No.of shares</label>
                                                <input type="text" class="form-control" NAME="txtno_of_shares"
                                                       ID="txtno_of_shares" onchange="get_shareprice()">
                                                <input type="hidden" class="form-control" NAME="txtShareAmount"
                                                       ID="txtShareAmount" value="{$share_amt}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Amount</label>
                                                <input name="txtshare_amount" type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Payment By</label>
                                                <select name="txtPaymentType" id="txtPaymentType" class="form-control input-sm">
                                                    <option value="cash"{if $EditRecord.MaturityAmount == "cash"} selected {/if}>Cash</option>
                                                    <option value="cheque"{if $EditRecord.MaturityAmount == "cheque"} selected {/if}>Cheque</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="DivChequeDetails" style="display: none">
                                        <div class="row"><hr style="margin: 0; padding: 10px;"></div>
                                        <div class="col-sm-2">
                                            <label> Bank  </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="txtBankName" id="txtBankName" class="form-control input-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-2"><label> Cheque No  </label></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="txtChequeNo" id="txtChequeNo" class="form-control input-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label> IFSC Code  </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="txtIFSCCode" id="txtIFSCCode" class="form-control input-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-2"><label> Cheque Date  </label></div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="txtChequeDate" id="txtChequeDate" class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                                            <label class="control-label" for="txtRemark">Comment</label>
                                            <input name='txtRemark' id='txtRemark' type='text' class='form-control'>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="panel-footer text-right">
                                <button class="btn btn-info" type="button" onClick="javascript: fnpurchase_Submit();">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End No Label Form-->
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->
</div>
{literal}
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT>
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT>

<script language="javascript">

    function fnpurchase_Submit() {
        if (document.frm_new.txtMemberID.value == "") {
            alert("Please Select member name");
            return false;
        }
        if (document.frm_new.txtno_of_shares.value == "") {
            alert("Please enter no of shares");
            document.frm_new.txtno_of_shares.focus();
            return false;
        }
        document.frm_new.method = "post";
        document.frm_new.action = "share.php?action=3";
        document.frm_new.submit();
    }
    function get_shareprice() {
        var no_of_shares = document.getElementById("txtno_of_shares").value;
        var amt_per_share = document.getElementById("txtShareAmount").value;
        var share_val = (parseFloat(no_of_shares) * parseFloat(amt_per_share));
        document.frm_new.txtshare_amount.value = share_val;
    }
    $(function() {
        $('#txtFormDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months',
            onSelect: function (date1) {
                updateMaturityDate();
            }
        }).datepicker("setDate", new Date());
        $('#txtChequeDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months'
        });

        $("#txtSearchMemberName").autocomplete({
            source: function (request, response) {
                selectedBranch = $("#txtBranchCode").val();
                if (selectedBranch > 0) {
                    $.ajax({
                        url: "member.php?action=search&type=member&branch=" + selectedBranch,
                        dataType: "json",
                        data: {
                            searchName: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    id: item.id,
                                    label: item.label,
                                    value: item.value
                                };
                            }));
                        }
                    });
                } else {
                    alert("select Branch to Search");
                }
            },
            minLength: 2,
            select: function (event, ui) {
                $("#txtMemberID").val(ui.item.id);
            }
        });
        $( "#txtPaymentType" ).on('change',function () {
            $( "#DivChequeDetails" ).hide();
            if($( "#txtPaymentType" ) .val() == 'cheque'){
                $( "#DivChequeDetails" ).show();
            }
        });
    });
</script>
<script src="plugins/dropzone/dropzone.min.js"></script>
{/literal}

{include file="layout/footer.htm"}