{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-6 eq-box-sm">
        <div class="panel"> 
          
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="share.php" enctype="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtshare_id" value='{$row.share_id}'>
            
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Member ID</label>
                    <input type="text" class="form-control"NAME="txtmember_id" ID="txtmember_id" readonly value="{$row.member_id}" >
                  </div>
                </div>   
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Member Name</label>
                    <input name="txtmember" type="text" class="form-control" value="{$member_name}"readonly>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">No.of shares</label>
                    <input type="text" class="form-control"NAME="txtno_of_shares" ID="txtno_of_shares" value='{$row.no_of_shares}' onchange="get_shareprice()">
                    <input type="hidden" class="form-control"NAME="txtShareAmount"ID="txtShareAmount" value="{$share_amt}">
                  </div>
                </div>
                
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input name="txtshare_amount" type="text" class="form-control" value='{$row.share_amount}' readonly>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-right">
                <button class="btn btn-info" type="submit" onClick="javascript: fnpurchase_Submit();">Submit</button>
              </div>
            </div>
            {/foreach}
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
<!--===================================================--> 
<!--END CONTENT CONTAINER--> 
{literal} 
<script language="javascript">
		function fnpurchase_Submit(){
		   if (frm_new.txtmember_id.value == "" ){
				alert("Please Select member name");
				frm_new.txtmember_id.focus();
				return false;
			}	
		   if (frm_new.txtno_of_shares.value == "" ){
				alert("Please enter no of shares");
				frm_new.txtno_of_shares.focus();
				return false;
			}	
			document.frm_new.method = "post";
			document.frm_new.action = "share.php?action=5";
			document.frm_new.submit();
		}
		function get_shareprice()
		{
			var no_of_shares = document.getElementById("txtno_of_shares").value;
			var amt_per_share = document.getElementById("txtShareAmount").value;			
			var share_val=(parseFloat(no_of_shares) * parseFloat(amt_per_share));
            document.frm_new.txtshare_amount.value = share_val;			
		}
</script> 
{/literal}

{include file="layout/footer.htm"}