/* CSS Document */
.shadowlayer{
	background-color:#CCCCCC;
	display:none;
	height:100%;
	left:0px;
	min-height:100%;
	opacity:0.6;
	position:absolute;
	top:0px;
	width:100%;
	z-index:0;
}
.html_window{
	position:absolute;
	display:none;
	z-Index:1001;
}
/*.shadowlayer_data{
	position:absolute;
	width:380px;
	height:230px;
	display:none;
	overflow: auto; 
	z-Index:1001;
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	background-color:#FFFFFF;
	text-align:center;
	vertical-align:middle;
	padding:1px;
}*/
.html_window_control_del{
	background:white
}
.html_window_control{
	width:100%;
	background-color:#336699;
	border-top: 2px solid #006600;
	border-left: 2px solid #006600;	
	border-right: 2px solid #006600;
}
.html_window_control1{
	width:100%;
	border-top: 1px solid #333333;
	background-color:#EFEFEF;
	border-top: 2px solid #006600;
	border-left: 2px solid #006600;
	border-right: 2px solid #006600;
}

.html_window_data{
	position:absolute;
	width:100%;
	height:100%;	
	z-Index:1001;
	background-color:#FFFFFF;	
	border-left: 2px solid #006600;
	border-right: 2px solid #006600;
	border-bottom: 2px solid #006600;	
}
.html_url_window_data{
	position:absolute;
	width:100%;
	height:100%;
	overflow: auto; 
	z-Index:1001;
	background-color:#FFFFFF;	
	border-left: 2px solid #006600;
	border-right: 2px solid #006600;
	border-bottom: 2px solid #006600;
}

