.grayBG1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #D3D3D3; font-weight: normal}
.GrayBG2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #E6E6E6; font-weight: normal}
.GrayBG3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; background-color: #E6E6E6; font-weight: normal}
.GrayBG4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #F5F5F5; font-weight: normal}
.GrayBG5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #FfFfFf; font-weight: normal}
.grayBG {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #C5C5C5; font-weight: normal}
.grayBGDark { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #959595; font-weight: normal}
.BlakBG0 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #003FC1}

.SmallBR {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 2pt; color: #046695}
.TextBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}

.BlackNormalFont {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.BlackBoldFont {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold}
.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	color: #000000 font-weight;
	font-weight: bold;
: bold}

.BlueBG0 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #ABCDF3}
.BlueBG0Dark {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #006CD9}
.headlineCopy {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000 font-weight;
	font-weight: bold;
}

.fontBold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; background-color: #f7f7f7; height: 18px; width: auto}
.health_insurnce_font {
	font-family: "Courier New", Courier, mono;
	font-size: 10px;
	font-style: normal;
}

.comments {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #D3D3D3}
.comments1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #E1E1E1}
.NormalBR {
	color: #000000;
	background-color: #FFFFFF;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.NormalFont {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #006699; font-weight: normal}
.NormalFont1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #FFFFFF; font-weight: normal}
.NormalFont2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.NormalFont3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold}
.NormalFont4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #EDF2FE}
.highlight { background-color: #E1EFFD}
.NormalFontBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333}
.BoldFontBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; font-weight: bold}
.SmallBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333}
.BoldRed {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC0033; font-weight: bold}
.BoldWhite {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: normal}
.BoldBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold}
.BoldRedBG {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold; background-color: #E2EBFE}
.BlueBG {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold; background-color: #97C1F0}
.BlueBG1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #B9DCFF}
.asterisk {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FF0033}
.adminhead {  font-size: 11pt; color: #000000; font-weight: bold; border: none; line-height: normal; font-variant: normal; font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif}
.adminheadsmall {  font-size: 16pt; color: #003399; font-weight: bold; font-family: "Times New Roman", Times, serif}
.orange {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #5894CF}
.orange1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #C5D0ED}
.orange2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #66CCFF}
.orange4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #336699}
.WhiteBG {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #FFFFFF
}

.adminheadsmallSmall {
font-size: 15pt; color: #333333; font-weight: bold; font-family: "Times New Roman", Times, serif
}
.BlackBGCopy {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold; background-color: #006FA4
}
.WhiteCopy {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold
}
.orangeCopy {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold; background-color: #DEE6F5
}
.adminheadsmallSmallBlk {

font-size: 10pt; color: #000000; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif
}
.DarkGrayBG {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #8F8F8F
}
.BoldWhiteLarge {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold
}
.btnblue{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	background-color: #e1e1e1;
}
.btnblue1{
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	background-color: #41CFCF;
}
A:link { COLOR: #003399; TEXT-DECORATION: underline }
A:visited { COLOR: #003399; TEXT-DECORATION: underline }
A:hover { COLOR: #333333; TEXT-DECORATION: none }
.DarkBlueBGNor {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: normal; background-color: #004f9d
}
.BlueBGDark {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold; background-color: #006FA4
}
.NormalFontBlue {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #0033CC
}
.BoldlFontBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0066CC;
	font-weight: bold;

}
.orange3 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #D1DBF1
}
.comments2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #F7F7F7
}
.RedFaintBG {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #FFD5D5
}
.orangeDark {

font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #A5B9E2
}
.adminheadsmallSmallBlue {


font-size: 11pt; color: #0058DD; font-weight: bold; font-family: "Times New Roman", Times, serif
}
.adminheadsmallSmallSmallBlue {
	font-size: 10pt; color: #0058DD; font-weight: bold; font-family: "Times New Roman", Times, serif
}
.BlackBG {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold; background-color: #000000
}
.RedFaintBGCopy {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #FFF2F2
}
.BlueFaintBGCopy {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #DCEBFA
}
.adminheadCopy {
	font-size: 11pt;
	color: #000000;
	font-weight: bold;
	border: none;
	line-height: normal;
	font-variant: normal;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;

}
.adminheadsmallSmallBlkCopy {
	font-size: 13pt;
	color: #000000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;

}
.NormalFontBlack1 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; font-weight: normal
}
.NormalFont4Copy {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; background-color: #EDF2FE
}



#tooltip a:hover {
	font-size:8.1pt; //fix for Internet Explorer: font must be different size than body font
	text-decoration:none;
}
.tooltipLinkInner {
	color:blue;
	text-decoration:none;
}
#tooltip .toolbox a:hover span {
	display: block! important;
	border: thin none #999999;
	color: black;
	position: absolute;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	width:400px;
	z-index:1000;
	padding: 0px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4);
}
.tooltipInner {
	margin:7px;
	font-size:8pt;
	width:650px;
}
.tooltip_href {
	position: relative;
	width: 70%;
}



.OrangeDarkBtn {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #FFCC00
}
.btnblue1Dark {
	font-family: Verdana;
	font-size: 8pt;
	color: #993300;
	background-color: #289D9D;
}
.btnblue1Faint {
	font-family: Verdana;
	font-size: 8pt;
	color: #000000;
	background-color: #7DDFDF;
}
.highlightFaint {
	background-color: #DFFFBF
}
body {
	font-family: arial, helvetica;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 14pt;
	font-style: italic;
	margin-bottom: 8px;
}
a {
	text-decoration: none;
	color: black;
}
canvas {
	border: 1px solid #AAAAAA;
}
#canvas {
	position: absolute;
	left: 90px;
	top: 10px;
}
#canvasInterface {
	position: absolute;
	left: 90px;
	top: 10px;
}
#noCanvas {
	position: absolute;
	left: 90px;
	top: 100px;
	width: 400px;
	height: 400px;
	font-size: 16px;
}
#chooserWidgets {
	display: block;
	position: absolute;
	left: 500px;
	width: 300px;
	top: 10px;
}
#chooserWidgets canvas {
	margin-bottom: 10px;
}
#controls {
	position: absolute;
	top: 10px;
	left: 8px;
	font-size: 12px;
	width: 70px;
}
.ctr_btn {
	overflow: hidden;
	width: 70px;
	height: 20px;
	cursor: pointer; 
	padding-left: 3px; 
	margin-bottom: 2px;
	border:1px solid #AAAAAA; 
	background:#FFFFFF;
}

#cpainterInfo {
	position: absolute;
	left: 500px;
	top: 340px;
}
#errorArea {
	position: absolute;
	width: 200px;
	left: 800px;
}
.TextBoxCopy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	border-top: none;
	border-right: none;
	border-bottom: ridge;
	border-left: none;

}
.SmallTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
	font-weight: normal;
}
.TextBoxCopy_new {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border-top: none;
	border-right: none;
	border-bottom: ridge;
	border-bottom-width:thin;
	border-bottom-color:#000000;
	border-left: none;
}
.NormalBR14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
}

.Div_Appt {
	height: 14px;
	width: 14px;
	background-image: url(../images/icon.gif);
	list-style-type: square;
	cursor: auto;
}
.Apt_Det {
	border-bottom-width:thin; 
	border-bottom-color:#E0E0E0;
}
.Pending_div{
	border:outset #999999 thin; 
	height:15px;  
}
.ahref_font{
	color: #6699FF;
}.appt_main_table {
	background-color: #289D9D;
	word-spacing: normal;
	border: thin solid #D4D0C8;
}
.appt_sub_table {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #A3CAF1
}
.SOAP_Templete{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;	color: #000000;	border-top: none;border-bottom-color:#FF0000;border-right: none;	border-left: none;
}
.txtBox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	border: 1px solid;
	border-color: #666666;	
}
.Mdlspace{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	border: 1px solid;
	border-color: #666666;
	border-bottom-color:#666666; 
	border-left-color:#666666; 
	border-right-color:#666666; 
	border-top-color:#FFFFFF;	
}
.SelectedTD{
	font-family:Verdana,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;	border: 1px solid;
	border-color: #666666;
	border-bottom-color:#FFFFFF;	
	color: #444488;
	cursor:pointer;
}
.UnSelTD{
	font-family:Verdana,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	border: 1px solid;
	border-color: #666666;	
	background:#DDDDEE none repeat scroll 0%;
	color: #444488;
	cursor:pointer;
}
.main_tab_data{
	margin:0;
	padding: 3px 0;
	display:inline;
	text-decoration: none;
	height:20px;
	border-bottom: 1px solid #778;
}
.tab_data{
	margin:0;
	padding: 3px 0;
	display:inline;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
	font: bold 11px Verdana, sans-serif;
	height:25px;
	border-bottom: 1px solid #778;
	color: #444488;
	cursor:pointer;
}
.tab_data_active{
	margin:0;
	padding: 3px 0;
	display:inline;
	background-color: #fff;
	border-top: 1px solid #778;
	border-left: 1px solid #778;
	border-right: 1px solid #778;
	border-bottom: 1px solid #fff;
	font: bold 11px Verdana, sans-serif;
	cursor:pointer;
}
.tab_with_data{
	display:none;
}
.tab_with_datatabberactive{
	display:inline;
}
.banimage{
	background-image:url(../images/admhea6.gif);
	width:810px;
	height:86px;
	background-repeat:no-repeat;
}


.btn {
	display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color:#FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.btn * { font-style: normal; background-image: url(../images/btn2.png); background-repeat: no-repeat; display: block; position: relative; }
.btn i { background-position: top left; position: absolute; margin-bottom: -5px; top: 0; left: 0; width: 5px; height: 5px; }
.btn span { background-position: bottom left; left: -5px; padding: 0 0 5px 10px; margin-bottom: -5px; }
.btn span i { background-position: bottom right; margin-bottom: 0; position: absolute; left: 100%; width: 10px; height: 100%; top: 0; }
.btn span span { background-position: top right; position: absolute; right: -10px; margin-left: 10px; top: -5px; height: 0; }

.btn.blue { background: #2ae; }
.btn.green { background: #9d4; }
.btn.pink { background:#DC0E13;}
.btn[class] { background-image: url(../images/btnshade.png); background-position: bottom; }


#input[type=submit] { background: url(../images/btnshade.png) top repeat-x #DC0E13; color: #FFFFFF; background:#DC0E13; font-size: 12px; font-weight: bold; padding: 2px 4px 2px 4px; border: 1px solid #CCCCCC; cursor: pointer; }
#input[type=submit]:hover:focus { background-color: #FFFFFF; background-image: none; }

#input[type=button] { background: url(../images/btn2.png) top repeat-x #DC0E13; color: #FFFFFF; background:#9d4; font-size: 12px; font-weight: bold; padding: 2px 4px 2px 4px; border: 1px solid #CCCCCC; cursor: pointer; }
#input[type=button]:hover:focus { background-color: #FFFFFF; background-image: none; }

#input[type=submit].blue { background: url(../images/btn2.png)  top repeat-x #5F78AB; color: #FFFFFF; background:#2ae;  font-size: 12px; font-weight: bold; padding: 0px 4px 2px 4px; border: 1px solid #29447E; }
#input[type=submit].blue:hover:focus { background-color: #4B649A; background-image: none; }