.grayBG1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #D3D3D3; font-weight: normal}
.GrayBG4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #F5F5F5; font-weight: normal}
.row_bg1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #ffffff; font-weight: normal}
.row_bg2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #efefef; font-weight: normal}
.BlueBG0 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; background-color: #ABCDF3}
.grayBG {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #C5C5C5; font-weight: normal}
.SmallBR {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 2pt; color: #046695}
.TextBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.BlackBoldFont {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold}
.BlackNormalFont {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.BoldFontBlack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; font-weight: bold}
.headline { font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 13pt;	color: #000000 font-weight;	font-weight: bold;: bold}
.BoldRed {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC0033; font-weight: bold}
.asterisk {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FF0033}
.adminhead {  font-size: 11pt; color: #000000; font-weight: bold; border: none; line-height: normal; font-variant: normal; font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif}

.NormalBR13 { font-family: Verdana, Arial, Helvetica, sans-serif;  font-size: 13px;  font-style: normal; font-weight: normal;  background-color: #FFFFFF; }





.btn { 	display: block; 	position: relative; 	background: #aaa;	padding: 5px;	float: left;	color:#FFFFFF;	text-decoration: none;	cursor: pointer;}
.btn * { font-style: normal; background-image: url(../images/btn2.png); background-repeat: no-repeat; display: block; position: relative; }
.btn i { background-position: top left; position: absolute; margin-bottom: -5px; top: 0; left: 0; width: 5px; height: 5px; }
.btn span { background-position: bottom left; left: -5px; padding: 0 0 5px 10px; margin-bottom: -5px; }
.btn span i { background-position: bottom right; margin-bottom: 0; position: absolute; left: 100%; width: 10px; height: 100%; top: 0; }
.btn span span { background-position: top right; position: absolute; right: -10px; margin-left: 10px; top: -5px; height: 0; }

.btn.blue { background: #2ae; }
.btn.green { background: #9d4; }
.btn.pink { background:#DC0E13;}
.btn[class] { background-image: url(../images/btnshade.png); background-position: bottom; }


#input[type=submit] { background: url(../images/btnshade.png) top repeat-x #DC0E13; color: #FFFFFF; background:#DC0E13; font-size: 12px; font-weight: bold; padding: 2px 4px 2px 4px; border: 1px solid #CCCCCC; cursor: pointer; }
#input[type=submit]:hover:focus { background-color: #FFFFFF; background-image: none; }

#input[type=button] { background: url(../images/btn2.png) top repeat-x #DC0E13; color: #FFFFFF; background:#9d4; font-size: 12px; font-weight: bold; padding: 2px 4px 2px 4px; border: 1px solid #CCCCCC; cursor: pointer; }
#input[type=button]:hover:focus { background-color: #FFFFFF; background-image: none; }

#input[type=submit].blue { background: url(../images/btn2.png)  top repeat-x #5F78AB; color: #FFFFFF; background:#2ae;  font-size: 12px; font-weight: bold; padding: 0px 4px 2px 4px; border: 1px solid #29447E; }
#input[type=submit].blue:hover:focus { background-color: #4B649A; background-image: none; }