{include file="layout/header_lgl.htm"}
<div class="col-sm-12 col-lg-4 col-xs-6 col-md-6" id="page-content" style="text-align:center" align="center">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Add New Agent</strong></h3>
          </div>
          <form name="frm_new" action="lgl_agent.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " >
                      <option value="">Select</option>
                      
                                                {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=""}
                    
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Agent Name</label>
                    <input name="txtagent_name" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Agent DOB</label>
                    <input NAME="txtagent_dob" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-12 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Agent Address</label>
                    <textarea id="txtagent_address"  name="txtagent_address" rows="3" class="form-control" placeholder=""></textarea>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-left">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='lgl_agent.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtagent_name.value == "") {
            alert("Please enter agent Name");
            return false;
        }
        if (document.frm_new.txtagent_address.value == "") {
            alert("Please enter agent address");
            return false;
        }
        if (document.frm_new.txtagent_dob.value == "") {
            alert("Please enter birth date.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_agent.php?action=3";
        document.frm_new.submit();
    }
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}