{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if} City Master</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="citymaster.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 control-label">Select State :</label>
                <div class="col-sm-9">
                  <input type="hidden" name="txtid" value="{$editdatarow.id}">
                  <select class="form-control selectpicker" NAME="txtstate_id">
                    <option value="">Select</option>
                    
                      
								{html_options values=$state_arr.state_id output=$state_arr.state_name selected=$editdatarow.state_id}              
                        
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtcity_name">City Name :</label>
              <div class="col-sm-9">
                <input City_Name="text" placeholder="city_name" id="txtcity_name" name="txtcity_name" class="form-control" value="{$editdatarow.city_name}">
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" city_name="submit" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" city_name="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
      </div>
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">City</h3>
          </div>
          
                    <div class="panel-body">
                     <form name="frm_new" action="citymaster.php"  method="post">
					  <div class="search-box">
                			<div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
								<div class="form-group" >
									<label class="control-label" for="txtkeyword">State Name</label>
									<input type="text" class="form-control" name="txtkeyword" id="txtkeyword" value="{$reqkeyword}" />
								</div>
							 </div>
                             <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
								<div class="form-group" >
									<label class="control-label" for="txtkeyword1">City Name</label>
									<input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}" />
								</div>
							 </div>
                        
							<div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                                <div class="form-group">
                                	<input type="submit" class="btn btn-success" value="Search"/>
                                </div>
                            </div>
                           
                    </div>          
            <table id="lookup-table" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="min-tablet">Sr.no</th>
                  <th>State</th>
                  <th class="min-tablet">City</th>
                  <th class="min-desktop">Action</th>
                </tr>
              </thead>
              <tbody>
              
              {foreach from=$city item="row"}
              <tr>
                <td>{$row.cnt}</td>
                <td>{$row.state_name}</td>
                <td >{$row.city_name}</td>
                <td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="citymaster.php?id={ $row.id}" ></a> <a class="btn btn-danger fa fa-trash" href="citymaster.php?action=4&id={ $row.id}"></a></td>
              </tr>
              {foreachelse}
              <tr>
                <td colspan="5">No Record Found </td>
              </tr>
              {/foreach}
                </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{literal} 

<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT>

<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "citymaster.php?action=1";
			document.frm_new.submit();
		}
</script> 
 <script src="plugins/dropzone/dropzone.min.js"></script>
  <script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 

{/literal}


{include file="layout/footer.htm"}