{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-5 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{if $id != ""}Edit {else} Add {/if}Account List</h3>
          </div>
          <!--Horizontal Form--> 
          <!--===================================================-->
          <form class="form-horizontal" name="frm_new" method="post" action="account.php?action=1">
            {foreach from=$Editdata item="editdatarow"}
            <div class="panel-body">
              <input type="hidden" name="txtlang" value="{$editdatarow.lang}">
              <input type="hidden" name="txtacc_account_id" value="{$editdatarow.acc_account_id}">
              <input type="hidden" name="txtoth_data_flag" value="{$editdatarow.oth_data_flag}">
              <input type="hidden" name="txtfield1" value="{$editdatarow.field1}">
              <input type="hidden" name="txtfield2" value="{$editdatarow.field2}">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtaccount_name">Account Name:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="account_name" id="txtaccount_name" name="txtaccount_name" class="form-control" value="{$editdatarow.account_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtaccount_type">Account Type :</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="account_type" id="txtaccount_type" name="txtaccount_type" class="form-control" value="{$editdatarow.account_type}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtrelated_type">Related Type:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="related_type" id="txtrelated_type" name="txtrelated_type" class="form-control" value="{$editdatarow.related_type}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="txtrelated_id">Related Id:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="related_id" id="txtrelated_id" name="txtrelated_id" class="form-control" value="{$editdatarow.related_id}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtopening_bal">Opening Balence</label>
              <div class="col-sm-9">
                <input type="text" placeholder="opening_bal" id="txtopening_bal" name="txtopening_bal" class="form-control" value="{$editdatarow.opening_bal}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtopening_bal_cr_dr">Opening_bal_cr_dr:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="opening_bal_cr_dr" id="txtopening_bal_cr_dr" name="txtopening_bal_cr_dr" class="form-control" value="{$editdatarow.opening_bal_cr_dr}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtopening_bal_date">Opening_bal_date:</label>
              <div class="col-sm-9">
                <input NAME="txtopening_bal_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" value="{$editdatarow.opening_bal_date}" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtmain_acc_account_id">Main_acc_account_id:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="main_acc_account_id" id="txtmain_acc_account_id" name="txtmain_acc_account_id" class="form-control" value="{$editdatarow.main_acc_account_id}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtmain_branch_id">Main_branch_id:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="main_branch_id" id="txtmain_branch_id" name="txtmain_branch_id" class="form-control" value="{$editdatarow.main_branch_id}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="txtacc_fianancial_year_id">Acc_fianancial_year_id:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="acc_fianancial_year_id" id="txtacc_fianancial_year_id" name="txtacc_fianancial_year_id" class="form-control" value="{$editdatarow.acc_fianancial_year_id}">
              </div>
            </div>
            {/foreach}
            <div class="panel-footer text-right">
              <button class="btn btn-info" account_type_id="submit" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" account_type_id="reset">Reset</button>
            </div>
          </form>
          <!--===================================================--> 
          <!--End Horizontal Form--> 
        </div>
      </div>
      <div class="col-sm-7 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Account List </h3>
          </div>
          <div class="panel-body" >
            <form name="frm_new" action="account.php"  method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Account Name</label>
                    <select NAME="txtkeyword" ID="txtkeyword" class="form-control selectpicker" >
                      <option value="">Select</option>
                      
                      
                
                   
                      
                    {html_options values=$account_arr.account_name output=$account_arr.account_name selected=$reqkeyword}
                 
              
              
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1">Account Type</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1" value="{$reqkeyword1}" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                  </div>
                </div>
              </div>
              <table id="lookup-table" class="table table-striped table-bordered"  >
                <thead>
                  <tr>
                    <th class="min-desktop">Sr.no</th>
                    <th class="min-desktop">Account Name</th>
                    <th class="min-desktop">Account Type</th>
                    <th>Related Type</th>
                    <th>Related Id</th>
                    <th>Opening Balence</th>
                    <th>Opening_bal_cr_dr</th>
                    <th>Opening_bal_date</th>
                    <th>Main_acc_account_id</th>
                    <th>Main_branch_id</th>
                    <th class="min-desktop">Acc_fianancial_year_id</th>
                    <th class="min-desktop">Action</th>
                  </tr>
                </thead>
                <tbody>
                
                {foreach from=$account item="row"}
                <tr>
                  <td>{$row.cnt}</td>
                  <td>{$row.account_name}</td>
                  <td>{$row.account_type}</td>
                  <td>{$row.related_type}</td>
                  <td>{$row.related_id}</td>
                  <td>{$row.opening_bal}</td>
                  <td>{$row.opening_bal_cr_dr}</td>
                  <td>{$row.opening_bal_date}</td>
                  <td>{$row.main_acc_account_id}</td>
                  <td>{$row.main_branch_id}</td>
                  <td>{$row.acc_fianancial_year_id}</td>
                  <td class="min-desktop"><a class="btn btn-primary fa fa-edit" href="account.php?acc_account_id={ $row.acc_account_id }" ></a> <a class="btn btn-danger fa fa-trash" href="account.php?action=4&acc_account_id={$row.acc_account_id|escape}"></a></td>
                </tr>
                {foreachelse}
                <tr>
                  <td colspan="5">No Record Found </td>
                </tr>
                {/foreach}
                  </tbody>
                
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<script language="javascript">
		function fnSubmit(){
			
			document.frm_new.method = "post";
			document.frm_new.action = "account.php?action=1";
			document.frm_new.submit();
		}
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
<script language="javascript">
	$(window).load(function(){
	$('#more-button1').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	
	$('.obfuscator-search').click(function(){
	 if($('.search-box').hasClass('active')){       
		$('.search-box').removeClass('active'); 
	 }
	 else{
		$('.search-box').addClass('active'); 
	 }
	});
	});
</script> 
{/literal}

{include file="layout/footer.htm"}