{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-7 eq-box-sm">
        <div class="panel panel-bordered-default">
          <div class="panel-body">
            <form name="frmBetList1" action="customer.php" method="post">
              <div class="search-box">
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword">Customer Name</label>
                    <input type="text" class="form-control" name="txtkeyword" id="txtkeyword"
                                               value="{$reqkeyword}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword1">Customer Address</label>
                    <input type="text" class="form-control" name="txtkeyword1" id="txtkeyword1"
                                               value="{$reqkeyword1}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword2">Chit Group Number</label>
                    <input type="text" class="form-control" name="txtkeyword2" id="txtkeyword2"
                                               value="{$reqkeyword2}"/>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-2 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="txtkeyword3">Ticket Number</label>
                    <input type="text" class="form-control" name="txtkeyword3" id="txtkeyword3"
                                               value="{$reqkeyword3}"/>
                  </div>
                </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-6 col-md-6">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search"/>
                    <input type="button" value="Add New customer" class="btn btn-success"
                                               onClick="location.href='customer.php?action=1'">
                    <input type="button" value="Show Full List" class="btn btn-success"
                                               onClick="location.href='customer.php'">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Chit Group No.</th>
                <th>Ticket No.</th>
                <th>Chit Value</th>
                <th>Branch</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            
            {foreach from=$customer item="row"}
            <tr>
              <td>{$row.cnt}</td>
              <td>{$row.customer_name}</td>
              <td>{$row.address}</td>
              <td>{$row.chit_group_no}</td>
              <td>{$row.ticket_no}</td>
              <td>{$row.chit_value}</td>
              <td>{$row.branch}</td>
              <td><a class="btn btn-primary "
								href="customer.php?action=2&customer_id={$row.customer_id|escape}">Edit</a></td>
            </tr>
            {foreachelse}
            <tr>
              <td colspan="5">No Record Found</td>
            </tr>
            {/foreach}
              </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<script language="javascript">
    $(window).load(function () {
        $('#more-button1').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });

        $('.obfuscator-search').click(function () {
            if ($('.search-box').hasClass('active')) {
                $('.search-box').removeClass('active');
            }
            else {
                $('.search-box').addClass('active');
            }
        });
    });
</script> 
<script LANGUAGE="JavaScript" SRC="date-picker.js"></script> 
{/literal}
{include file="layout/footer.htm"} 