{include file="layout/header.htm"}
<div id="page-content">
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel"> 
          
          <!--Block Styled Form --> 
          <!--===================================================-->
          <form name="frm_new" action="customer.php" method="post" ENCTYPE="multipart/form-data">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer Name</label>
                    <input name="txtcustomer_name" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Designation</label>
                    <input name="txtdesignation" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <input name="txtaddress" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Group No.</label>
                    <input name="txtchit_group_no" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Ticket No.</label>
                    <input name="txtticket_no" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <input name="txtbranch" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Value </label>
                    <input name="txtchit_value" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Agreement Date</label>
                    <input NAME="txtagreement_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Period</label>
                    <input name="txtchit_period" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Commencing from</label>
                    <input NAME="txtcommencinf_from" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Terminating On</label>
                    <input NAME="txtterminating_on" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Monthly Subscription</label>
                    <input name="txtmonthly_sub" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Chit Registration number</label>
                    <input name="txtchit_reg_no" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Auction Amount</label>
                    <input name="txtauction_amount" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Auction Date</label>
                    <input NAME="txtauction_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Payment Amount</label>
                    <input name="txtpayment_amount" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Deduction amount</label>
                    <input name="txtdeduction_amount" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cheque No.</label>
                    <input name="txtcheque_no" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Cheque Date</label>
                    <input NAME="txtcheque_date" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Drawn On</label>
                    <input NAME="txtdrawn_on" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
               </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Installments Cleared</label>
                    <input name="txtinstallments_cCleared" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Pending Amount</label>
                    <input name="txtpending_amount" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Complainant </label>
                    <input name="txtcomplainant" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Collection Agent</label>
                    <input name="txtcollection_agent" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Court</label>
                    <input name="txtcourt" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Judge</label>
                    <input name="txtjudge" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Advocate</label>
                    <input name="txtadvocate" type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Opp. Advocate</label>
                    <input name="txtopp_advocate" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="panel-footer text-right">
                <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
                <button class="btn btn-info" type="button" onClick="location.href='customer.php'">Back</button>
              </div>
            </div>
          </form>
          <!--===================================================--> 
          <!--End No Label Form--> 
        </div>
      </div>
    </div>
  </div>
  <!--===================================================--> 
  <!--End page content--> 
</div>
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">

    function fnSubmit() {
        if (document.frm_new.txtcustomer_name.value == "") {
            alert("Please enter customer Name");
            return false;
        }
        if (document.frm_new.txtaddress.value == "") {
            alert("Please enter customer Address");
            return false;
        }
        if (document.frm_new.txtchit_group_no.value == "") {
            alert("Please enter Chit Group No.");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "customer.php?action=3";
        document.frm_new.submit();
    }
/*     $(function() {
        $('#txtFormDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months',
            onSelect: function (date1) {
                updateMaturityDate();
            }
        }).datepicker("setDate", new Date());
        $('#txtChequeDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            viewMode: 'months'
        });

       $("#txtSearchMemberName").autocomplete({
            source: function (request, response) {
                selectedBranch = $("#txtBranchCode").val();
                if (selectedBranch > 0) {
                    $.ajax({
                        url: "member.php?action=search&type=member&branch=" + selectedBranch,
                        dataType: "json",
                        data: {
                            searchName: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    id: item.id,
                                    label: item.label,
                                    value: item.value
                                };
                            }));
                        }
                    });
                } else {
                    alert("select Branch to Search");
                }
            },
            minLength: 2,
            select: function (event, ui) {
                $("#txtMemberID").val(ui.item.id);
            }
        });
        $( "#txtPaymentType" ).on('change',function () {
            $( "#DivChequeDetails" ).hide();
            if($( "#txtPaymentType" ) .val() == 'cheque'){
                $( "#DivChequeDetails" ).show();
            }
        });
    });*/
</script> 
<script src="plugins/dropzone/dropzone.min.js"></script> 
{/literal}

{include file="layout/footer.htm"}