{include file="layout/header_lgl.htm"}
<div id="page-content" >
  <div class="row">
    <div class="eq-height">
      <div class="col-sm-12 eq-box-sm">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" align="center"><strong>Edit Legal Notice Details</strong></h3>
          </div>
          <form name="frm_new" action="lgl_legal_notice.php" method="post" ENCTYPE="multipart/form-data">
            {foreach from=$data item="row"}
            <input type="hidden" name="txtlegal_notice_id" value='{$row.legal_notice_id}'>
            <div class="panel-body">
              <div class="row">
               <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Case Category</label>
                    <select NAME="txtcategory_id" ID="txtcategory_id" class="form-control " onChange="javascript:fnchange_branch();"  >
                      <option value="">Select</option>
                      {html_options values=$category_arr.category_id output=$category_arr.category_name selected=$row.category_id}
                    </select>
                  </div>
                </div>   
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <select NAME="txtcompany_id" ID="txtcompany_id" class="form-control " onChange="javascript:fnchange_cmp();">
                      	<option value="">Select</option>
						{html_options values=$comp_arr.company_id output=$comp_arr.company_name selected=$row.company_id}
                    </select>
                  </div>
                </div>
                <div id="divbranch_name" class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Branch</label>
                    <select NAME="txtmain_branch_id" ID="txtmain_branch_id" class="form-control " onChange="javascript:fnchange_branch();" >
                      <option value="">Select</option>
                      {html_options values=$branch_arr.branch_id output=$branch_arr.branch_name selected=$row.main_branch_id}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cause of Action Date</label>
                    <textarea id="txtcause_of_action"  name="txtcause_of_action" rows="1" class="form-control" placeholder="">{$row.cause_of_action}</textarea>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Status</label>
                    <input  id="txtnotice_status" name="txtnotice_status" type="text" class="form-control" value="{$row.notice_status}">
                  </div>
                </div>
              </div>
              <div class="row">
                <table width="100%" align="left"  class='mdl-data-table  mdl-shadow--2dp '>
                  <tr>
                    <th>Customer Name</th>
                    <th>Legal Notice Date</th>
                    <th>Send On</th>
                    <th>Received On</th>
                    <th>Ack/Received On</th>
                    <th>Status of Acknowledgement</th>
                  </tr>
                  <tr>
                    <td><div id="divcustomer_name" class="form-group">
                          <label class="control-label"></label>
                          <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fncust_change();">
                            <option value="">Select</option>
                      		{html_options values=$customer_arr.customer_id output=$customer_arr.customer_name selected=$row.customer_id}
                          </select>
                      </div></td>
                    <td><input NAME="txtlegal_notice_date" type="date" id="txtlegal_notice_date" value="{$row.legal_notice_date}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtsend_on" type="date" id="txtsend_on" value="{$row.send_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtreceived_on" type="date" id="txtreceived_on" value="{$row.received_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtack_received_on" type="date" id="txtack_received_on" value="{$row.ack_received_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input  id="txtstatus_postal_ack" name="txtstatus_postal_ack" value="{$row.status_postal_ack}" type="text" class="form-control" ></td>
                  </tr>
                </table>
              </div>
              <div style="overflow:auto">
                <table width="100%" align="left"  class='mdl-data-table  mdl-shadow--2dp '>
                  <tr>
                    <th>Guarantor Name</th>
                    <th>Legal Notice Date</th>
                    <th>Send On</th>
                    <th>Received On</th>
                    <th>Ack/Received On</th>
                    <th>Status of Acknowledgement</th>
                  </tr>
                  {assign var="cnt" value="0"}
                  {foreach from=$data1 item="row1"}
                  {assign var="cnt" value=$cnt+1}
                  <tr>
                    <td>
                    <input  id="txtguarantor_name{$cnt}" name="txtguarantor_name{$cnt}" type="text" class="form-control" value="{$row1.guarantor_name}" readonly="readonly">
                    <input  id="txtguarantor_id{$cnt}" name="txtguarantor_id{$cnt}" type="hidden" class="form-control" value="{$row1.guarantor_id}" readonly="readonly">
                      
                    <input  id="txtlegal_notice_id{$cnt}" name="txtlegal_notice_id{$cnt}" type="hidden" class="form-control" value="{$row1.legal_notice_id}" readonly="readonly">
                     
                    <input type="hidden" name="txt_hid_num_par" id="txt_hid_num_par" value="{$num_of_par}"> </td>
                    <td><input NAME="txtlegal_notice_date{$cnt}" id="txtlegal_notice_date{$cnt}" value="{$row1.legal_notice_date}" type="date" id="demo-msk-date" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtsend_on{$cnt}" type="date" id="txtsend_on{$cnt}" value="{$row1.send_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtreceived_on{$cnt}" type="date" id="txtreceived_on{$cnt}" value="{$row1.received_on}"placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input NAME="txtack_received_on{$cnt}" type="date" id="txtack_received_on{$cnt}" value="{$row1.ack_received_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" /></td>
                    <td><input  id="txtstatus_postal_ack{$cnt}" name="txtstatus_postal_ack{$cnt}" value="{$row1.status_postal_ack}" type="text" class="form-control" ></td>
                  </tr>
                  {/foreach}
                </table>
              </div>
              
              <!--              <div class="row">
                <div id="divcustomer_name" class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select NAME="txtcustomer_id" ID="txtcustomer_id" class="form-control " onChange="javascript:fnchange_custmoer();">
                      <option value="">Select</option>
                      
                      
                                                {html_options values=$custmor_arr.customer_id output=$custmor_arr.customer_name selected=$row.customer_id}
                      
                    
                    
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Legal Notice Date</label>
                    <input NAME="txtlegal_notice_date" type="date" id="demo-msk-date" value="{$row.legal_notice_date}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Send On</label>
                    <input NAME="txtsend_on" type="date" id="demo-msk-date" value="{$row.send_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Received On</label>
                    <input NAME="txtreceived_on" type="date" id="demo-msk-date"  value="{$row.received_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Ack/Received On</label>
                    <input NAME="txtack_received_on" type="date" id="demo-msk-date" value="{$row.ack_received_on}" placeholder="dd/mm/yyyy" data-mask="99/99/9999" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label for="demo-msk-date" class="control-label">Status of Postal Acknowledgement</label>
                    <input  id="txtstatus_postal_ack" name="txtstatus_postal_ack" type="text" class="form-control" value="{$row.status_postal_ack}" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Cause of Action Date</label>
                    <textarea id="txtcause_of_action"  name="txtcause_of_action" rows="3" class="form-control" placeholder="">{$row.cause_of_action}</textarea>
                  </div>
                </div>
				<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Status</label>
                    <input  id="txtnotice_status" name="txtnotice_status" type="text" class="form-control" value="{$row.notice_status}">
                  </div>
                </div>                
--> 
            </div>
            {/foreach}
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="button" onClick="javascript: fnSubmit();">Submit</button>
              <button class="btn btn-info" type="button" onClick="location.href='lgl_legal_notice.php'">Back</button>
            </div>
          </form>
        </div>
        <!--===================================================--> 
        <!--End No Label Form--> 
      </div>
    </div>
  </div>
</div>
<!--===================================================--> 
<!--End page content-->
{literal} 
<SCRIPT LANGUAGE="JavaScript" SRC="includes/shadow_layer-0.0.2.js" TYPE="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/frmvalidation.js" type="text/JavaScript"></SCRIPT> 
<SCRIPT language="JavaScript" src="includes/inventory_ajax_function.js" type="text/JavaScript"></SCRIPT> 
<script language="javascript">
function fnchange_cmp() {
	
	if(document.getElementById("txtcompany_id").value != ""){
	var	company_id = document.getElementById("txtcompany_id").value;
		ajax_server_check();
		xmlHttp.onreadystatechange=function(){
			if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
				var xmlDoc  		 = xmlHttp.responseXML;
				branch_name		 = xmlDoc.getElementsByTagName("branch_name")[0].childNodes[0].nodeValue;
				document.getElementById("divbranch_name").innerHTML = branch_name;
			}
		}
		var url_1;
		url_1 = "inventory_ajax_function.php?get_branch=1&company_id="+company_id;
		xmlHttp.open("GET",url_1,true);
		xmlHttp.send(null);
	}
} 


	function fnchange_branch() {
		if((document.getElementById("txtmain_branch_id").value != "") && (document.getElementById("txtcategory_id").value != "")){
			var	branch_id = document.getElementById("txtmain_branch_id").value;
			var	category_id = document.getElementById("txtcategory_id").value;
	
			ajax_server_check();
			xmlHttp.onreadystatechange=function(){
				if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
					var xmlDoc  		 = xmlHttp.responseXML;
					customer_name		 = xmlDoc.getElementsByTagName("customer_name")[0].childNodes[0].nodeValue;
					document.getElementById("divcustomer_name").innerHTML = customer_name;
				}
			}
			var url_1;
			url_1 = "inventory_ajax_function.php?get_details_lgl_notice=1&branch_id="+branch_id+"&category_id="+category_id;
			xmlHttp.open("GET",url_1,true);
			xmlHttp.send(null);
		}
	} 
	
	function fnSubmit() {
        if (document.frm_new.txtcustomer_id.value == "") {
            alert("Please select Customer Name");
            return false;
        }
        if (document.frm_new.txtcategory_id.value == "") {
            alert("Please Select Category");
            return false;
        }
		
        document.frm_new.method = "post";
        document.frm_new.action = "lgl_legal_notice.php?action=5";
        document.frm_new.submit();
    }
</script> 
<script src="js/smartadmin/plugins/dropzone/dropzone.min.js"></script> 
{/literal}
{include file="layout/footer.htm"}