            </div> <!-- content-container # started in header.htm -->
            <footer id="footer">
                <div class="show-fixed pull-right">
                    <ul class="footer-list list-inline">
                        <li>
                            <p class="text-sm">SEO Proggres</p>
                            <div class="progress progress-sm progress-light-base">
                                <div style="width: 80%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </li>
                        <li>
                            <p class="text-sm">Online Tutorial</p>
                            <div class="progress progress-sm progress-light-base">
                                <div style="width: 80%" class="progress-bar progress-bar-primary"></div>
                            </div>
                        </li>
                        <li>
                            <button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
                        </li>
                    </ul>
                </div>
                <div class="hide-fixed pull-right pad-rgt">Currently v0.1(Beta)</div>
                <p class="pad-lft">&#0169; 2017 RS Computers Pvt. Ltd.</p>
            </footer>
            <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        </div><!-- container -->

        <script src="js/bootstrap.min.js"></script>
        <script src="js/smartadmin/plugins/fast-click/fastclick.min.js"></script>
        <script src="js/smartadmin/plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
        <script src="js/smartadmin/plugins/metismenu/metismenu.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/smartadmin/plugins/switchery/switchery.min.js"></script>
        <script src="js/smartadmin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="js/smartadmin/plugins/screenfull/screenfull.js"></script>
        <!--<script src="js/smartadmin/js/demo/form-layout.js"></script>-->
        <!--DataTables [ OPTIONAL ]-->
        <script src="js/smartadmin/plugins/datatables/media/js/jquery.dataTables.js"></script>
        <script src="js/smartadmin/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
        <script src="js/smartadmin/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
        <!--DataTables Sample [ SAMPLE ]-->
        <script src="js/tables-datatables.js"></script>
        <!--DataTables Sample [ SAMPLE ]-->
        <script src="js/smartadmin/js/demo/form-layout.js"></script>
    </body>
</html>