<!--NAVBAR-->
<!--===================================================-->

{if $user.type != ""}
<header id="navbar">
    <div id="navbar-container" class="boxed">
        <!--Brand logo & name-->
        <!--================================-->
        <div class="navbar-header">
            <a href="sur_admin_home.php" class="navbar-brand">
                <i class="fa fa-money brand-icon"></i>
                <div class="brand-title">
                    <span class="brand-text">eChitLegal</span>
                </div>
            </a>
        </div>
        <!--================================-->
        <!--End brand logo & name-->
        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-right">
                <!--User dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                <li id="dropdown-user" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                        <!--<span class="pull-right"> <img class="img-circle img-user media-object" src="img/av1.png" alt="Profile Picture"> </span>-->
                        <div class="username hidden-xs">{$user.name}</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right with-arrow">
                        <!-- User dropdown menu -->
                        <ul class="head-list">
                            <li>
                                <a href="sur_adm_user_edit.php"> <i class="fa fa-user fa-fw"></i> Profile </a>
                            </li>
                            <li>
                                <a href="{if $client_version != ""}sur_loginb.php{else}sur_login.php?logout{/if}"> <i class="fa fa-sign-out fa-fw"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End user dropdown-->
            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->
        {if $user.type != ""}
        <nav class="navbar navbar-default megamenu">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div id="defaultmenu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- end navbar-header -->

                        {assign var='usertypename' value=$user.type}
                        {assign var='menufile' value="mn_file_$usertypename.htm"}
                        {include file=$menufile}

                </ul>
                <!-- end nav navbar-nav -->
            </div>
            <!-- end #navbar-collapse-1 -->
        </nav>
        {/if}
        <!-- end navbar navbar-default megamenu -->
    </div>
</header>
{/if}
<!--===================================================-->
<!--END NAVBAR-->